#apps {
  padding: 40px 0;
  background-color: #fccf01;
  text-align: center;

  h2{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 26px;
    color:#666666;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    max-width: 113px;
  }

  a{

  &:nth-child(1){
    margin-right: 10px;
  }
  &:nth-child(2){
    margin-left: 10px;
  }
  }
}
