#banner-invesbot {
  padding: 40px 0;
  padding-bottom: 0;



  .bannr-invesbot{
    // background-color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    min-height: 450px;
    position: relative;
    margin-bottom: 0;
    position: relative;

    h1{
      font-family: 'Nunito';
      color: #fff;
      font-weight: 300;
      font-size: 56px;
      span{
        font-weight: 700;
      }
    }
    ul {
      list-style: none;
      list-style-image: url("/wps/wcm/connect/8fabddc3-69d9-4eff-89e8-f172d0b40a2e/icon-list-yellow.png?MOD=AJPERES");
      padding-left: 4%;
      li{
        color: #fff;
        font-family: 'Nunito';
        font-size: 19px;
      }
    }

    .img-banner{
      img{
        position: absolute;
        right: 0;
        top: -6%;
        max-width: 700px;
        width: 100%;
      }
    }
  }

  @media ( max-width: 1024px){
    .bannr-invesbot{
      padding: 0;
      min-height: 406px;

      h1{font-size: 48px}

      .img-banner{
        img{
          max-width: 565px;
          top: -4px;
        }
      }
    }

  }
  @media (max-width: 768px){
    .bannr-invesbot{

      .img-banner{ display: none;}
    }
  }
  @media (max-width: 560px){
    .banner-invesbot{
      .img-banner{
        display: none;
      }
    }
  }
}
