#beneficios{
  padding: 40px 0;
  background-color: #f5f7f8;

  .container-beneficios{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-beneficios{
  background-color: transparent;
  border:none;

    img{
      max-width: 58px;
      width: 100%;
    }
    .caption{
      h3{
        font-family: 'Nunito';
        font-size: 24px;
        font-weight: bold;
        color: #666666;
        margin-bottom: 20px;
      }
      p{
        font-family: 'Nunito';
        font-size: 16px;
        color: #666666;
        font-weight: 400px;
      }
    }
  }
}
