#bloques{

  .container-opcion{
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align_items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: colum;
    flex-direction: colum;

    .item{
      width: 33.33%;
      height: auto;
      min-height: auto;
      text-align: center;

      .opcion{
        position: relative;
        min-height: 327px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .caption{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);

          h2 {

            font-family: 'Nunito';
            font-weight: 700;

            a{color: #fff;
              font-size: 37px;

              &:hover, &:active, &:focus{
                text-decoration: none;
              }
            }
          }
          p{
            font-family: 'Nunito';
            color:#fff;
            font-weight: 400;
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .container-opcion{
      .item{
        width: 33.3%;

        .opcion{

          .caption{
            min-width: 260px;
            h2{
              a{
                font-size: 30px;
              }
            }
            p{
              font-size: 16px;
            }
              a{
                font-size: 14px;
              }
            }
          }
        }
      }



  }
  @media (max-width: 767px){

    h2{
      font-size: 36px;
    }
    .container-opcion{
      .item{
        width: 100%;

        .opcion{

          .caption{
            a {
              font-size: 25px;
            }
            }
          }
        }
      }
    }
  @media (max-width: 560px){

    h2{
        font-size: 28px;

    }

    .container-opcion{
      .item{
        width: 100%;

        .opcion{
          min-height: 220px;

          .caption{
            h2{
              a{
                font-size: 20px;
              }
            }
            a{
              font-size: 18px;
            }
          }
        }


      }
    }
  }
}
