#consejos{
  padding: 40px 0;

  h2{
    font-family: 'nunito';
    font-size: 43px;
    font-weight: bold;
    color:#666666;
    margin-bottom: 30px;
  }
  .item-consejos{
    border-left: 4px solid #fccf01;
    min-height: 150px;

    p{
      font-family:'nunito';
      font-weight: 300px;
      font-size: 19px;
      color: #666666;
      padding-left: 15px;
      span{font-weight: bold;}
    }
  }
}
