#demo{
  padding: 40px 0;

  img{
    position: absolute;
    width: 992px;
    max-width: 830px;
    left: -23%;
    top: -150px;
  }

  .content-demo{
    h2{
      color: #666666;
      font-family: 'nunito';
      font-size: 26px;
      font-weight: 800;
    }
    p{
      font-family: 'nunito';
      font-size: 16px;
      font-weight: 400;
      color: #666666;
    }
    span{
      font-family: 'nunito';
      font-weight: 700;
      font-size: 16px;
      color:#07468b;
      display: block;
      margin-top: 5%;
    }
  }
  @media (max-width: 1024px){
    img{
      max-width: 625px;
      top: -128px;
    }
  }
  @media (max-width: 767px){
    img{
      position: relative;
    top: 0;
    left: 0%;
      max-width: 600px;
    }
  }
  @media (max-width: 560px){
    img{
      position: relative;
    max-width: 100%;
    left: 0%;
    top: 0;
    }
  }
}
