#dudas{
  padding: 30px 0;
  background-color: #eeeeee;

  h2{
    font-family: 'nunito';
    font-weight: 700;
    font-size: 26px;
    color: #666666;
  }

  p{
    font-family: 'nunito';
    font-weight: 400;
    font-size: 16px;
    margin:0;
    color: #666666;

  }

}
