#fqa {
  background-color: #f5f7f8;
  padding: 40px 0;

  h2{
    font-family: 'Nunito';
    font-weight: bold;
    color: #666666;
    font-size: 43px;
    margin-bottom: 30px;
  }

  //
  .panel-fqa {
    .panel {
      background-color: transparent;
      color: #58595B;
      box-shadow: none;
      position: relative;

      .panel-heading {
        background-color: transparent;
        color: #58595B;
        padding: 12px 0;

        .panel-title .unactive{
          tranform: rotate 180deg;
        }
        .panel-title .active{
          tranform: rotate 0deg;
        }


        h3 {

          &::after{
            content: "";
            position: absolute;
            background-color: #d1d3d4;
            height: 1px;
            width: 90%;
            top: -3px;
            left: 5%;
            z-index: 2;
          }

          .collapsed {


            &::after{
              font-family: 'Glyphicons Halflings';
              content:"\e114";
            }

          }

          a{
            display: block;

            &::after{
              font-family: 'Glyphicons Halflings';
              content:"\e113";
              position: absolute;
              right: 6%;
            }

            &:hover, &:focus {
              color: #FFD200;
            }

          }
        }
      }
      .panel-body {
        padding-left: 4em;
        ul {
          list-style: none;
          li{
            background: none;
            &::before {
              content: "•";
               color: #FFD200;
                display: inline-block;
               width: 1em;
                margin-left: -1em;
                position: absolute;
            }
            ul{
              padding-left: 4%;
            }
          }
        }
      }
    }

  }
  @media (max-width: 1024px) {

      background-size: 505px;

  }
  //
  @media (max-width: 767px){


  }
  @media (max-width: 480px){

  .contenedor-fqa {

    .titulos {

      .Rectangle  {
        width: 110px;
        height: 55px;

        img {
          max-width: 40px;
        }
      }

      p{font-size: 15px;}
      h2 {font-size: 15px;}
    }
  }

  .panel-fqa {
    .panel-heading {
      h3 {padding-right: 40px;}
    }
  }


    h2 {
      font-size: 20px;
    }

    ul{
      li{
        h3{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
      }
    }

  }
}
