#pasos {
  background-color: #58595b;
  padding: 40px 0;

  h2{
    color: #fdd630;
    font-family: 'nunito';
    font-weight: bold;
    font-size: 43px;
  }

  .item {
    display: table;
    background-color: #fff;
    margin: 15px;
    padding: 30px 30px 0;
    min-height: 360px;

    span{
      color: #fdd630;
      font-family: 'nunito';
      font-weight: bold;
      font-size: 44px;
    }
    h3{
      font-family: 'nunito';
      font-weight: bold;
      font-size: 22px;
      color:#666666;
      margin-top: 0;
    }
    p{
      font-family: 'nunito';
      font-weight: 400;
      font-size: 16px;
      color:#666666;
    }
    img{

    }
  }
  .btns-pasos {
    text-align: center;

    .btn-video{
      img{
        display: inline-block;
      }
    }
  }

  .nextSliderProjectRight{
    position: relative;
    top: -63px;
    left: 88%;
    cursor: pointer;
  }
  .nextSliderProjectLeft {
    position: absolute;
    top: -63px;
    right: 0;
    cursor: pointer;
  }

  @media (max-width: 1024px) {

    .nextSliderProjectRight{
      left: 85%;
    }
    .item{
      min-height: 323px;
      padding: 30px 20px 0;

      span{
        font-size: 42px;
      }
      h3{
        font-size: 21px;
      }
      img{
        position: absolute;
        top: 12px;
        width: 100%;
      }
    }
    .btns-pasos {
      .btn-demo{
        font-size: 14px;
      }
      .btn-video{
        img{
          max-width: 50px;
          position: initial;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .item{
      img{
        position: relative;
        top:0;
      }
    }
      .btn-video{
        img{
          left: 0;
          top:5px;
        }
      }
  }
  @media (max-width: 560px) {

    .nextSliderProjectRight{
      left: 55%;
      top: 0;
    }
    .nextSliderProjectLeft{
      top: 0;
    }

    .item{
      img{
        position: relative;
        top:0;
      }
    }
  }
}
