#banner-profile{

  .banner-profiles{
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    min-height: 430px;
    position: relative;
    margin-bottom: 0;
    position: relative;
    padding: 6% 0;

    .col-left{background-image: none;}


    img{
      border-radius: 50%;
      border: 4px solid #fff;
      box-shadow: 0 0 2px #565656;
      max-width: 240px;
      max-height: 240px;
    }

    h1{
      font-size: 56px;
      font-family: 'nunito';
      font-weight: bold;
    }
    h3{
      font-size: 24px;
      line-height: 1.08;
      color: #6d6e71;
      font-family: nunito;
      font-weight: 600;
      span{
        &:first-child::after{
          content: "|";
          padding: 0 10px;
        }
      }
    }
    ul {
      li{

        display: inline;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -.3px;
        margin: 10px 0;

        &::after{
          content: "|";
          padding: 0 10px;
        }

        &:last-child:after{
          content:"";

        }
      }
    }

  }


  @media (max-width: 767px) {

  .banner-profiles{
    text-align: center;
    padding: 0;
  }

    .col-left{
      background-image: url('../images/bib/back-profile.png');
      background-position: -136px 0;
      background-repeat: no-repeat;
      -moz-background-size: cover;
          -webkit-background-size: cover;
          -o-background-size: cover;
      padding: 4% 0 14% 0;

      img{
        display: block;
        margin: auto;
      }
    }
    .col-right{
      padding-bottom: 15%;
    }
  }
}
