#relacionados{
  padding: 40px 0;
  overflow: hidden;

  .contenerdor-profiles{
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 5px 21px -2px #636363;
    padding: 60px 6% 90px 6%;
    margin-bottom: 20px;
    position: relative;
    display: flow-root;

    &:before {
      content: "";
      position: absolute;
      width: 1920px;
      height: 100%;
      max-height: 60%;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
      background-color: rgba(240, 241, 241, 0.55);
      display: block;
      overflow: hidden;
      z-index: -2;
    }

    .allies{
      position: relative;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 0 14px -2px #636363;
      max-width: 445px;
      margin: 15px;

      .thumbnail {
        border: none;
        background-color: #ebebeb;
        min-height: 200px;
        margin-bottom: 6em;

        img{
          max-width: 225px;
          position: absolute;
          left: 50%;
          top:15%;
          transform: translate(-50%, -15%);
            -webkit-transform: translate(-50%, -15%);
        }

      }
      .caption{
        padding-bottom: 15%;

        h4{
          position: relative;
          color:#6d6e71;
          font-family: 'nunito';
          font-size: 21px;
          padding-bottom: 20px;
          font-weight: 600;
          border-bottom: 0;

          &:after{
            content: "";
            position: absolute;
            width: 68px;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #6d6e71;
            display: block;
          }
        }
        p{
          font-family: 'nunito';
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }

  @media (max-width: 560px) {
    overflow: hidden;


    .contenerdor-profiles{
      width: 85%;
      margin: auto;


      .allies{
        box-shadow: 0 0 6px -2px #636363;
        margin: 15px 6px;

        .thumbnail{
          max-height: 150px;
          min-height: 150px;

          img{

            max-width: 168px;
            height: auto;
          }
        }
      }
    }
  }
}
