#sectores{

  h2{
    font-family: 'nunito';
  font-weight: bold;
  color: #292929;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -.6px;
  margin-bottom: 10px;
 }
 p{
   font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #808285;
 }
}
