.sfc-notification{

    > div{
        width: 100%;
        background-color: #e6e7e8;
        height: 646px;
        padding: 80px 0;
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
        > div{
            ul{
                list-style-type: disc !important;
                padding: 50px;
                li{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.29;
                    letter-spacing: -0.2px;
                    color: #292929;
                    padding: 14px 0;

                }
            }
            div.noti-sfc-total{

                width: 100%;
                height: 216px;
                border-radius: 5px;
                box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
                background-color: #16c98d;
                padding: 25px 30px;
                
                >  div.sfc-bord-white{
                        position: relative;
                        &::after{
                            content: url('../images/simulador-finan-credito/path-5.svg');
                            position: absolute;
                            right: -8px;
                            top: 5px;
                        }
                        a{
                            font-family: 'Nunito', sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.2;
                            letter-spacing: -0.4px; 
                            color: #fff;
                            position: relative;
                            margin: 0 15px 0 0;
                            padding: 10px 0  0 25px;
                            margin: 10px 0;
                            
                            
                        }
                        a:last-child{
                            margin-left: 18px;
                        }
                        a.downloadsfc{
                            
                            &::before{
                            content: url('../images/simulador-finan-credito/download.svg');
                            position: absolute;
                            left:-5px;
                           

                            }
                        }
                        a.shatesfc{
                            
                            &::before{
                            content: url('../images/simulador-finan-credito/share.svg');
                            position: absolute;
                            left:-5px;
                           

                            }
                        }
                        > div{
                            padding: 18px 0;
                        }

                        
                }
                > div{
                  
                   > div.ima-icon-sfc{
                        width: 136px;
                        height: 136px;
                        border-radius: 50%;
                        background-color: #fff;
                        position: relative;
                        > img.anuncio{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: 0 auto;
                            transform: translate(-50%, -50%);
                           -webkit-transform: translate(-50%, -50%);
                        }
                    }
                    p{
                        font-size: 28px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.07;
                        letter-spacing: -0.6px;
                        color: #ffffff;
                        font-family: 'Nunito', sans-serif;
                    }
                    span{
                        font-size: 40px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: -0.6px;
                        color: #ffffff;
                        font-family: 'Nunito', sans-serif;
                        padding: 12px 0;
                        border-bottom: 1px solid #fff;
                        display: block;
                        width: 100%;
                        
                    }
                    a.sfc-btn{
                        width: 224px;
                        height: 43px;
                        border-radius: 3px;
                        background: #00448c;
                        color: #fff;
                        font-family: 'Nunito', sans-serif;
                        position: relative;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: -0.3px;
                        display: block;
                        padding: 11px 0;
                        &::before{
                            content: url('../images/propuesta-valor/chevron-right.svg');
                            position: absolute;
                            left:15px;
                            top: 14px;
                            transition: 1s ease;
                            }
                            &:hover::before{
                                transform: translate(3px);
                            }
                    }
                    p.sfc-text-small{
                        font-size: 20px !important;
                        margin-top: 35px;
                       }

                  

                }
               
            }

            div.noti-sfc-total.error{
                
                background-color: #fa5e5b;
                > div:first-child{
                    padding-top: 25px;
                }
                > div:last-child{
                    padding: 50px 16px;
                }
                span{
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: -0.4px;
                }
                a.sfc-btn{
                    width: 90%;
                    text-decoration: none;
                    position: absolute;
                    top: 50%;

                }
               
                div.sfc-bord-white{
                   
                    a{
                        font-family: 'Nunito', sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: -0.4px;
                        color: #fff;
                        position: relative;
                        padding-left: 26px;
                        margin: 18px 0;
                        display: block;
                        text-decoration: none;

                        &::before{
                            content: url('../images/simulador-finan-credito/redo.svg');
                            position: absolute;
                            left: -5px;
                        }
                    }
                }
            }


        }
           
        
        
        
    }
}