
.sfc-info{
    font-family: 'Open Sans', sans-serif;
    p{
        font-size: 16px;      
        line-height: 1.5;
        letter-spacing: -0.3px;
        margin: 45px auto 10px auto;
        text-align: center;
    }
    a{
        display: block;
        margin: 0 auto;     
        color: #808285;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px;
        text-align: center;
       
    }
}