.bnnr-copa{

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding: 7% 0;
  color: #595959;


  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    font-weight: normal;
  }

  .col-right-slid {visibility: hidden;}

  @media (max-width: 767px){
      background: none;
    padding: 0;

    h1 {font-size: 30px;}

    p{font-size: 18px;}

    .col-right-slid {
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 200px;
      visibility: visible;
    }
  }
  @media (max-width: 480px){

    background: none;


    h1 {font-size: 28px;}

    p{font-size: 16px;}

   .col-right-slid {
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    visibility: visible;
    }
    .col-left {
      padding-bottom: 20%;
    }
  }
}
