#caracter {
  text-align: center;
  padding-bottom: 3em;


  // .categories{
  //   padding: 50px 0;
  //   color: #58595B;
  //
  // }


    .contenedor-caracter{
      background: #fff;
      position: relative;
      top: -100px;
      border-radius: 5px 5px;
      box-shadow: 0px 0px 5px #dddddd;
      max-height: 310px;

      .btn-caro {
        position: absolute;
        z-index: 3;
        top: 40%;

        &-next{
          right: -15%;
        @media (max-width: 480px) { max-width: 45px;}

        }

        &-prev{
          left: -15%;
        @media (max-width: 480px) { max-width: 45px;}

        }
      }

      .caract {
        position: relative;

        &:nth-child(1) {

        .cont-prom{
          &::after{
            content: "";
            position: absolute;
            background-color:#dddddd;
            width: 1px;
            height: 260px;
            top:20px;
            right: 0;
            z-index: 2;
          }
        }

         .descr {
            background: #f2f2f1;
            padding: 30px 35px 5px;
            border-radius: 5px 0 0 5px;
            min-height: 170px;
          }
        }
        &:nth-child(2) {
          .cont-prom {
            &::after{
              content: "";
              position: absolute;
              background-color:#dddddd;
              width: 1px;
              height: 260px;
              top:20px;
              right: -15px;
              z-index: 2;
            }
          }
           .descr {
           background: #f2f2f1;
           padding: 30px 20px 5px;
           box-shadow: 32px 0 #f2f2f1, -31px 0 #f2f2f1;
           min-height: 170px;
         }
        }

        &:nth-child(3) .cont-prom .descr {
          background: #f2f2f1;
          padding: 30px 15px 5px;
          border-radius: 0 5px 5px  0;
          min-height: 170px;
        }


        .cont-prom{
          margin-top: 2em;
          position: relative;
          margin-bottom: 3em;



          .thumbnail{
            width: 100%;
            display: block;
            padding: 20px;
            border: none;
            margin-bottom: 0;


            img {
              width: 100%;
              max-width: 179px;
            }
          }

          .descr {
            margin-top: 1em;
            position: relative;

            h3{
              font-weight: bold;
              font-size: 20px;
              position: relative;
              margin:0;
              padding-bottom: 5px;
            }

            p {
              font-size: 14px;
              margin-bottom: 0;
            }
          }
        }


        @media (max-width: 480px) {



          .descr {
            background: #f2f2f1;
            padding: 30px 35px 5px;
            border-radius: 5px 0 0 5px;
            min-height: 145px;
          }

          &:nth-child(1) {

            .cont-prom {
              &::after{
                display: none;
              }
            }
          }
          &:nth-child(2) {

            .cont-prom {
              &::after{
                display: none;
              }
            }
          }

          span {
            margin-top: 0;
          }
        }
      }
    }

    span{
      display: block;
      margin-top: 40px;
    }


    @media (max-width: 767px){


    }
    @media (max-width: 480px){

      .thumbnail {
        img {max-width: 110px !important;}
      }

    }
  }
