#fqa {
  background-color: #f7f7f7;
  // background-image: url(../images/paisajes.png);
  background-image: url('/wps/wcm/connect/32387480-7f23-4338-a476-c72525f9a100/paisajes.png?MOD=AJPERES');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 750px;
  padding: 2em 0;

  .contenedor-fqa {
    background: #fff;
    box-shadow: 0 0 10px #d1d3d4;
    padding: 35px 0;

    .titulos {
      padding-bottom: 20px;
      display: table;

      .Rectangle {
        width: 144px;
        height: 79px;
        border-radius: 5px;
        background-color: #fcd603;
        position: absolute;
        left: -50px;

        img {
          position: absolute;
          right: 14%;
          top: 16%;
        }
      }


      p{
        margin: 0;
        padding: 0;
        font-size: 22px;
      }
      h2 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        color: #58595B;
        margin: 0;
      }
    }


  }

  //
  .panel-fqa {
    .panel {
      background-color: transparent;
      color: #58595B;
      box-shadow: none;
      position: relative;

      .panel-heading {
        background-color: transparent;
        color: #58595B;
        padding: 12px 0;


        h3 {

          background-image: url('/wps/wcm/myconnect/1741eafd-07a5-499f-b6d5-e364a562a4f8/bullet.svg?MOD=AJPERES');
          background-repeat: no-repeat;
          background-position: 5px 1px;
          padding-left: 2em;

          &::after{
            content: "";
            position: absolute;
            background-color: #d1d3d4;
            height: 1px;
            width: 90%;
            top: -3px;
            left: 5%;
            z-index: 2;
          }

          a{
            display: block;

            &::after{
              font-family: 'Glyphicons Halflings';
              content:"\e114";
              position: absolute;
              right: 6%;
            }

            &:hover, &:active, &:focus {
              color: #FFD200;
            }
          }
        }
      }
      .panel-body {
        padding-left: 4em;
        ul {
          list-style: none;
          li{
            background: none;
            &::before {
              content: "•";
               color: #FFD200;
                display: inline-block;
               width: 1em;
                margin-left: -1em;
                position: absolute;
            }
          }
        }
      }
    }

  }
  @media (max-width: 1024px) {

      background-size: 505px;

  }
  //
  @media (max-width: 767px){


  }
  @media (max-width: 480px){

  .contenedor-fqa {

    .titulos {

      .Rectangle  {
        width: 110px;
        height: 55px;

        img {
          max-width: 40px;
        }
      }

      p{font-size: 15px;}
      h2 {font-size: 15px;}
    }
  }

  .panel-fqa {
    .panel-heading {
      h3 {padding-right: 40px;}
    }
  }


    h2 {
      font-size: 20px;
    }

    ul{
      li{
        h3{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
      }
    }

  }
}
