@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
#accordion {
  padding: 40px 0; }
  #accordion .panel-acordeon .panel {
    background-color: transparent;
    color: #58595B;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    #accordion .panel-acordeon .panel .panel-heading {
      background-color: transparent;
      color: #58595B;
      padding: 12px 0;
      background-color: #f7e000; }
      #accordion .panel-acordeon .panel .panel-heading h3 {
        background-image: url("/wps/wcm/myconnect/1741eafd-07a5-499f-b6d5-e364a562a4f8/bullet.svg?MOD=AJPERES");
        background-repeat: no-repeat;
        background-position: 5px 1px;
        padding-left: 2em; }
        #accordion .panel-acordeon .panel .panel-heading h3 a {
          display: block; }
          #accordion .panel-acordeon .panel .panel-heading h3 a::after {
            font-family: 'Glyphicons Halflings';
            content: "\2212";
            position: absolute;
            right: 6%; }
          #accordion .panel-acordeon .panel .panel-heading h3 a:hover, #accordion .panel-acordeon .panel .panel-heading h3 a:active, #accordion .panel-acordeon .panel .panel-heading h3 a:focus {
            color: #58595B; }
    #accordion .panel-acordeon .panel .panel-body {
      padding-left: 4em; }
      #accordion .panel-acordeon .panel .panel-body ul {
        list-style: none;
        list-style-image: url("/wps/wcm/connect/c7df068b-f02e-4a5d-bb4b-a93dc0f38819/icon-list-yellow.png?MOD=AJPERES"); }
