#sos-categ {
  padding: 40px 0;
  text-align: center; }
  #sos-categ h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: center;
    color: #00448d;
    margin-bottom: 30px; }
  #sos-categ span {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    color: #595959;
    margin-bottom: 50px;
    display: block; }
  #sos-categ .cont-catg {
    background-color: #f7f7f7;
    border-radius: 10px;
    position: relative;
    padding: 32px;
    text-align: center; }
    #sos-categ .cont-catg img {
      margin-bottom: 25px; }
    #sos-categ .cont-catg h2 {
      color: #808285;
      font-weight: bold;
      position: relative;
      margin-bottom: 50px; }
      #sos-categ .cont-catg h2::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        bottom: -1em;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background-color: #808285; }
    #sos-categ .cont-catg p {
      color: #595959;
      font-weight: bold; }
    #sos-categ .cont-catg ul {
      list-style: unset;
      margin-bottom: 50px; }
      #sos-categ .cont-catg ul li {
        margin-bottom: 15px;
        color: #808285;
        line-height: 1.38;
        font-size: 16px;
        text-align: left; }
    #sos-categ .cont-catg .btn {
      position: relative;
      padding: 10px 35px;
      font-weight: bold;
      white-space: normal; }
      #sos-categ .cont-catg .btn-exito {
        background-color: #ffcb00;
        border-radius: 50px !important;
        height: auto;
        color: #595959;
        font-size: 15px;
        min-height: 40px;
        min-width: 160px;
        text-align: center;
        text-decoration: none;
        width: auto;
        max-width: 330px;
        cursor: pointer;
        clear: both;
        display: inline-block;
        text-transform: uppercase; }
    #sos-categ .cont-catg-4 {
      height: 470px; }
      #sos-categ .cont-catg-4 h2 {
        font-size: 19px; }
    #sos-categ .cont-catg-3 {
      height: 470px; }
      #sos-categ .cont-catg-3 h2 {
        font-size: 24px; }
    @media (min-width: 768px) {
      #sos-categ .cont-catg-3 {
        height: auto; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 24px; } }
    @media (max-width: 767px) {
      #sos-categ .cont-catg h2 {
        color: #808285;
        font-weight: bold;
        position: relative;
        margin-bottom: 40px; }
        #sos-categ .cont-catg h2::after {
          content: "";
          position: absolute;
          width: 60px;
          height: 2px;
          bottom: -1em;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          background-color: #808285; }
      #sos-categ .cont-catg p {
        color: #595959;
        font-weight: bold;
        font-size: 14px; }
      #sos-categ .cont-catg-3 {
        height: auto; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 22px; }
      #sos-categ .cont-catg .btn-exito {
        font-size: 12px; } }
    @media (max-width: 640px) {
      #sos-categ .cont-catg-3 {
        height: auto;
        max-width: 350px;
        margin: 0 auto 20px;
        float: none; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 22px; }
      #sos-categ .cont-catg-4 {
        height: auto;
        max-width: 350px;
        margin: 0 auto 20px;
        float: none; } }
    @media (max-width: 480px) {
      #sos-categ .cont-catg {
        display: block;
        text-align: center;
        float: none;
        margin: 0 auto 20px; }
        #sos-categ .cont-catg img {
          margin-bottom: 15px;
          max-width: 60px; }
        #sos-categ .cont-catg h2 {
          color: #808285;
          font-size: 36px;
          font-weight: bold;
          position: relative;
          margin-bottom: 40px; }
          #sos-categ .cont-catg h2::after {
            content: "";
            position: absolute;
            width: 60px;
            height: 2px;
            bottom: -1em;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background-color: #808285; }
        #sos-categ .cont-catg span {
          font-size: 12px; }
        #sos-categ .cont-catg p {
          color: #595959;
          font-weight: bold;
          font-size: 14px; }
        #sos-categ .cont-catg-3 {
          height: 430px; }
          #sos-categ .cont-catg-3 h2 {
            font-size: 24px; } }
