@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
.bnnr-copa {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding: 7% 0;
  color: #595959; }
  .bnnr-copa .col-left h1 {
    font-size: 46px;
    font-weight: bold;
    text-align: right; }
  .bnnr-copa .col-left img {
    width: 100%;
    max-width: 458px; }
  .bnnr-copa .col-right-slid {
    visibility: hidden; }
  @media (max-width: 767px) {
    .bnnr-copa {
      background: none;
      padding: 0; }
      .bnnr-copa h1 {
        font-size: 30px; }
      .bnnr-copa .col-right-slid {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        visibility: visible; } }
  @media (max-width: 480px) {
    .bnnr-copa {
      background: none; }
      .bnnr-copa h1 {
        font-size: 28px; }
      .bnnr-copa p {
        font-size: 16px; }
      .bnnr-copa .col-right-slid {
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        visibility: visible; }
      .bnnr-copa .col-left {
        padding-bottom: 20%; } }

#lugares {
  text-align: center;
  padding: 30px; }
  #lugares h1 {
    font-family: 'Nunito';
    font-weight: bold;
    color: #58595b;
    margin: 0; }
  #lugares h2 {
    font-family: 'Nunito';
    font-weight: 600;
    color: #58595b;
    margin: 0; }
  #lugares span {
    font-family: 'Nunito';
    font-weight: 400;
    color: #58595b;
    margin: 0; }

#personajes {
  padding: 30px;
  background-color: #757e86; }
  #personajes .Spersonajes .content-personajes {
    min-height: 300px; }
    #personajes .Spersonajes .content-personajes::before {
      content: "";
      position: absolute;
      height: 300px;
      width: 300px;
      background-image: url("../images/coleccionables/circulo-personaje.png");
      background-position: top;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: -1; }
    #personajes .Spersonajes .content-personajes img {
      width: 100%;
      max-width: 160px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 3; }
  #personajes .Spersonajes .content-descripcion {
    padding: 4% 0;
    position: relative; }
    #personajes .Spersonajes .content-descripcion p {
      color: #fff;
      font-family: 'Nunito';
      font-size: 22px;
      font-weight: bold; }

#redencion {
  padding: 40px 0;
  padding-bottom: 0; }
  #redencion h2 {
    font-family: 'Nunito';
    font-weight: bold;
    color: #58595b;
    font-size: 40px; }
  #redencion .formas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    align_items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum;
    padding-top: 0; }
    #redencion .formas h3 {
      font-family: 'Nunito';
      font-weight: bold;
      color: #58595b;
      font-size: 34px;
      padding-bottom: 25px; }
    #redencion .formas .item {
      width: 28%;
      height: auto;
      font-weight: 700;
      font-size: 35px;
      color: #000;
      background-color: #fff;
      text-align: center;
      line-height: 73px; }
      #redencion .formas .item .thumbnail {
        border: none; }
      #redencion .formas .item .caption .btn-yellow {
        background: #444;
        color: white;
        font-family: 'Nunito';
        cursor: pointer;
        font-weight: bold; }
      #redencion .formas .item .caption h3 {
        font-size: 16px;
        letter-spacing: -0.3px;
        color: #808285;
        margin-bottom: 0;
        font-family: 'Nunito'; }
      #redencion .formas .item .caption p {
        font-size: 16px;
        letter-spacing: -0.3px;
        color: #808285;
        font-family: 'Nunito';
        font-weight: 600; }

.bnnr-copa .col-left h1 {
  font-family: 'Nunito'; }

.btn-yellow {
  font-family: 'Nunito';
  font-weight: bold; }

.btn-yellow {
  background-color: #fed030;
  border-radius: 50px;
  text-transform: uppercase;
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 20px auto;
  color: #666666; }
  .btn-yellow:hover {
    color: #666666; }

.rotador {
  position: absolute;
  top: 40%;
  margin-left: -19px; }
  .rotador-r {
    left: 42%; }
  .rotador-l {
    left: 11%; }

@media only screen and (max-width: 768px) {
  .bnnr-copa .col-right-slid {
    min-height: 300px;
    background-color: #9ca5ae;
    background-image: none !important; }
    .bnnr-copa .col-right-slid:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/coleccionables/asset-banner.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      top: 0; }
  .bnnr-copa .col-left {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 0; }
    .bnnr-copa .col-left h1 {
      text-align: center;
      font-size: 38px; }
  #lugares {
    padding: 0; }
    #lugares span:last-child {
      display: block;
      margin: 15px 0; }
    #lugares h2 {
      margin: 15px 0;
      font-size: 20px; }
  #personajes {
    padding-bottom: 0; }
    #personajes .slick-dots {
      display: none; }
    #personajes .rotador {
      top: 23%; }
      #personajes .rotador-l {
        left: 6%; }
      #personajes .rotador-r {
        left: 100%; }
    #personajes .content-descripcion p {
      text-align: center;
      margin-bottom: 0; }
      #personajes .content-descripcion p:last-child {
        font-weight: normal; }
  #redencion h2 {
    text-align: center;
    margin: 0; }
  #redencion .formas {
    display: block; }
    #redencion .formas h3 {
      padding: 15px 0;
      margin: 15px 0 30px 0;
      font-size: 24px; }
      #redencion .formas h3:after {
        content: '';
        background-color: #fed030;
        position: absolute;
        width: calc(100% + 30px);
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: -1; }
    #redencion .formas .item {
      width: 100%;
      display: inline-block;
      margin-bottom: 15px;
      padding: 0 30px; }
      #redencion .formas .item .thumbnail img {
        width: 40%;
        float: left;
        margin-right: 15px; }
      #redencion .formas .item .thumbnail .caption {
        width: 100%; }
        #redencion .formas .item .thumbnail .caption p {
          text-align: left;
          margin: 0;
          display: table-cell;
          font-size: 14px; } }
