@charset "UTF-8";
.bnnr-copa {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding: 7% 0;
  color: #595959; }
  .bnnr-copa h1 {
    font-size: 36px;
    font-weight: bold; }
  .bnnr-copa p {
    font-size: 20px;
    font-weight: normal; }
  .bnnr-copa .col-right-slid {
    visibility: hidden; }
  @media (max-width: 767px) {
    .bnnr-copa {
      background: none;
      padding: 0; }
      .bnnr-copa h1 {
        font-size: 30px; }
      .bnnr-copa p {
        font-size: 18px; }
      .bnnr-copa .col-right-slid {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        visibility: visible; } }
  @media (max-width: 480px) {
    .bnnr-copa {
      background: none; }
      .bnnr-copa h1 {
        font-size: 28px; }
      .bnnr-copa p {
        font-size: 16px; }
      .bnnr-copa .col-right-slid {
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        visibility: visible; }
      .bnnr-copa .col-left {
        padding-bottom: 20%; } }

#caracter {
  text-align: center;
  padding-bottom: 3em; }
  #caracter .contenedor-caracter {
    background: #fff;
    position: relative;
    top: -100px;
    border-radius: 5px 5px;
    -webkit-box-shadow: 0px 0px 5px #dddddd;
            box-shadow: 0px 0px 5px #dddddd;
    max-height: 310px; }
    #caracter .contenedor-caracter .btn-caro {
      position: absolute;
      z-index: 3;
      top: 40%; }
      #caracter .contenedor-caracter .btn-caro-next {
        right: -15%; }
        @media (max-width: 480px) {
          #caracter .contenedor-caracter .btn-caro-next {
            max-width: 45px; } }
      #caracter .contenedor-caracter .btn-caro-prev {
        left: -15%; }
        @media (max-width: 480px) {
          #caracter .contenedor-caracter .btn-caro-prev {
            max-width: 45px; } }
    #caracter .contenedor-caracter .caract {
      position: relative; }
      #caracter .contenedor-caracter .caract:nth-child(1) .cont-prom::after {
        content: "";
        position: absolute;
        background-color: #dddddd;
        width: 1px;
        height: 260px;
        top: 20px;
        right: 0;
        z-index: 2; }
      #caracter .contenedor-caracter .caract:nth-child(1) .descr {
        background: #f2f2f1;
        padding: 30px 35px 5px;
        border-radius: 5px 0 0 5px;
        min-height: 170px; }
      #caracter .contenedor-caracter .caract:nth-child(2) .cont-prom::after {
        content: "";
        position: absolute;
        background-color: #dddddd;
        width: 1px;
        height: 260px;
        top: 20px;
        right: -15px;
        z-index: 2; }
      #caracter .contenedor-caracter .caract:nth-child(2) .descr {
        background: #f2f2f1;
        padding: 30px 20px 5px;
        -webkit-box-shadow: 32px 0 #f2f2f1, -31px 0 #f2f2f1;
                box-shadow: 32px 0 #f2f2f1, -31px 0 #f2f2f1;
        min-height: 170px; }
      #caracter .contenedor-caracter .caract:nth-child(3) .cont-prom .descr {
        background: #f2f2f1;
        padding: 30px 15px 5px;
        border-radius: 0 5px 5px  0;
        min-height: 170px; }
      #caracter .contenedor-caracter .caract .cont-prom {
        margin-top: 2em;
        position: relative;
        margin-bottom: 3em; }
        #caracter .contenedor-caracter .caract .cont-prom .thumbnail {
          width: 100%;
          display: block;
          padding: 20px;
          border: none;
          margin-bottom: 0; }
          #caracter .contenedor-caracter .caract .cont-prom .thumbnail img {
            width: 100%;
            max-width: 179px; }
        #caracter .contenedor-caracter .caract .cont-prom .descr {
          margin-top: 1em;
          position: relative; }
          #caracter .contenedor-caracter .caract .cont-prom .descr h3 {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            margin: 0;
            padding-bottom: 5px; }
          #caracter .contenedor-caracter .caract .cont-prom .descr p {
            font-size: 14px;
            margin-bottom: 0; }
      @media (max-width: 480px) {
        #caracter .contenedor-caracter .caract .descr {
          background: #f2f2f1;
          padding: 30px 35px 5px;
          border-radius: 5px 0 0 5px;
          min-height: 145px; }
        #caracter .contenedor-caracter .caract:nth-child(1) .cont-prom::after {
          display: none; }
        #caracter .contenedor-caracter .caract:nth-child(2) .cont-prom::after {
          display: none; }
        #caracter .contenedor-caracter .caract span {
          margin-top: 0; } }
  #caracter span {
    display: block;
    margin-top: 40px; }
  @media (max-width: 480px) {
    #caracter .thumbnail img {
      max-width: 110px !important; } }

#fqa {
  background-color: #f7f7f7;
  background-image: url("/wps/wcm/connect/32387480-7f23-4338-a476-c72525f9a100/paisajes.png?MOD=AJPERES");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 750px;
  padding: 2em 0; }
  #fqa .contenedor-fqa {
    background: #fff;
    -webkit-box-shadow: 0 0 10px #d1d3d4;
            box-shadow: 0 0 10px #d1d3d4;
    padding: 35px 0; }
    #fqa .contenedor-fqa .titulos {
      padding-bottom: 20px;
      display: table; }
      #fqa .contenedor-fqa .titulos .Rectangle {
        width: 144px;
        height: 79px;
        border-radius: 5px;
        background-color: #fcd603;
        position: absolute;
        left: -50px; }
        #fqa .contenedor-fqa .titulos .Rectangle img {
          position: absolute;
          right: 14%;
          top: 16%; }
      #fqa .contenedor-fqa .titulos p {
        margin: 0;
        padding: 0;
        font-size: 22px; }
      #fqa .contenedor-fqa .titulos h2 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        color: #58595B;
        margin: 0; }
  #fqa .panel-fqa .panel {
    background-color: transparent;
    color: #58595B;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    #fqa .panel-fqa .panel .panel-heading {
      background-color: transparent;
      color: #58595B;
      padding: 12px 0; }
      #fqa .panel-fqa .panel .panel-heading h3 {
        background-image: url("/wps/wcm/myconnect/1741eafd-07a5-499f-b6d5-e364a562a4f8/bullet.svg?MOD=AJPERES");
        background-repeat: no-repeat;
        background-position: 5px 1px;
        padding-left: 2em; }
        #fqa .panel-fqa .panel .panel-heading h3::after {
          content: "";
          position: absolute;
          background-color: #d1d3d4;
          height: 1px;
          width: 90%;
          top: -3px;
          left: 5%;
          z-index: 2; }
        #fqa .panel-fqa .panel .panel-heading h3 a {
          display: block; }
          #fqa .panel-fqa .panel .panel-heading h3 a::after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            position: absolute;
            right: 6%; }
          #fqa .panel-fqa .panel .panel-heading h3 a:hover, #fqa .panel-fqa .panel .panel-heading h3 a:active, #fqa .panel-fqa .panel .panel-heading h3 a:focus {
            color: #FFD200; }
    #fqa .panel-fqa .panel .panel-body {
      padding-left: 4em; }
      #fqa .panel-fqa .panel .panel-body ul {
        list-style: none; }
        #fqa .panel-fqa .panel .panel-body ul li {
          background: none; }
          #fqa .panel-fqa .panel .panel-body ul li::before {
            content: "•";
            color: #FFD200;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            position: absolute; }
  @media (max-width: 1024px) {
    #fqa {
      background-size: 505px; } }
  @media (max-width: 480px) {
    #fqa .contenedor-fqa .titulos .Rectangle {
      width: 110px;
      height: 55px; }
      #fqa .contenedor-fqa .titulos .Rectangle img {
        max-width: 40px; }
    #fqa .contenedor-fqa .titulos p {
      font-size: 15px; }
    #fqa .contenedor-fqa .titulos h2 {
      font-size: 15px; }
    #fqa .panel-fqa .panel-heading h3 {
      padding-right: 40px; }
    #fqa h2 {
      font-size: 20px; }
    #fqa ul li h3 {
      font-size: 16px; }
    #fqa ul li p {
      font-size: 12px; } }
