@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
#tabla {
  padding: 40px 0; }
  #tabla .table tr:nth-child(odd) {
    background: #fff; }
  #tabla .table thead tr th {
    border-left: none; }
    #tabla .table thead tr th p {
      padding-top: 15px;
      font-size: 34px;
      color: #666666;
      font-family: 'Nunito';
      line-height: 36px;
      font-weight: bold; }
      #tabla .table thead tr th p span {
        font-weight: 200; }
  #tabla .table tbody tr:nth-child(3) th {
    border-bottom: none; }
  #tabla .table tbody tr:nth-child(3) td {
    border-bottom: none; }
  #tabla .table tbody tr:nth-child(4) th {
    border-top: none;
    border-bottom: none; }
  #tabla .table tbody tr:nth-child(4) td {
    border-top: none;
    border-bottom: none; }
  #tabla .table tbody tr th {
    font-size: 18px;
    text-transform: uppercase; }
  #tabla .table tbody tr td {
    border-left: none;
    padding: 10px 44px 0; }
    #tabla .table tbody tr td p {
      font-size: 20px;
      font-weight: 100;
      font-family: 'Nunito'; }
      #tabla .table tbody tr td p span {
        font-weight: bold; }
  #tabla .table .btn-yellow {
    background-color: #fed030;
    border-radius: 50px;
    text-transform: uppercase;
    width: 100%;
    max-width: 180px; }
    #tabla .table .btn-yellow:hover {
      color: #666666; }
  @media (max-width: 1024px) {
    #tabla .table {
      display: block;
      overflow-x: scroll; }
      #tabla .table thead tr th p {
        font-size: 28px; }
      #tabla .table tbody tr th p {
        font-size: 14px; }
      #tabla .table tbody tr td p {
        font-size: 14px; } }

#beneficios {
  padding: 40px 0;
  background-color: #58595b; }
  #beneficios h2 {
    color: #fed030;
    font-family: 'Nunito';
    font-size: 52px;
    font-weight: bold; }
  #beneficios h3 {
    font-family: 'Nunito';
    color: #fff;
    font-size: 25px;
    font-weight: bold; }
  #beneficios p {
    font-family: 'Nunito';
    color: #fff;
    font-size: 18px;
    font-weight: 200px; }
  @media (max-width: 480px) {
    #beneficios h2 {
      font-size: 40px; }
    #beneficios h3 {
      font-size: 22px; }
    #beneficios p {
      font-size: 14px; } }

#app {
  padding: 30px 0; }
  #app h2 {
    font-size: 43px;
    color: #666666;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 200;
    margin-bottom: 40px; }
  #app .container-opcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align_items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: colum;
    flex-direction: colum; }
    #app .container-opcion .item {
      width: 25%;
      height: auto;
      min-height: auto;
      text-align: center; }
      #app .container-opcion .item .opcion {
        position: relative;
        min-height: 327px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        #app .container-opcion .item .opcion .caption {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%); }
          #app .container-opcion .item .opcion .caption h2 {
            font-family: 'Nunito';
            font-weight: 700; }
            #app .container-opcion .item .opcion .caption h2 a {
              color: #fff;
              font-size: 37px; }
              #app .container-opcion .item .opcion .caption h2 a:hover, #app .container-opcion .item .opcion .caption h2 a:active, #app .container-opcion .item .opcion .caption h2 a:focus {
                text-decoration: none; }
  @media (max-width: 1024px) {
    #app .container-opcion .item {
      width: 50%; }
      #app .container-opcion .item .opcion .caption a {
        font-size: 36px; } }
  @media (max-width: 767px) {
    #app h2 {
      font-size: 36px; }
    #app .container-opcion .item {
      width: 50%; }
      #app .container-opcion .item .opcion .caption a {
        font-size: 25px; } }
  @media (max-width: 480px) {
    #app h2 {
      font-size: 28px; }
    #app .container-opcion .item {
      width: 50%; }
      #app .container-opcion .item .opcion {
        min-height: 220px; }
        #app .container-opcion .item .opcion .caption h2 a {
          font-size: 20px; } }

#tabs {
  padding: 40px 0; }
  #tabs .nav-title li {
    width: 100%;
    max-width: 30%;
    text-align: center; }
    #tabs .nav-title li a {
      border: none;
      color: #a2a2a2;
      font-family: 'Nunito';
      font-size: 28px; }
    #tabs .nav-title li.active a {
      color: #07468b;
      font-weight: bold;
      border-bottom: 3px solid #fdd630; }
  #tabs .titulo {
    position: relative; }
    #tabs .titulo img {
      position: absolute;
      left: 0;
      top: 0; }
    #tabs .titulo h2 {
      padding: 15px 0;
      padding-left: 15%;
      color: #666666;
      font-size: 30px; }
  #tabs .contenido-tab p {
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: bold;
    color: #666666; }
  #tabs .contenido-tab ol li {
    font-family: 'Nunito';
    font-size: 17px; }
    #tabs .contenido-tab ol li ul {
      list-style: none;
      list-style-image: url("/wps/wcm/connect/c7df068b-f02e-4a5d-bb4b-a93dc0f38819/icon-list-yellow.png?MOD=AJPERES"); }
  #tabs .tasas {
    padding: 30px 0; }
    #tabs .tasas .table-tasas tr:nth-child(odd) {
      background: #fff; }
    #tabs .tasas .table-tasas thead tr th {
      border-left: none;
      background-color: #e5e5e5;
      font-size: 22px;
      font-family: 'Nunito';
      font-weight: bold;
      color: #666666;
      padding-left: 22px; }
      #tabs .tasas .table-tasas thead tr th:nth-child(1) {
        border-radius: 10px 0 0 0; }
      #tabs .tasas .table-tasas thead tr th:nth-child(2) {
        border-radius: 0 10px 0 0; }
    #tabs .tasas .table-tasas tbody tr td {
      border-left: none;
      border-bottom: none;
      background-color: #f7f7f7;
      padding-left: 22px;
      font-weight: 300;
      font-family: 'Nunito';
      font-weight: 300;
      font-size: 22px; }
      #tabs .tasas .table-tasas tbody tr td:nth-child(1) {
        border-radius: 0 0 0 10px; }
      #tabs .tasas .table-tasas tbody tr td:nth-child(2) {
        border-radius: 0 0 10px 0; }
    #tabs .tasas .table-tasas tfoot tr td {
      border-top: none;
      border-bottom: none;
      text-align: center;
      font-weight: 300;
      font-family: 'Nunito';
      color: #666666; }
  #tabs .docs {
    padding: 30px 0;
    display: flow-root; }
    #tabs .docs p {
      font-family: 'Nunito';
      font-weight: 300;
      font-size: 17px; }
  #tabs .panel-docs .panel {
    background-color: transparent;
    color: #58595B;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    #tabs .panel-docs .panel .panel-heading {
      background-color: transparent;
      color: #58595B;
      padding: 12px 0; }
      #tabs .panel-docs .panel .panel-heading h3::after {
        content: "";
        position: absolute;
        background-color: #d1d3d4;
        height: 1px;
        width: 90%;
        top: -3px;
        left: 5%;
        z-index: 2; }
      #tabs .panel-docs .panel .panel-heading h3 a {
        display: block;
        text-transform: uppercase;
        text-align: center; }
        #tabs .panel-docs .panel .panel-heading h3 a::after {
          font-family: 'Glyphicons Halflings';
          content: "\2b";
          position: absolute;
          right: 6%; }
        #tabs .panel-docs .panel .panel-heading h3 a:hover, #tabs .panel-docs .panel .panel-heading h3 a:active, #tabs .panel-docs .panel .panel-heading h3 a:focus {
          color: #FFD200; }
    #tabs .panel-docs .panel .panel-body {
      padding-left: 4em; }
      #tabs .panel-docs .panel .panel-body ul {
        list-style: none; }
        #tabs .panel-docs .panel .panel-body ul li {
          background: none; }
          #tabs .panel-docs .panel .panel-body ul li::before {
            content: "•";
            color: #FFD200;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            position: absolute; }
  @media (max-width: 1024px) {
    #tabs .nav-title li a {
      font-size: 20px;
      min-height: 85px; }
    #tabs .titulo h2 {
      font-size: 24px;
      padding-top: 0;
      padding-left: 20%;
      min-height: 68px; } }
  @media (max-width: 767px) {
    #tabs .nav-title li a {
      font-size: 18px;
      min-height: 76px; }
    #tabs .titulo h2 {
      font-size: 28px;
      padding: 12px 0;
      padding-left: 15%; } }
  @media (max-width: 480px) {
    #tabs .nav-title li {
      max-width: 100%; }
      #tabs .nav-title li a {
        font-size: 24px; }
    #tabs .titulo img {
      max-width: 50px; }
    #tabs .titulo h2 {
      font-size: 24px;
      padding: 0;
      padding-left: 24%; } }
