#need {
  margin: 4% 0%; }
  @media screen and (max-width: 640px) {
    #need {
      margin: 0% 0%; } }
  #need .relative {
    position: relative; }
  #need h2 {
    color: #00448c;
    font-weight: 800;
    text-align: center;
    font-size: 34px; }
    @media (max-width: 760px) {
      #need h2 {
        color: #00448c;
        font-size: 24px; } }
  #need span {
    text-align: center;
    display: block;
    color: #595959; }

.cas-exito {
  padding: 40px 0; }
  .cas-exito .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    .cas-exito .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
  .cas-exito .cont-finc {
    padding: 35px 0;
    margin-bottom: 70px;
    position: relative; }
    .cas-exito .cont-finc .fig_finc {
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 690px;
      height: 100%;
      margin: 0;
      background-position: top center;
      background-size: cover; }
      .cas-exito .cont-finc .fig_finc2 {
        left: 40%;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        max-width: 690px;
        height: 100%;
        margin: 0;
        background-position: top center;
        background-size: cover; }
    .cas-exito .cont-finc .cont_info_finc {
      background-color: #fff;
      padding: 50px 70px 50px 95px;
      position: relative;
      width: 50%;
      left: 50%; }
      .cas-exito .cont-finc .cont_info_finc h2 {
        font-size: 20px;
        color: #00448c;
        text-align: center;
        font-weight: bold; }
      .cas-exito .cont-finc .cont_info_finc p {
        font-size: 14px;
        margin-bottom: 20px; }
      .cas-exito .cont-finc .cont_info_finc2 {
        background-color: #fff;
        left: -25%;
        padding: 40px 70px 40px 80px;
        margin: 0 auto;
        position: relative;
        width: 50%; }
        .cas-exito .cont-finc .cont_info_finc2 .btn {
          position: relative;
          padding: 10px 35px;
          font-weight: bold;
          white-space: normal; }
          .cas-exito .cont-finc .cont_info_finc2 .btn-exito {
            background-color: #ffcb00;
            border-radius: 50px !important;
            height: auto;
            color: #595959;
            font-size: 15px;
            min-height: 40px;
            min-width: 160px;
            text-align: center;
            text-decoration: none;
            width: auto;
            max-width: 330px;
            cursor: pointer;
            clear: both;
            display: inline-block;
            text-transform: uppercase; }
      .cas-exito .cont-finc .cont_info_finc .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal; }
        .cas-exito .cont-finc .cont_info_finc .btn-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase; }

@media (max-width: 560px) {
  .cas-exito {
    padding: 40px 0 0; }
  .cont-finc {
    padding: 0; }
    .cont-finc .fig_finc, .cont-finc .fig_finc2 {
      display: block;
      width: 100%;
      height: 295px;
      position: relative; }
      .cont-finc .fig_finc h2, .cont-finc .fig_finc2 h2 {
        text-align: left; }
    .cont-finc .cont_info_finc, .cont-finc .cont_info_finc2 {
      padding: 25px 20px;
      width: 100%;
      left: 0;
      margin: 0 auto; }
  #not-sostenibles {
    padding: 0 15px 20px; } }

#sos-categ {
  padding: 40px 0;
  text-align: center; }
  #sos-categ h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: center;
    color: #00448d;
    margin-bottom: 30px; }
  #sos-categ span {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    color: #595959;
    margin-bottom: 50px;
    display: block; }
  #sos-categ .cont-catg {
    background-color: #f7f7f7;
    border-radius: 10px;
    position: relative;
    padding: 32px;
    text-align: center; }
    #sos-categ .cont-catg img {
      margin-bottom: 25px; }
    #sos-categ .cont-catg h2 {
      color: #808285;
      font-weight: bold;
      position: relative;
      margin-bottom: 50px; }
      #sos-categ .cont-catg h2::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        bottom: -1em;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background-color: #808285; }
    #sos-categ .cont-catg p {
      color: #595959;
      font-weight: bold; }
    #sos-categ .cont-catg ul {
      list-style: unset;
      margin-bottom: 50px; }
      #sos-categ .cont-catg ul li {
        margin-bottom: 15px;
        color: #808285;
        line-height: 1.38;
        font-size: 16px;
        text-align: left; }
    #sos-categ .cont-catg .btn {
      position: relative;
      padding: 10px 35px;
      font-weight: bold;
      white-space: normal; }
      #sos-categ .cont-catg .btn-exito {
        background-color: #ffcb00;
        border-radius: 50px !important;
        height: auto;
        color: #595959;
        font-size: 15px;
        min-height: 40px;
        min-width: 160px;
        text-align: center;
        text-decoration: none;
        width: auto;
        max-width: 330px;
        cursor: pointer;
        clear: both;
        display: inline-block;
        text-transform: uppercase; }
    #sos-categ .cont-catg-4 {
      height: 470px; }
      #sos-categ .cont-catg-4 h2 {
        font-size: 19px; }
    #sos-categ .cont-catg-3 {
      height: 470px; }
      #sos-categ .cont-catg-3 h2 {
        font-size: 24px; }
    @media (min-width: 768px) {
      #sos-categ .cont-catg-3 {
        height: auto; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 24px; } }
    @media (max-width: 767px) {
      #sos-categ .cont-catg h2 {
        color: #808285;
        font-weight: bold;
        position: relative;
        margin-bottom: 40px; }
        #sos-categ .cont-catg h2::after {
          content: "";
          position: absolute;
          width: 60px;
          height: 2px;
          bottom: -1em;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          background-color: #808285; }
      #sos-categ .cont-catg p {
        color: #595959;
        font-weight: bold;
        font-size: 14px; }
      #sos-categ .cont-catg-3 {
        height: auto; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 22px; }
      #sos-categ .cont-catg .btn-exito {
        font-size: 12px; } }
    @media (max-width: 640px) {
      #sos-categ .cont-catg-3 {
        height: auto;
        max-width: 350px;
        margin: 0 auto 20px;
        float: none; }
        #sos-categ .cont-catg-3 h2 {
          font-size: 22px; }
      #sos-categ .cont-catg-4 {
        height: auto;
        max-width: 350px;
        margin: 0 auto 20px;
        float: none; } }
    @media (max-width: 480px) {
      #sos-categ .cont-catg {
        display: block;
        text-align: center;
        float: none;
        margin: 0 auto 20px; }
        #sos-categ .cont-catg img {
          margin-bottom: 15px;
          max-width: 60px; }
        #sos-categ .cont-catg h2 {
          color: #808285;
          font-size: 36px;
          font-weight: bold;
          position: relative;
          margin-bottom: 40px; }
          #sos-categ .cont-catg h2::after {
            content: "";
            position: absolute;
            width: 60px;
            height: 2px;
            bottom: -1em;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background-color: #808285; }
        #sos-categ .cont-catg span {
          font-size: 12px; }
        #sos-categ .cont-catg p {
          color: #595959;
          font-weight: bold;
          font-size: 14px; }
        #sos-categ .cont-catg-3 {
          height: 430px; }
          #sos-categ .cont-catg-3 h2 {
            font-size: 24px; } }

#neg-sost {
  padding: 40px 0; }

.tabQuestions {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  border-bottom: 0;
  display: flow-root; }
  .tabQuestions li {
    padding: 10px 0px 10px 25px;
    position: relative;
    width: 100%; }
    .tabQuestions li a {
      padding-left: 10px;
      text-decoration: none !important;
      color: #292929;
      font-size: 16px;
      border: 0; }
      .tabQuestions li a:hover, .tabQuestions li a :focus {
        color: #555;
        background-color: #fff;
        border: 1px solid transparent;
        border-bottom-color: transparent;
        cursor: default; }

.menu-neg-sost {
  margin-top: 20px; }

.contnt-neg-sost {
  position: relative;
  padding-left: 85px; }
  .contnt-neg-sost h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px; }
  .contnt-neg-sost p {
    color: #808285;
    line-height: 1.38;
    font-size: 16px;
    margin-bottom: 25px; }
  .contnt-neg-sost h3 {
    color: #595959;
    font-size: 20px;
    margin-bottom: 25px; }
  .contnt-neg-sost ul {
    list-style: unset;
    margin-bottom: 50px; }
    .contnt-neg-sost ul li {
      margin-bottom: 15px;
      color: #808285;
      line-height: 1.38;
      font-size: 16px; }
  @media (max-width: 760px) {
    .contnt-neg-sost {
      padding-left: 0; } }

.img-title-neg-sost {
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 0% 20px;
  border: none; }
  @media (max-width: 760px) {
    .img-title-neg-sost {
      background-image: none; } }

.share-sm {
  width: 100%;
  min-height: 83px;
  background-color: #eaeaea;
  padding: 30px; }
  .share-sm span {
    color: #808285;
    line-height: 1.38;
    font-size: 16px;
    font-weight: 600; }
    .share-sm span ul {
      list-style: none;
      display: inline-block;
      position: relative; }
      .share-sm span ul li {
        display: inline-block;
        text-align: center;
        width: 50px; }
        .share-sm span ul li a {
          display: block;
          margin: 0 10px;
          position: relative;
          width: 50px; }
          .share-sm span ul li a::before {
            content: "";
            display: block;
            width: 2px;
            background: #fff;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0; }
          .share-sm span ul li a img {
            width: 24px;
            height: 24px; }
      .share-sm span ul li:last-child a::after {
        content: "";
        display: block;
        width: 2px;
        background: #fff;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0; }
  @media (max-width: 760px) {
    .share-sm {
      text-align: center;
      display: block;
      line-height: 45px; } }

.target {
  margin-top: 30px;
  display: block; }
  .target-left {
    float: left;
    width: 20%;
    height: 85px;
    background-color: #ffcf01;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .target-right {
    width: 80%;
    height: 85px;
    background-color: #f7f7f7;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .target-right span {
      font-size: 20px;
      line-height: 1.5;
      font-weight: bold;
      color: #595959;
      letter-spacing: -0.4px;
      display: block;
      padding: 0 10px; }

#not-sostenibles {
  padding: 50px 0; }
  #not-sostenibles h2 {
    font-size: 32px;
    color: #595959;
    font-weight: bold;
    margin-bottom: 30px; }
  #not-sostenibles .article-item {
    position: relative;
    padding: 0 15px;
    padding-bottom: 20px !important; }
    #not-sostenibles .article-item .article_img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      height: 240px;
      background: center;
      background-size: cover; }
    #not-sostenibles .article-item .article_info {
      position: relative;
      width: calc(100% - 10px);
      padding: 30px 20px 40px 20px;
      margin: -50px auto 30px auto;
      background-color: white;
      border: 1px solid #d1d3d4;
      height: 350px; }
      #not-sostenibles .article-item .article_info h2 {
        font-size: 32px;
        color: #595959;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        margin: 0; }
    #not-sostenibles .article-item .btn-nots {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60px;
      text-align: center;
      height: 60px;
      border: 1px solid #00448d; }
      #not-sostenibles .article-item .btn-nots a {
        position: absolute;
        text-decoration: none;
        font-size: 2em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }
  #not-sostenibles .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #not-sostenibles .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }

#prog-sost .entradilla-con-imagenes {
  position: relative;
  margin: 40px 0;
  padding: 0 2px;
  width: 100%;
  border: none;
  display: block;
  float: none; }
  @media (min-width: 768px) {
    #prog-sost .entradilla-con-imagenes {
      margin: 40px auto; } }
  @media (max-width: 767px) {
    #prog-sost .entradilla-con-imagenes {
      margin: 40px auto; } }
  @media (max-width: 640px) {
    #prog-sost .entradilla-con-imagenes {
      max-width: 350px; } }
  @media (max-width: 560px) {
    #prog-sost .entradilla-con-imagenes {
      width: 100%;
      height: auto; } }
  #prog-sost .entradilla-con-imagenes .grad-hr {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(63, 63, 63, 0.6)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(63, 63, 63, 0.6));
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #prog-sost .entradilla-con-imagenes .imagen {
    padding-top: 60%;
    background-color: #fff;
    position: relative;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (max-width: 640px) {
      #prog-sost .entradilla-con-imagenes .imagen {
        padding-top: 100%; } }
    @media (max-width: 560px) {
      #prog-sost .entradilla-con-imagenes .imagen {
        padding-top: 90%; } }
  #prog-sost .entradilla-con-imagenes .contenido {
    position: absolute;
    background: none;
    border-bottom: none;
    bottom: 30px;
    margin: auto;
    padding: 10px 25px;
    z-index: 3; }
    #prog-sost .entradilla-con-imagenes .contenido h2 {
      color: #fdca2f; }
      #prog-sost .entradilla-con-imagenes .contenido h2 a {
        font-size: 32px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        color: #ffcf01;
        text-decoration: none; }
    #prog-sost .entradilla-con-imagenes .contenido p {
      font-size: 15px;
      color: #fff; }
    @media (max-width: 560px) {
      #prog-sost .entradilla-con-imagenes .contenido {
        bottom: 14px; }
        #prog-sost .entradilla-con-imagenes .contenido h2 a {
          font-size: 26px; }
        #prog-sost .entradilla-con-imagenes .contenido p {
          font-size: 12px; } }
  #prog-sost .entradilla-con-imagenes .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #prog-sost .entradilla-con-imagenes .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
  @media (max-width: 560px) {
    #prog-sost .entradilla-con-imagenes .btn-exito {
      min-height: 30px; } }

#not-sostenibles {
  padding: 50px 0; }
  #not-sostenibles .result-articles h2 {
    font-size: 32px;
    color: #595959;
    font-weight: bold;
    margin-bottom: 30px; }
  #not-sostenibles .result-articles .article-item {
    position: relative;
    padding: 0 15px; }
  #not-sostenibles .result-articles .article_img {
    background-position: center;
    background-size: cover;
    min-height: 240px;
    width: 100%;
    position: relative; }
  #not-sostenibles .result-articles .article_info1 {
    position: relative;
    background-color: #fff;
    border: 1px solid #d1d3d4;
    width: 100%;
    padding: 25px 25px 40px; }
    #not-sostenibles .result-articles .article_info1 h2 {
      font-size: 32px;
      color: #595959;
      font-weight: bold;
      margin: 0;
      margin-bottom: 30px; }
    #not-sostenibles .result-articles .article_info1 .btn-nots-y {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60px;
      text-align: center;
      height: 60px;
      border: 1px solid #ffcf01;
      background-color: #ffcf01; }
      #not-sostenibles .result-articles .article_info1 .btn-nots-y a {
        position: absolute;
        text-decoration: none;
        font-size: 2em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }
  #not-sostenibles .btn-more-not {
    text-align: center;
    margin: 70px auto; }
  #not-sostenibles .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #not-sostenibles .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }

#prog-sostenibles {
  text-align: center;
  padding: 50px 0; }
  #prog-sostenibles h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: center;
    color: #00448d; }
  #prog-sostenibles span {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    color: #595959;
    margin-bottom: 40px;
    display: block; }
  #prog-sostenibles .article-item {
    position: relative;
    padding: 0 15px; }
    #prog-sostenibles .article-item .article_img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      border-radius: 10px 10px 0 0;
      position: relative;
      height: 240px;
      background-position: center;
      background-size: cover; }
    #prog-sostenibles .article-item .article_info1 {
      height: auto;
      width: 100%;
      padding: 40px 25px;
      margin: 0px auto 50px;
      position: relative;
      border: 1px solid #d1d3d4;
      background-color: #fff; }
    #prog-sostenibles .article-item h2 {
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: -0.5px;
      text-align: center;
      color: #808285; }
    #prog-sostenibles .article-item p {
      font-size: 18px;
      font-weight: normal;
      color: #595959; }
    #prog-sostenibles .article-item .btn {
      position: relative;
      padding: 10px 35px;
      font-weight: bold;
      white-space: normal; }
      #prog-sostenibles .article-item .btn-exito {
        background-color: #ffcb00;
        border-radius: 50px !important;
        height: auto;
        color: #595959;
        font-size: 15px;
        min-height: 40px;
        min-width: 160px;
        text-align: center;
        text-decoration: none;
        width: auto;
        max-width: 330px;
        cursor: pointer;
        clear: both;
        display: inline-block;
        text-transform: uppercase; }

#slider .swiper-container, #slider .swiper-contenedor {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

#slider .slide {
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 560px) {
    #slider .slide {
      background-image: none !important; } }
  @media screen and (max-width: 640px) {
    #slider .slide {
      background-position: center center; } }
  @media (max-width: 560px) {
    #slider .slide-soste-1 {
      background-image: none; }
    #slider .slide-soste-2 {
      background-image: none; }
    #slider .slide-soste-3 {
      background-image: none; }
    #slider .slide-soste-4 {
      background-image: none; }
    #slider .slide-bnnr-sst4 {
      background-image: none; } }
  #slider .slide .col-right-slidr {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: none; }
    @media (max-width: 560px) {
      #slider .slide .col-right-slidr {
        display: block; } }
  #slider .slide .col-right-slid {
    visibility: hidden; }
    @media (max-width: 560px) {
      #slider .slide .col-right-slid {
        padding: 0;
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: 130px;
        min-height: 200px;
        visibility: visible; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-slid-2 {
      padding: 0;
      background-position: center 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-sst3 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-sst3 p {
        padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-sst4 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-sst4 p {
        padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-bnnr-sst4 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-bnnr-sst4 p {
        padding-right: 80px; } }
  #slider .slide .info-slide h1 {
    color: #ffcb00;
    border: 0px;
    padding-bottom: 0px;
    font-size: 3em;
    font-weight: bold; }
  #slider .slide .info-slide p {
    font-size: 1.5em;
    line-height: normal; }
  #slider .slide .info-slide .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #slider .slide .info-slide .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
  @media (max-width: 560px) {
    #slider .slide .info-slide {
      height: 383px; }
      #slider .slide .info-slide h1 {
        color: #ffcb00;
        border: 0px;
        padding-bottom: 0px;
        font-size: 2em;
        font-weight: bold; }
      #slider .slide .info-slide p {
        font-size: 1em;
        line-height: normal; } }
  @media (max-width: 767px) {
    #slider .slide .info-slide-sst3 p {
      padding-right: 15%; } }
  @media screen and (max-width: 640px) {
    #slider .slide .info-slide-sst3 p {
      padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .info-slide-sst3 {
      background-color: #f4f4f4;
      height: auto; } }
  @media (max-width: 560px) {
    #slider .slide .info-slide-sst4 {
      background-color: #f4f4f4;
      height: auto; } }
  @media screen and (max-width: 640px) {
    #slider .slide .info-slide-sst4 p {
      padding-right: 80px; } }
  @media (max-width: 767px) {
    #slider .slide .info-slide-sst4 p {
      padding-right: 15%; } }
  #slider .slide .info-slide-white p {
    color: #fff; }
  @media (max-width: 560px) {
    #slider .slide .info-slide-white {
      background-color: #595959; }
      #slider .slide .info-slide-white p {
        color: #fff !important; } }
  #slider .slide .info-slide-blue h1 {
    color: #00448d; }
  #slider .slide .info-slide-blue p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.3px; }

#slider .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  border: 1px solid #00448c;
  background: transparent;
  opacity: 1; }

#slider .centrar-banner {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: table;
  min-height: 450px; }
  @media (max-width: 560px) {
    #slider .centrar-banner {
      padding: 0; } }
  #slider .centrar-banner .centro-banner {
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 560px) {
      #slider .centrar-banner .centro-banner {
        padding: 0; } }

#slider .swiper-pagination-bullet-active {
  background: #00448c; }

#slider .swiper-container-horizontal > .swiper-pagination-bullets, #slider .swiper-pagination-custom, #slider .swiper-pagination-fraction {
  bottom: 25px; }

#slider .swiper-pagination-bullet {
  height: 8px;
  width: 40px;
  border: 1px solid transparent;
  opacity: 1;
  border-radius: 4px;
  background-color: #808285; }

#slider .swiper-pagination-bullet-active {
  background: #ffd200; }

#banner-sost .bnnr {
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  width: 100%; }
  @media screen and (max-width: 640px) {
    #banner-sost .bnnr {
      background-position: center center; } }
  @media (max-width: 560px) {
    #banner-sost .bnnr {
      background-image: none !important; } }
  #banner-sost .bnnr .centrar-banner {
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-height: 450px;
    display: table; }
    @media (max-width: 560px) {
      #banner-sost .bnnr .centrar-banner {
        padding: 0; } }
    #banner-sost .bnnr .centrar-banner .centro-banner {
      display: table-cell;
      vertical-align: middle; }
  #banner-sost .bnnr .col-right-bannr {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: none; }
    @media (max-width: 560px) {
      #banner-sost .bnnr .col-right-bannr {
        display: block; } }
  #banner-sost .bnnr .info-slide {
    color: #fff;
    float: right; }
    #banner-sost .bnnr .info-slide h4 {
      color: #ffcb00;
      border: 0px;
      padding-bottom: 0px;
      font-size: 3em;
      font-weight: bold; }
    #banner-sost .bnnr .info-slide p {
      font-size: 1.5em;
      line-height: normal;
      color: #595959; }
      @media screen and (max-width: 640px) {
        #banner-sost .bnnr .info-slide p {
          font-size: 1.4em;
          display: block; } }
  #banner-sost .bnnr .slid-white p {
    color: #fff; }
  #banner-sost .bnnr .slid-blue h4 {
    color: #00448d; }
  #banner-sost .bnnr .slid-blue p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.3px; }
  #banner-sost .bnnr .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #banner-sost .bnnr .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }

.tabbed-content {
  padding: 1em;
  margin: 1em auto; }

.tabs {
  display: none; }
  .tabs ul {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    border-bottom: 0;
    display: flow-root; }
    .tabs ul li {
      padding: 10px 0px 10px 25px;
      position: relative;
      width: 100%; }
      .tabs ul li a {
        padding-left: 10px;
        text-decoration: none !important;
        color: #292929;
        font-size: 16px;
        border: 0; }
        .tabs ul li a:hover, .tabs ul li a :focus {
          color: #555;
          background-color: #fff;
          border: 1px solid transparent;
          border-bottom-color: transparent;
          cursor: default; }
        .tabs ul li a.active {
          font-weight: bold;
          border: none; }
        .tabs ul li a.active:before {
          content: '';
          background-color: #ffca00;
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          left: -2px;
          -webkit-transition: all .3s;
          transition: all .3s; }

.item {
  margin-bottom: 2px; }
  .item::before {
    cursor: pointer;
    font-weight: bold;
    background: #eee;
    padding: .5em;
    display: block; }
  .item.active .item-content {
    padding: 1em;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }

@media all and (min-width: 760px) {
  .item.active .item-content {
    padding-top: 0; }
  .tabs-side .tabs li {
    margin-bottom: 2px; } }

.tabbed-content .tabs {
  display: none; }

.tabbed-content .item {
  min-height: 2em;
  position: relative; }
  .tabbed-content .item .icon-left {
    position: absolute;
    top: 20px;
    font-size: 25px;
    display: none; }
    @media (max-width: 760px) {
      .tabbed-content .item .icon-left {
        display: block; } }
  .tabbed-content .item .icon-right {
    position: absolute;
    top: 20px;
    font-size: 25px;
    right: 15px;
    display: none; }
    @media (max-width: 760px) {
      .tabbed-content .item .icon-right {
        display: block; } }
  .tabbed-content .item::before {
    content: attr(data-title);
    font-size: 18px;
    border-top: 1px solid #808285;
    border-bottom: 1px solid #808285;
    border-radius: 0.5px;
    background: #fff;
    padding: 1em;
    padding-left: 30px; }
  .tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none; }
  .tabbed-content .item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    display: block; }

@media all and (min-width: 760px) {
  .tabbed-content .tabs {
    display: block; }
    .tabbed-content .tabs li {
      display: inline-block; }
      .tabbed-content .tabs li a {
        display: block; }
  .tabbed-content .item {
    min-height: 0; }
    .tabbed-content .item::before {
      display: none; }
  .tabbed-content.tabs-side .tabs {
    width: 350px;
    float: left; }
    .tabbed-content.tabs-side .tabs li {
      display: block; }
  .tabbed-content.tabs-side .item {
    margin-left: 350px; } }
