@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
.banner-formaspago {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative; }
  .banner-formaspago .titulo-banner {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%); }
    .banner-formaspago .titulo-banner h1 {
      font-size: 40px;
      color: #57585b;
      font-family: 'Nunito';
      margin-top: 36px; }
      .banner-formaspago .titulo-banner h1 span {
        color: #ffd900; }
  .banner-formaspago .movil-banner {
    visibility: hidden; }
  @media (max-width: 560px) {
    .banner-formaspago {
      padding: 0;
      min-height: 427px;
      margin-bottom: 0;
      background-image: none !important; }
      .banner-formaspago .movil-banner {
        visibility: visible;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px; }
      .banner-formaspago .titulo-banner {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        -webkit-transform: none; }
        .banner-formaspago .titulo-banner h1 {
          font-size: 33px; } }

#medios {
  padding-bottom: 40px;
  text-align: center; }
  #medios .tab-formapago ul li {
    width: 100%;
    background-color: #e6e7e9;
    max-width: 49.4%; }
    #medios .tab-formapago ul li:nth-child(1) {
      margin-right: 5px; }
    #medios .tab-formapago ul li:nth-child(2) {
      margin-left: 6px; }
    #medios .tab-formapago ul li.active a {
      background-color: #ffca00;
      margin: 0; }
    #medios .tab-formapago ul li .menu-tabs {
      position: relative;
      padding: 1% 0; }
      #medios .tab-formapago ul li .menu-tabs img {
        width: 100%;
        max-width: 34px;
        position: absolute;
        left: 5%; }
      #medios .tab-formapago ul li .menu-tabs p {
        font-family: 'Nunito';
        font-size: 20px;
        font-weight: bold;
        color: #5b5b5b;
        padding-left: 15%;
        text-align: left; }
  @media (max-width: 560px) {
    #medios .tab-formapago ul li:nth-child(1) {
      margin-right: 0; }
      #medios .tab-formapago ul li:nth-child(1) p {
        padding-right: 5px; }
    #medios .tab-formapago ul li:nth-child(2) {
      margin-left: 0; }
    #medios .tab-formapago ul img {
      display: none; }
    #medios .tab-formapago ul p {
      font-size: 14px; } }
  @media (max-width: 768px) {
    #medios .tab-formapago ul li {
      max-width: 49.2%; }
      #medios .tab-formapago ul li:nth-child(1) {
        margin-right: 4px; }
      #medios .tab-formapago ul li:nth-child(2) {
        margin-left: 3px; }
      #medios .tab-formapago ul li img {
        display: none; } }
  #medios .title-tabs {
    background-color: #e6e7e9;
    padding: 1% 0; }
    #medios .title-tabs h2 {
      font-size: 24px;
      letter-spacing: -0.5px;
      line-height: 1.25;
      color: #808285;
      font-family: 'Nunito'; }
  #medios .formas {
    padding-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    align_items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum; }
  #medios .item {
    width: 28%;
    height: auto;
    font-weight: 700;
    font-size: 35px;
    color: #000;
    background-color: #fff;
    text-align: center;
    line-height: 73px; }
    #medios .item .thumbnail {
      border: none; }
    #medios .item .caption .btn-yellow {
      background: #444;
      color: white;
      font-family: 'Nunito';
      cursor: pointer;
      font-weight: bold; }
    #medios .item .caption h3 {
      font-size: 16px;
      letter-spacing: -0.3px;
      color: #808285;
      margin-bottom: 0;
      font-family: 'Nunito'; }
    #medios .item .caption p {
      font-size: 16px;
      letter-spacing: -0.3px;
      color: #808285;
      font-family: 'Nunito';
      font-weight: 100; }
  @media (max-width: 560px) {
    #medios h2 {
      font-size: 18px; }
    #medios .formas {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px; }
    #medios .item {
      width: 50%; }
      #medios .item .caption h3 {
        font-size: 14px; }
      #medios .item .caption p {
        font-size: 12px; } }

h1, h2, h3, h4, h5 {
  font-family: 'nunito'; }

p {
  font-family: 'Open-sans-light'; }
