button {
  cursor: pointer; }

.font-30 {
  font-size: 30px; }

.sect-facta {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Nunito', sans-serif; }

.intro-text p {
  font-size: 20px; }

.box-info-facta {
  padding: 30px 80px 50px 80px;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  color: #808285;
  -webkit-box-shadow: 0 3px 5px rgba(41, 41, 41, 0.15);
  box-shadow: 0 3px 5px rgba(41, 41, 41, 0.15); }

.box-info-facta_icon {
  margin-bottom: 30px;
  font-size: 30px; }

.box-info-facta_end {
  padding: 20px 30px 0 30px; }

.box-info-facta_end p {
  color: #292929; }

.box-info-facta p {
  margin-bottom: 25px; }

@media (max-width: 767px) {
  .box-info-facta {
    padding: 30px; } }

.cont-form {
  padding-top: 40px; }

.form-facta {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }

.form-facta_field {
  margin-bottom: 60px; }

.form-facta_field h4 {
  font-weight: bold;
  font-size: 1rem;
  color: #292929;
  margin-bottom: 0; }

.form-facta_field p {
  font-size: 14px; }

.form-facta_field label, .form-facta_field input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #808285; }

.form-facta_field input:not([type="checkbox"]) {
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #808285; }

.form-facta_field input:focus {
  outline: transparent; }

.form-facta_field .d-flex label {
  display: inherit;
  width: auto; }

.form-facta .btn-arrow {
  background-color: #ffd200;
  color: #292929;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(41, 41, 41, 0.1), 0 0 2px 0 rgba(41, 41, 41, 0.16);
  box-shadow: 0 1px 3px 0 rgba(41, 41, 41, 0.1), 0 0 2px 0 rgba(41, 41, 41, 0.16); }

.form-facta .btn-arrow i {
  margin-left: 10px; }

.form-facta .btn-arrow:hover {
  background-color: #f0c500; }

.show-info {
  background-color: transparent;
  border: none; }

.tooltip-facta {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  width: 290px;
  padding: 20px 30px 30px 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 16px 0 rgba(41, 41, 41, 0.1), 0 10px 16px 0 rgba(41, 41, 41, 0.19);
  box-shadow: 0 0 16px 0 rgba(41, 41, 41, 0.1), 0 10px 16px 0 rgba(41, 41, 41, 0.19);
  z-index: 10;
  opacity: 1;
  -webkit-transform: translateX(50%);
  transform: translateX(50%); }

.tooltip-facta.is-active {
  display: block;
  -webkit-animation: fadeIn .3s linear forwards;
  animation: fadeIn .3s linear forwards; }

.tooltip-facta i {
  font-size: 30px;
  color: #00448d; }

.tooltip-facta h4 {
  font-size: 24px;
  margin: 5px 0; }

.tooltip-facta_close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none; }

.tooltip-facta_close:before, .tooltip-facta_close:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #292929;
  top: 50%;
  left: 50%; }

.tooltip-facta_close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg); }

.tooltip-facta_close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg); }

@media (max-width: 991px) {
  .tooltip-facta {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.list-checkbox label {
  position: relative;
  padding: 0 30px; }

.list-checkbox .elm-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #808285;
  cursor: pointer; }

.list-checkbox input[type="radio"] {
  position: absolute;
  visibility: hidden; }

.list-checkbox input[type="radio"]:checked + .elm-checkbox {
  border: 1px solid #00448d;
  background-image: url(../../images/check-solid.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%; }

@media (min-width: 992px) {
  .list-checkbox label {
    position: relative;
    padding: 0 60px; } }
