@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

.slick-dots {
  bottom: 3% !important; }

.slick-dots li button {
  background: #ee1b2a !important;
  color: #ee1b2a !important;
  border-radius: 50%; }

.ocultar {
  display: none !important; }

.btn-bnnr {
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer; }
  .btn-bnnr-yellow {
    background: #fcce05;
    color: #ee1b2a;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 0px 0px #e9aa1d;
            box-shadow: 0px 7px 0px 0px #e9aa1d;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    top: 0;
    position: relative;
    min-width: 180px;
    font-size: 20px; }
    .btn-bnnr-yellow:hover {
      background: #fcce05;
      color: #ee1b2a;
      text-decoration: none;
      -webkit-box-shadow: 0 3px 0 #e9aa1d;
              box-shadow: 0 3px 0 #e9aa1d;
      top: 3px; }
  .btn-bnnr-red {
    color: #fff;
    background: #ee1b2a;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 0px 0px  #800912;
            box-shadow: 0px 7px 0px 0px  #800912;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    top: 0;
    position: absolute;
    min-width: 180px;
    font-size: 20px; }
    .btn-bnnr-red:hover {
      background: #ee1b2a;
      color: #fff;
      text-decoration: none;
      -webkit-box-shadow: 0 3px 0 #800912;
              box-shadow: 0 3px 0 #800912;
      top: 3px; }

#g-slider .slider-back {
  background-position: center;
  background-repeat: no-repeat;
  background-image: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height: 530px;
  position: relative;
  margin-bottom: 0;
  position: relative;
  padding: 6% 0;
  background-color: transparent; }
  #g-slider .slider-back-desktop {
    display: block; }
  #g-slider .slider-back-mobile {
    display: none; }

#g-slider .col-right {
  visibility: hidden; }
  #g-slider .col-right img {
    position: absolute; }

#g-slider .col-left {
  position: relative; }
  #g-slider .col-left-gray {
    padding-right: 5%;
    padding-top: 4%; }
    #g-slider .col-left-gray h1 {
      color: #a1a1a1;
      text-align: right;
      text-transform: initial;
      font-weight: 700;
      font-size: 40px; }
    #g-slider .col-left-gray p {
      color: #fff; }
    #g-slider .col-left-gray img {
      width: 100%;
      max-width: 510px; }
    #g-slider .col-left-gray span {
      color: #ffcc01;
      padding-top: 0;
      text-align: right;
      font-weight: 400;
      font-size: 35px; }
  #g-slider .col-left h1 {
    font-family: 'Nunito';
    line-height: 1;
    margin-bottom: 0; }
    #g-slider .col-left h1 span {
      font-weight: 700;
      font-size: 70px;
      padding: 0; }
  #g-slider .col-left p {
    font-family: 'nunito';
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 400;
    margin-bottom: 15px; }
  #g-slider .col-left span {
    font-weight: 800;
    font-size: 28px;
    display: block; }
  #g-slider .col-left .copy {
    color: #fff;
    font-weight: 400;
    font-family: 'nunito';
    font-size: 16px;
    padding-top: 0; }
  #g-slider .col-left .btn-yellow {
    background-color: #ffcc01;
    color: #515151; }
  #g-slider .col-left .bottom-right {
    position: absolute;
    right: 12%; }

@media (max-width: 560px) {
  #g-slider .slider-back {
    padding: 25% 0px; }
    #g-slider .slider-back-desktop {
      display: none; }
    #g-slider .slider-back-mobile {
      display: block; }
  #g-slider .col-left-gray h1 {
    text-align: left;
    font-size: 30px; }
  #g-slider .col-left-gray span {
    text-align: left; }
  #g-slider .col-left-gray .bottom-right {
    position: relative;
    right: 0; } }
