@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
#banner-invesbot {
  padding: 40px 0;
  padding-bottom: 0; }
  #banner-invesbot .bannr-invesbot {
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    min-height: 450px;
    position: relative;
    margin-bottom: 0;
    position: relative; }
    #banner-invesbot .bannr-invesbot h1 {
      font-family: 'Nunito';
      color: #fff;
      font-weight: 300;
      font-size: 56px; }
      #banner-invesbot .bannr-invesbot h1 span {
        font-weight: 700; }
    #banner-invesbot .bannr-invesbot ul {
      list-style: none;
      list-style-image: url("/wps/wcm/connect/8fabddc3-69d9-4eff-89e8-f172d0b40a2e/icon-list-yellow.png?MOD=AJPERES");
      padding-left: 4%; }
      #banner-invesbot .bannr-invesbot ul li {
        color: #fff;
        font-family: 'Nunito';
        font-size: 19px; }
    #banner-invesbot .bannr-invesbot .img-banner img {
      position: absolute;
      right: 0;
      top: -6%;
      max-width: 700px;
      width: 100%; }
  @media (max-width: 1024px) {
    #banner-invesbot .bannr-invesbot {
      padding: 0;
      min-height: 406px; }
      #banner-invesbot .bannr-invesbot h1 {
        font-size: 48px; }
      #banner-invesbot .bannr-invesbot .img-banner img {
        max-width: 565px;
        top: -4px; } }
  @media (max-width: 768px) {
    #banner-invesbot .bannr-invesbot .img-banner {
      display: none; } }
  @media (max-width: 560px) {
    #banner-invesbot .banner-invesbot .img-banner {
      display: none; } }

#beneficios {
  padding: 40px 0;
  background-color: #f5f7f8; }
  #beneficios .container-beneficios {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  #beneficios .card-beneficios {
    background-color: transparent;
    border: none; }
    #beneficios .card-beneficios img {
      max-width: 58px;
      width: 100%; }
    #beneficios .card-beneficios .caption h3 {
      font-family: 'Nunito';
      font-size: 24px;
      font-weight: bold;
      color: #666666;
      margin-bottom: 20px; }
    #beneficios .card-beneficios .caption p {
      font-family: 'Nunito';
      font-size: 16px;
      color: #666666;
      font-weight: 400px; }

#demo {
  padding: 40px 0; }
  #demo img {
    position: absolute;
    width: 992px;
    max-width: 830px;
    left: -23%;
    top: -150px; }
  #demo .content-demo h2 {
    color: #666666;
    font-family: 'nunito';
    font-size: 26px;
    font-weight: 800; }
  #demo .content-demo p {
    font-family: 'nunito';
    font-size: 16px;
    font-weight: 400;
    color: #666666; }
  #demo .content-demo span {
    font-family: 'nunito';
    font-weight: 700;
    font-size: 16px;
    color: #07468b;
    display: block;
    margin-top: 5%; }
  @media (max-width: 1024px) {
    #demo img {
      max-width: 625px;
      top: -128px; } }
  @media (max-width: 767px) {
    #demo img {
      position: relative;
      top: 0;
      left: 0%;
      max-width: 600px; } }
  @media (max-width: 560px) {
    #demo img {
      position: relative;
      max-width: 100%;
      left: 0%;
      top: 0; } }

#pasos {
  background-color: #58595b;
  padding: 40px 0; }
  #pasos h2 {
    color: #fdd630;
    font-family: 'nunito';
    font-weight: bold;
    font-size: 43px; }
  #pasos .item {
    display: table;
    background-color: #fff;
    margin: 15px;
    padding: 30px 30px 0;
    min-height: 360px; }
    #pasos .item span {
      color: #fdd630;
      font-family: 'nunito';
      font-weight: bold;
      font-size: 44px; }
    #pasos .item h3 {
      font-family: 'nunito';
      font-weight: bold;
      font-size: 22px;
      color: #666666;
      margin-top: 0; }
    #pasos .item p {
      font-family: 'nunito';
      font-weight: 400;
      font-size: 16px;
      color: #666666; }
  #pasos .btns-pasos {
    text-align: center; }
    #pasos .btns-pasos .btn-video img {
      display: inline-block; }
  #pasos .nextSliderProjectRight {
    position: relative;
    top: -63px;
    left: 88%;
    cursor: pointer; }
  #pasos .nextSliderProjectLeft {
    position: absolute;
    top: -63px;
    right: 0;
    cursor: pointer; }
  @media (max-width: 1024px) {
    #pasos .nextSliderProjectRight {
      left: 85%; }
    #pasos .item {
      min-height: 323px;
      padding: 30px 20px 0; }
      #pasos .item span {
        font-size: 42px; }
      #pasos .item h3 {
        font-size: 21px; }
      #pasos .item img {
        position: absolute;
        top: 12px;
        width: 100%; }
    #pasos .btns-pasos .btn-demo {
      font-size: 14px; }
    #pasos .btns-pasos .btn-video img {
      max-width: 50px;
      position: initial; } }
  @media (max-width: 768px) {
    #pasos .item img {
      position: relative;
      top: 0; }
    #pasos .btn-video img {
      left: 0;
      top: 5px; } }
  @media (max-width: 560px) {
    #pasos .nextSliderProjectRight {
      left: 55%;
      top: 0; }
    #pasos .nextSliderProjectLeft {
      top: 0; }
    #pasos .item img {
      position: relative;
      top: 0; } }

#dudas {
  padding: 30px 0;
  background-color: #eeeeee; }
  #dudas h2 {
    font-family: 'nunito';
    font-weight: 700;
    font-size: 26px;
    color: #666666; }
  #dudas p {
    font-family: 'nunito';
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    color: #666666; }

#consejos {
  padding: 40px 0; }
  #consejos h2 {
    font-family: 'nunito';
    font-size: 43px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 30px; }
  #consejos .item-consejos {
    border-left: 4px solid #fccf01;
    min-height: 150px; }
    #consejos .item-consejos p {
      font-family: 'nunito';
      font-weight: 300px;
      font-size: 19px;
      color: #666666;
      padding-left: 15px; }
      #consejos .item-consejos p span {
        font-weight: bold; }

#bloques .container-opcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align_items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: colum;
  flex-direction: colum; }
  #bloques .container-opcion .item {
    width: 33.33%;
    height: auto;
    min-height: auto;
    text-align: center; }
    #bloques .container-opcion .item .opcion {
      position: relative;
      min-height: 327px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #bloques .container-opcion .item .opcion .caption {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }
        #bloques .container-opcion .item .opcion .caption h2 {
          font-family: 'Nunito';
          font-weight: 700; }
          #bloques .container-opcion .item .opcion .caption h2 a {
            color: #fff;
            font-size: 37px; }
            #bloques .container-opcion .item .opcion .caption h2 a:hover, #bloques .container-opcion .item .opcion .caption h2 a:active, #bloques .container-opcion .item .opcion .caption h2 a:focus {
              text-decoration: none; }
        #bloques .container-opcion .item .opcion .caption p {
          font-family: 'Nunito';
          color: #fff;
          font-weight: 400;
          font-size: 20px; }

@media (max-width: 1024px) {
  #bloques .container-opcion .item {
    width: 33.3%; }
    #bloques .container-opcion .item .opcion .caption {
      min-width: 260px; }
      #bloques .container-opcion .item .opcion .caption h2 a {
        font-size: 30px; }
      #bloques .container-opcion .item .opcion .caption p {
        font-size: 16px; }
      #bloques .container-opcion .item .opcion .caption a {
        font-size: 14px; } }

@media (max-width: 767px) {
  #bloques h2 {
    font-size: 36px; }
  #bloques .container-opcion .item {
    width: 100%; }
    #bloques .container-opcion .item .opcion .caption a {
      font-size: 25px; } }

@media (max-width: 560px) {
  #bloques h2 {
    font-size: 28px; }
  #bloques .container-opcion .item {
    width: 100%; }
    #bloques .container-opcion .item .opcion {
      min-height: 220px; }
      #bloques .container-opcion .item .opcion .caption h2 a {
        font-size: 20px; }
      #bloques .container-opcion .item .opcion .caption a {
        font-size: 18px; } }

#fqa {
  background-color: #f5f7f8;
  padding: 40px 0; }
  #fqa h2 {
    font-family: 'Nunito';
    font-weight: bold;
    color: #666666;
    font-size: 43px;
    margin-bottom: 30px; }
  #fqa .panel-fqa .panel {
    background-color: transparent;
    color: #58595B;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    #fqa .panel-fqa .panel .panel-heading {
      background-color: transparent;
      color: #58595B;
      padding: 12px 0; }
      #fqa .panel-fqa .panel .panel-heading .panel-title .unactive {
        tranform: rotate 180deg; }
      #fqa .panel-fqa .panel .panel-heading .panel-title .active {
        tranform: rotate 0deg; }
      #fqa .panel-fqa .panel .panel-heading h3::after {
        content: "";
        position: absolute;
        background-color: #d1d3d4;
        height: 1px;
        width: 90%;
        top: -3px;
        left: 5%;
        z-index: 2; }
      #fqa .panel-fqa .panel .panel-heading h3 .collapsed::after {
        font-family: 'Glyphicons Halflings';
        content: "\e114"; }
      #fqa .panel-fqa .panel .panel-heading h3 a {
        display: block; }
        #fqa .panel-fqa .panel .panel-heading h3 a::after {
          font-family: 'Glyphicons Halflings';
          content: "\e113";
          position: absolute;
          right: 6%; }
        #fqa .panel-fqa .panel .panel-heading h3 a:hover, #fqa .panel-fqa .panel .panel-heading h3 a:focus {
          color: #FFD200; }
    #fqa .panel-fqa .panel .panel-body {
      padding-left: 4em; }
      #fqa .panel-fqa .panel .panel-body ul {
        list-style: none; }
        #fqa .panel-fqa .panel .panel-body ul li {
          background: none; }
          #fqa .panel-fqa .panel .panel-body ul li::before {
            content: "•";
            color: #FFD200;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            position: absolute; }
          #fqa .panel-fqa .panel .panel-body ul li ul {
            padding-left: 4%; }
  @media (max-width: 1024px) {
    #fqa {
      background-size: 505px; } }
  @media (max-width: 480px) {
    #fqa .contenedor-fqa .titulos .Rectangle {
      width: 110px;
      height: 55px; }
      #fqa .contenedor-fqa .titulos .Rectangle img {
        max-width: 40px; }
    #fqa .contenedor-fqa .titulos p {
      font-size: 15px; }
    #fqa .contenedor-fqa .titulos h2 {
      font-size: 15px; }
    #fqa .panel-fqa .panel-heading h3 {
      padding-right: 40px; }
    #fqa h2 {
      font-size: 20px; }
    #fqa ul li h3 {
      font-size: 16px; }
    #fqa ul li p {
      font-size: 12px; } }

#apps {
  padding: 40px 0;
  background-color: #fccf01;
  text-align: center; }
  #apps h2 {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 26px;
    color: #666666;
    text-transform: uppercase; }
  #apps img {
    width: 100%;
    max-width: 113px; }
  #apps a:nth-child(1) {
    margin-right: 10px; }
  #apps a:nth-child(2) {
    margin-left: 10px; }

.modal.fade.in {
  background: rgba(255, 255, 255, 0.8); }

.p-modal .btns {
  text-align: right; }

.btn {
  color: #fff;
  font-family: 'Nunito';
  font-size: 16px;
  text-transform: uppercase; }
  .btn:hover, .btn:active, .btn:focus {
    color: #fff; }
  .btn-demo {
    border-radius: 50px;
    border: 2px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .btn-demo:hover {
      background-color: #fff;
      color: #666666;
      font-weight: 400; }
    .btn-demo-blue {
      color: #07468b;
      border: 2px solid #07468b;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .btn-demo-blue:hover, .btn-demo-blue:active, .btn-demo-blue:focus {
        background: #07468b;
        color: #fff; }
  .btn-video {
    position: relative; }
    .btn-video::after {
      content: '';
      display: block;
      width: 51px;
      height: 51px;
      background: url("../images/invesbot/icon-play.png");
      position: absolute;
      right: -32px;
      top: 0px;
      background-size: 46px;
      background-repeat: no-repeat; }
  @media (max-width: 1024px) {
    .btn {
      font-size: 18px; } }
  @media (max-width: 768px) {
    .btn-video {
      left: 0; } }
