@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.sect-banner-land {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif; }
  .sect-banner-land .slick-invct {
    margin-bottom: 0 !important; }
    .sect-banner-land .slick-invct > div > div > div {
      position: relative;
      background-position: center;
      background-size: cover;
      min-height: 450px;
      background-repeat: no-repeat; }
  .sect-banner-land .slick-slide {
    padding-top: 30px; }
  @media (min-width: 992px) {
    .sect-banner-land .slick-invct > div {
      overflow: visible; } }

.slick-invct h3 {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2; }

.slick-invct ul {
  margin: 25px 0 15px 0; }

.slick-invct li {
  position: relative;
  padding-left: 14px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 5px; }
  .slick-invct li:before {
    content: " ";
    position: absolute;
    left: -6px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFD102; }

.slick-invct_terms {
  height: 24px;
  width: 445px;
  opacity: 0.55;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: -0.49px;
  line-height: 1;
  margin: 35px 0; }

.slick-invct a {
  background: #FFD102;
  display: block;
  width: 248px;
  border-radius: 10000px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: #292929;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.38px;
  line-height: 1;
  text-align: center;
  padding: 12px; }
  .slick-invct a:hover {
    text-decoration: none; }

.slick-invct .slick-dots {
  bottom: 50px;
  margin: 0; }
  .slick-invct .slick-dots li {
    width: 45px;
    height: 10px;
    background-color: #D8D8D8;
    border-radius: 30px; }
    .slick-invct .slick-dots li:before {
      content: normal; }
  .slick-invct .slick-dots .slick-active {
    background-color: #FFD102; }

@media (min-width: 992px) {
  .slick-invct h3 {
    font-size: 58px; }
  .slick-invct li {
    font-size: 21px; }
  .slick-invct a {
    font-size: 20px; } }

.ct-banner-im {
  position: relative;
  min-height: 450px; }
  .ct-banner-im img {
    position: absolute;
    top: -50px;
    -webkit-transition: .5s ease-in;
    transition: .5s ease-in; }
    .ct-banner-im img:hover {
      -webkit-transform: translate(0, 4px);
              transform: translate(0, 4px); }
  .ct-banner-im p {
    position: absolute;
    right: 0;
    top: 9%;
    width: 154px;
    color: #292929;
    font-size: 19px;
    letter-spacing: -0.6px;
    line-height: 18px; }
  @media (max-width: 991px) {
    .ct-banner-im p {
      right: inherit;
      left: 330px; } }
  @media (max-width: 767px) {
    .ct-banner-im {
      display: none; } }
  @media (min-width: 1200px) {
    .ct-banner-im p {
      right: 17%; } }

.lan-stepsct {
  margin: 45px 0; }
  .lan-stepsct h2 {
    color: #808285;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px; }

.stepctnum-cont {
  margin-bottom: 30px; }
  .stepctnum-cont img {
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }

.stepctnum {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px; }
  .stepctnum span {
    position: absolute;
    top: 50%;
    left: 0;
    color: #FFD200;
    font-size: 45px;
    font-weight: 800;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .stepctnum p {
    font-size: 18px; }

.lan-inversion {
  font-family: 'Nunito', sans-serif; }

.bt-ct-ahorra {
  width: 100%;
  background: #E6E7E8;
  font-family: 'Nunito', sans-serif;
  padding: 45px 0; }
  .bt-ct-ahorra > div p {
    opacity: 0.8;
    color: #292929;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-align: center; }
  .bt-ct-ahorra > div a {
    background: #FFD102;
    display: block;
    width: 248px;
    border-radius: 10000px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: #292929;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.38px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto; }
    .bt-ct-ahorra > div a:hover {
      text-decoration: none; }

.tabslan-steps {
  margin: 45px 0; }
  .tabslan-steps > div > ul li {
    width: 20%; }
    .tabslan-steps > div > ul li a {
      color: #292929;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.3px;
      line-height: 24px;
      text-align: center;
      position: relative; }
  .tabslan-steps > div > ul li.active > a {
    position: relative;
    border: none; }
    .tabslan-steps > div > ul li.active > a:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #FFD200; }
  .tabslan-steps > div > div.tabs-inversvirct > div {
    margin: 35px 0; }
    .tabslan-steps > div > div.tabs-inversvirct > div p {
      color: #292929;
      font-family: "Open Sans";
      font-size: 16px;
      letter-spacing: -0.3px;
      line-height: 24px; }
  .tabslan-steps > div > div.tabs-inversvirct > div.active {
    opacity: 1;
    position: relative; }
  @media (max-width: 992px) {
    .tabslan-steps {
      padding-left: 15px;
      padding-right: 15px; } }

.tab-content--lan {
  padding-top: 40px; }
  .tab-content--lan li, .tab-content--lan p {
    font-size: 16px; }
  .tab-content--lan ul {
    padding-left: 15px; }
  .tab-content--lan li {
    color: #292929;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 32px;
    position: relative;
    padding: 4px 14px; }
    .tab-content--lan li::before {
      content: " ";
      position: absolute;
      left: -6px;
      top: 16px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #FFD102; }

.rates-table {
  width: 100%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  .rates-table th, .rates-table td {
    font-size: 18px; }
  .rates-table tr:last-of-type td {
    padding-bottom: 20px; }
  .rates-table th {
    padding: 25px 40px 12px 40px;
    font-weight: bold;
    text-align: center; }
  .rates-table td {
    padding: 10px 30px; }

.c-download-rules {
  display: block;
  position: relative;
  width: 100%;
  max-width: 470px;
  margin: 30px auto 0 auto;
  font-size: 16px;
  border: none;
  padding: 30px 55px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .c-download-rules p {
    margin-bottom: 0; }
  .c-download-rules img {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

@media (max-width: 991px) {
  .nav-tabs-desktop {
    display: none; } }

.nav-tabs-mobile {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100; }
  .nav-tabs-mobile ul {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  .nav-tabs-mobile li {
    float: none;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .nav-tabs-mobile li.slick-active > a {
      border: none !important; }
  .nav-tabs-mobile a {
    margin-right: 0 !important; }
  .nav-tabs-mobile_txt {
    display: block;
    position: relative;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .nav-tabs-mobile_txt:before {
      content: "";
      position: absolute;
      top: 44%;
      right: 15px;
      width: 15px;
      height: 15px;
      border-left: 3px solid rgba(0, 0, 0, 0.5);
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      -webkit-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg); }
  @media (min-width: 992px) {
    .nav-tabs-mobile {
      display: none; } }

.tab-pane_title {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px; }
  .tab-pane_title img {
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

@media (min-width: 992px) {
  .tab-pane {
    padding-left: 60px;
    padding-right: 60px; } }

.sect-interest {
  padding-bottom: 60px; }
  .sect-interest h2 {
    margin-bottom: 45px;
    font-weight: 800;
    font-size: 32px;
    color: #07468B; }

.card-interest {
  position: relative;
  height: 300px;
  background-position: center;
  background-size: cover; }
  .card-interest:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .card-interest_cont {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white; }
    .card-interest_cont h3 {
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: 800;
      font-size: 30px; }
    .card-interest_cont p {
      font-size: 20px;
      line-height: 1.4; }
