#not-sostenibles {
  padding: 50px 0; }
  #not-sostenibles h2 {
    font-size: 32px;
    color: #595959;
    font-weight: bold;
    margin-bottom: 30px; }
  #not-sostenibles .article-item {
    position: relative;
    padding: 0 15px;
    padding-bottom: 20px !important; }
    #not-sostenibles .article-item .article_img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      height: 240px;
      background: center;
      background-size: cover; }
    #not-sostenibles .article-item .article_info {
      position: relative;
      width: calc(100% - 10px);
      padding: 30px 20px 40px 20px;
      margin: -50px auto 30px auto;
      background-color: white;
      border: 1px solid #d1d3d4;
      height: 350px; }
      #not-sostenibles .article-item .article_info h2 {
        font-size: 32px;
        color: #595959;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        margin: 0; }
    #not-sostenibles .article-item .btn-nots {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60px;
      text-align: center;
      height: 60px;
      border: 1px solid #00448d; }
      #not-sostenibles .article-item .btn-nots a {
        position: absolute;
        text-decoration: none;
        font-size: 2em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }
  #not-sostenibles .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #not-sostenibles .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
