.banner-pre {
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 356px; }
  .banner-pre h1 {
    font-size: 36px;
    color: #00448d; }
  .banner-pre p {
    color: #595959;
    font-size: 19px;
    margin-bottom: 30px; }
  .banner-pre .col-bnnr-iz {
    visibility: hidden; }
  @media (max-width: 480px) {
    .banner-pre {
      background-image: none !important;
      padding: 0;
      margin-bottom: 0; }
      .banner-pre h1 {
        font-size: 26px; }
      .banner-pre p {
        font-size: 15px;
        margin-bottom: 0; }
      .banner-pre .btn-pre {
        display: none; }
      .banner-pre .col-bnnr-iz {
        visibility: visible;
        background-position: 78% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px; } }

#description {
  padding: 40px 0; }
  #description img {
    width: 100%; }

#comohacerlo {
  padding: 40px 0; }
  #comohacerlo .tabla-preaprobados {
    border-bottom: none; }
    #comohacerlo .tabla-preaprobados li {
      width: 50%;
      border-bottom: 2px solid #747779; }
      #comohacerlo .tabla-preaprobados li a {
        color: #292929;
        min-height: 45px; }
        #comohacerlo .tabla-preaprobados li a:hover, #comohacerlo .tabla-preaprobados li a:active, #comohacerlo .tabla-preaprobados li a:focus {
          color: #292929;
          font-weight: bold; }
      #comohacerlo .tabla-preaprobados li.active {
        border-bottom-color: #ffd200; }
        #comohacerlo .tabla-preaprobados li.active a {
          border-radius: 0;
          border: none; }
  #comohacerlo .tab-pane {
    padding: 40px 0; }
    #comohacerlo .tab-pane .obtener h3 {
      font-size: 36px;
      color: #00448d;
      margin-bottom: 40px; }
  @media (max-width: 480px) {
    #comohacerlo .tabla-preaprobados li a {
      min-height: 86px; }
    #comohacerlo .tab-pane .obtener h3 {
      font-size: 25px; } }

.btn-pre {
  background-color: #ffd200;
  width: 300px;
  border-radius: 28px;
  height: 48px;
  color: #454648;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none; }
  .btn-pre:active, .btn-pre:focus, .btn-pre:hover {
    color: #454648; }
