@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");
#banner-profile .banner-profiles {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height: 430px;
  position: relative;
  margin-bottom: 0;
  position: relative;
  padding: 6% 0; }
  #banner-profile .banner-profiles .col-left {
    background-image: none; }
  #banner-profile .banner-profiles img {
    border-radius: 50%;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 2px #565656;
            box-shadow: 0 0 2px #565656;
    max-width: 240px;
    max-height: 240px; }
  #banner-profile .banner-profiles h1 {
    font-size: 56px;
    font-family: 'nunito';
    font-weight: bold; }
  #banner-profile .banner-profiles h3 {
    font-size: 24px;
    line-height: 1.08;
    color: #6d6e71;
    font-family: nunito;
    font-weight: 600; }
    #banner-profile .banner-profiles h3 span:first-child::after {
      content: "|";
      padding: 0 10px; }
  #banner-profile .banner-profiles ul li {
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.3px;
    margin: 10px 0; }
    #banner-profile .banner-profiles ul li::after {
      content: "|";
      padding: 0 10px; }
    #banner-profile .banner-profiles ul li:last-child:after {
      content: ""; }

@media (max-width: 767px) {
  #banner-profile .banner-profiles {
    text-align: center;
    padding: 0; }
  #banner-profile .col-left {
    background-image: url("../images/bib/back-profile.png");
    background-position: -136px 0;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 4% 0 14% 0; }
    #banner-profile .col-left img {
      display: block;
      margin: auto; }
  #banner-profile .col-right {
    padding-bottom: 15%; } }

#sectores h2 {
  font-family: 'nunito';
  font-weight: bold;
  color: #292929;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -.6px;
  margin-bottom: 10px; }

#sectores p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #808285; }

#relacionados {
  padding: 40px 0;
  overflow: hidden; }
  #relacionados .contenerdor-profiles {
    background-color: #ebebeb;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 21px -2px #636363;
            box-shadow: 0 5px 21px -2px #636363;
    padding: 60px 6% 90px 6%;
    margin-bottom: 20px;
    position: relative;
    display: flow-root; }
    #relacionados .contenerdor-profiles:before {
      content: "";
      position: absolute;
      width: 1920px;
      height: 100%;
      max-height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      background-color: rgba(240, 241, 241, 0.55);
      display: block;
      overflow: hidden;
      z-index: -2; }
    #relacionados .contenerdor-profiles .allies {
      position: relative;
      text-align: center;
      background-color: #fff;
      -webkit-box-shadow: 0 0 14px -2px #636363;
              box-shadow: 0 0 14px -2px #636363;
      max-width: 445px;
      margin: 15px; }
      #relacionados .contenerdor-profiles .allies .thumbnail {
        border: none;
        background-color: #ebebeb;
        min-height: 200px;
        margin-bottom: 6em; }
        #relacionados .contenerdor-profiles .allies .thumbnail img {
          max-width: 225px;
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -15%);
          -webkit-transform: translate(-50%, -15%); }
      #relacionados .contenerdor-profiles .allies .caption {
        padding-bottom: 15%; }
        #relacionados .contenerdor-profiles .allies .caption h4 {
          position: relative;
          color: #6d6e71;
          font-family: 'nunito';
          font-size: 21px;
          padding-bottom: 20px;
          font-weight: 600;
          border-bottom: 0; }
          #relacionados .contenerdor-profiles .allies .caption h4:after {
            content: "";
            position: absolute;
            width: 68px;
            height: 2px;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background-color: #6d6e71;
            display: block; }
        #relacionados .contenerdor-profiles .allies .caption p {
          font-family: 'nunito';
          font-size: 18px;
          font-weight: 400; }
  @media (max-width: 560px) {
    #relacionados {
      overflow: hidden; }
      #relacionados .contenerdor-profiles {
        width: 85%;
        margin: auto; }
        #relacionados .contenerdor-profiles .allies {
          -webkit-box-shadow: 0 0 6px -2px #636363;
                  box-shadow: 0 0 6px -2px #636363;
          margin: 15px 6px; }
          #relacionados .contenerdor-profiles .allies .thumbnail {
            max-height: 150px;
            min-height: 150px; }
            #relacionados .contenerdor-profiles .allies .thumbnail img {
              max-width: 168px;
              height: auto; } }

.btn {
  position: relative;
  padding: 8px 40px;
  max-width: 300px;
  font-family: 'nunito';
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #00448d;
  color: #00448d;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #ffd200;
    color: #00448d;
    -webkit-transition: 1s ease;
    transition: 1s ease; }
  .btn-linkedin {
    margin-top: 10px;
    padding-right: 60px; }
    .btn-linkedin:after {
      content: '';
      display: block;
      width: 51px;
      height: 51px;
      background: url("../images/bib/linkedin-logo.png");
      position: absolute;
      right: -14px;
      top: 5px;
      background-size: 24px;
      background-repeat: no-repeat; }
  @media (max-width: 1024px) {
    .btn {
      font-size: 18px; } }
  @media (max-width: 768px) {
    .btn-video {
      left: 0; } }

.imgcircle img {
  border-radius: 50%;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 2px #565656;
          box-shadow: 0 0 2px #565656;
  max-width: 240px;
  max-height: 240px; }
