@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.iconPropuestaValor {
  padding: 50px 0;
  /***Media Querys***/ }
  .iconPropuestaValor .row > div div {
    width: 124px;
    height: 124px;
    background-color: #f7f7f7;
    border-radius: 50%;
    position: relative;
    margin: 0 auto; }
    .iconPropuestaValor .row > div div img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  .iconPropuestaValor .row > div a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    text-align: center;
    color: #292929;
    display: block;
    margin: 15px 0; }
  @media (max-width: 560px) {
    .iconPropuestaValor {
      padding: 10px 0; } }

.actualizate .item-actual {
  background-image: url("../images/propuesta-valor/fondo-sectionx2.png");
  background-size: 50% 90%;
  background-repeat: no-repeat;
  background-position: right;
  display: inline-block;
  vertical-align: middle;
  padding: 64px 0; }
  .actualizate .item-actual div img {
    width: 80%;
    height: auto;
    padding-top: 40px; }
  .actualizate .item-actual div h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: #292929;
    position: relative;
    margin-bottom: 10px; }
    .actualizate .item-actual div h3::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 25%;
      height: 3px;
      background-color: #E6E7E8; }
  .actualizate .item-actual div p {
    color: #808285;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: -0.3px; }
  .actualizate .item-actual div a {
    display: block;
    width: 196px;
    height: 43px;
    color: #fff;
    background-color: #00448c;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.3px;
    font-weight: bold;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    text-align: center; }
    .actualizate .item-actual div a::before {
      content: url("../images/propuesta-valor/chevron-right.svg");
      position: absolute;
      left: 15px;
      top: 10px;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
    .actualizate .item-actual div a:hover::before {
      -webkit-transform: translate(3px);
              transform: translate(3px); }

/***Media Querys***/
@media (max-width: 1200px) {
  .item-actual {
    background-position: right;
    background-size: 48%; }
    .item-actual > div > div div {
      padding: 15px 12px; } }

@media (max-width: 760px) {
  .actualizate .item-actual {
    background-position: bottom right;
    background-size: 90%;
    padding: 0;
    height: auto; }
    .actualizate .item-actual img {
      margin-top: 25px;
      width: 80% !important; } }

@media (max-width: 560px) {
  .actualizate .item-actual {
    background-position: bottom right;
    padding: 0;
    background-size: 90%; }
    .actualizate .item-actual img {
      margin-top: 0px;
      width: 65% !important; }
    .actualizate .item-actual > div > div > div {
      margin: 15px 0;
      padding: 25px 10px; } }

.py-productos-financieros {
  width: 100%;
  margin: 40px 0;
  /***Media Querys***/ }
  .py-productos-financieros .im-respon-pymes-ne {
    display: none; }
  .py-productos-financieros h3 {
    color: #292929;
    font-size: 36px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 1;
    letter-spacing: -0.5px; }
  .py-productos-financieros > div {
    width: 100%;
    height: 394px;
    background-color: #e6e7e8;
    margin: 150px 0 0 0;
    position: relative; }
    .py-productos-financieros > div > div {
      position: relative;
      top: -100px; }
      .py-productos-financieros > div > div > div > div {
        padding: 0;
        position: relative;
        overflow: hidden; }
        .py-productos-financieros > div > div > div > div img {
          width: 100%;
          -webkit-transition: .5s ease-out;
          transition: .5s ease-out; }
        .py-productos-financieros > div > div > div > div:hover img {
          -webkit-transform: scale(1.075);
                  transform: scale(1.075); }
        .py-productos-financieros > div > div > div > div > div {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          top: 0;
          color: #ffffff; }
          .py-productos-financieros > div > div > div > div > div > div {
            width: 80%;
            position: absolute;
            bottom: 25px;
            left: 25px;
            font-family: 'Nunito', sans-serif; }
            .py-productos-financieros > div > div > div > div > div > div span {
              font-size: 40px;
              font-weight: bold;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: -0.6px;
              display: block;
              margin-bottom: 10px; }
            .py-productos-financieros > div > div > div > div > div > div p {
              font-family: 'Open Sans', sans-serif;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5; }
    .py-productos-financieros > div a {
      display: block;
      width: 281px;
      height: 43px;
      color: #fff;
      background-color: #00448c;
      text-align: center;
      font-size: 16px;
      padding: 8px;
      font-family: 'Nunito', sans-serif;
      letter-spacing: -0.3px;
      font-weight: bold;
      position: relative;
      border-radius: 3px;
      text-decoration: none;
      text-align: center;
      margin: 35px auto;
      text-decoration: none; }
      .py-productos-financieros > div a::before {
        content: url("../images/propuesta-valor/chevron-right.svg");
        position: absolute;
        left: 15px;
        top: 10px;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .py-productos-financieros > div a:hover::before {
        -webkit-transform: translate(3px);
                transform: translate(3px); }
  @media (max-width: 560px) {
    .py-productos-financieros h3 {
      font-size: 35px; }
    .py-productos-financieros > div {
      height: auto;
      margin: 35px 0; }
      .py-productos-financieros > div > div {
        top: 0; } }
  @media (max-width: 760px) {
    .py-productos-financieros > div {
      height: auto; }
      .py-productos-financieros > div > div > div > div .im-desktop-pymes-ne {
        display: block; } }

.pymes-herramientas .item-actual {
  background-image: url("../images/propuesta-valor/fondo-tools.png");
  background-size: 55% 90%;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  vertical-align: middle;
  padding: 64px 0; }
  .pymes-herramientas .item-actual div img {
    width: 70%;
    padding-top: 25px;
    margin-left: 35px; }
  .pymes-herramientas .item-actual div h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: #292929;
    position: relative;
    margin-bottom: 10px; }
    .pymes-herramientas .item-actual div h3::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 25%;
      height: 3px;
      background-color: #E6E7E8; }
  .pymes-herramientas .item-actual div p {
    color: #808285;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: -0.3px; }
  .pymes-herramientas .item-actual div a {
    display: block;
    width: 205px;
    height: 43px;
    color: #fff;
    background-color: #00448c;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.3px;
    font-weight: bold;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    text-align: center; }
    .pymes-herramientas .item-actual div a::before {
      content: url("../images/propuesta-valor/chevron-right.svg");
      position: absolute;
      left: 15px;
      top: 10px;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
    .pymes-herramientas .item-actual div a:hover::before {
      -webkit-transform: translate(3px);
              transform: translate(3px); }
  .pymes-herramientas .item-actual div img {
    float: right; }

/***Media Querys***/
@media (max-width: 760px) {
  .pymes-herramientas {
    height: auto; }
    .pymes-herramientas .item-actual {
      background-position: top left;
      background-size: 90%;
      padding: 0;
      height: auto !important; }
      .pymes-herramientas .item-actual img {
        margin-top: 10px;
        width: 60% !important; }
    .pymes-herramientas > div > div > div > div {
      margin: 35px 0; } }

@media (max-width: 560px) {
  .pymes-herramientas .item-actual {
    background-size: contain;
    background-position: top left;
    padding: 0; }
    .pymes-herramientas .item-actual img {
      width: 65%; }
  .pymes-herramientas > div > div > div > div {
    margin-top: 0; } }

.pymes-beneficios {
  width: 100%;
  height: 613px;
  position: relative; }
  .pymes-beneficios > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5); }
    .pymes-beneficios > div > div {
      position: absolute;
      bottom: 6%;
      width: 100%;
      margin: 0 auto; }
      .pymes-beneficios > div > div > div {
        width: 70%;
        margin: 0 auto; }
        .pymes-beneficios > div > div > div h2 {
          color: #fff;
          font-family: 'Nunito', sans-serif;
          font-size: 72px;
          font-weight: 800;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.94;
          letter-spacing: -0.6px;
          text-align: center;
          margin: 15px 0; }
        .pymes-beneficios > div > div > div p {
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          margin-bottom: 55px; }
        .pymes-beneficios > div > div > div span {
          display: block;
          margin: 0 auto;
          width: 50px;
          height: 25px; }
          .pymes-beneficios > div > div > div span a.pyme-propuesta-play {
            position: relative;
            -webkit-transition: .5s ease;
            transition: .5s ease; }
            .pymes-beneficios > div > div > div span a.pyme-propuesta-play::before {
              content: url("../images/propuesta-valor/play-circle.svg");
              position: absolute; }
            .pymes-beneficios > div > div > div span a.pyme-propuesta-play:hover {
              -webkit-transform: translate(0, 15px);
                      transform: translate(0, 15px); }
        .pymes-beneficios > div > div > div > a {
          width: 221px;
          height: 43px;
          color: #00448d;
          background-color: #ffd200;
          text-align: center;
          font-size: 16px;
          padding: 8px;
          font-family: 'Nunito';
          letter-spacing: -0.3px;
          font-weight: bold;
          position: relative;
          border-radius: 3px;
          text-decoration: none;
          text-align: center;
          display: block;
          margin: 0 auto; }
          .pymes-beneficios > div > div > div > a::before {
            content: url("../images/propuesta-valor/chevron-right-blue.svg");
            position: absolute;
            left: 15px;
            top: 10px;
            -webkit-transition: 1s ease;
            transition: 1s ease; }
          .pymes-beneficios > div > div > div > a:hover::before {
            -webkit-transform: translate(3px);
                    transform: translate(3px); }

.modal {
  text-align: center;
  padding: 0 !important; }
  .modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }
  .modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle; }
  .modal .pyme-modal-propuesta {
    padding: 0;
    background: transparent;
    vertical-align: middle; }
    .modal .pyme-modal-propuesta button {
      position: absolute;
      right: -35px;
      top: -25px; }

/***Media Querys***/
@media (max-width: 960px) {
  .pymes-beneficios {
    height: auto; }
    .pymes-beneficios img {
      width: 100%; }
    .pymes-beneficios > div > div > div {
      width: 100%; }
      .pymes-beneficios > div > div > div p {
        margin: 20px 0;
        padding: 9px; } }

@media (max-width: 560px) {
  .pymes-beneficios {
    height: auto; }
    .pymes-beneficios img {
      width: 100%; }
    .pymes-beneficios > div > div > div {
      width: 100%; }
      .pymes-beneficios > div > div > div p {
        margin: 20px 0;
        padding: 9px; }
      .pymes-beneficios > div > div > div h2 {
        font-size: 57px;
        font-weight: 600; } }

.sectores-pymes-propuesta {
  padding: 60px 0;
  /***Media Querys***/ }
  .sectores-pymes-propuesta h3 {
    width: 372px;
    height: 36px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 25px auto; }
  .sectores-pymes-propuesta > div a {
    display: block;
    width: 196px;
    height: 43px;
    color: #fff;
    background-color: #00448c;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.3px;
    font-weight: bold;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto; }
    .sectores-pymes-propuesta > div a::before {
      content: url("../images/propuesta-valor/chevron-right.svg");
      position: absolute;
      left: 15px;
      top: 10px;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
    .sectores-pymes-propuesta > div a:hover::before {
      -webkit-transform: translate(3px);
              transform: translate(3px); }
  .sectores-pymes-propuesta > div > div > div {
    padding: 0 20px; }
    .sectores-pymes-propuesta > div > div > div p {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: #808285;
      width: 273px;
      font-family: 'Open Sans', sans-serif; }
    .sectores-pymes-propuesta > div > div > div ul {
      padding: 0 20px; }
      .sectores-pymes-propuesta > div > div > div ul li {
        color: #808285;
        border-bottom: 1px solid #E6E7E8; }
        .sectores-pymes-propuesta > div > div > div ul li h4 {
          font-family: 'Nunito', sans-serif;
          font-size: 28px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          letter-spacing: -0.6px;
          border: none; }
        .sectores-pymes-propuesta > div > div > div ul li p {
          width: 100%;
          font-family: 'Open Sans', sans-serif; }
    .sectores-pymes-propuesta > div > div > div h4 {
      font-family: 'Nunito', sans-serif;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: -0.6px;
      border: none;
      position: relative;
      color: #808285;
      width: 273px;
      margin: 12px 0; }
    .sectores-pymes-propuesta > div > div > div h4.pyme-propues-result {
      margin: 35px 0; }
      .sectores-pymes-propuesta > div > div > div h4.pyme-propues-result::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 25%;
        height: 3px;
        background-color: #E6E7E8; }
  @media (max-width: 560px) {
    .sectores-pymes-propuesta h3 {
      width: 100%; } }
  @media (max-width: 760px) {
    .sectores-pymes-propuesta p {
      width: 100% !important; } }

.pymes-banner-footer {
  width: 100%;
  height: 436px;
  position: relative;
  /***Media Querys***/ }
  .pymes-banner-footer > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0; }
    .pymes-banner-footer > div > div {
      width: 80%;
      margin: 0 auto;
      height: 100%;
      padding: 175px 0 0 35px; }
      .pymes-banner-footer > div > div p {
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-size: 72px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.94;
        letter-spacing: -0.6px;
        text-align: center; }
      .pymes-banner-footer > div > div a {
        width: 221px;
        height: 43px;
        color: #00448d;
        background-color: #ffd200;
        text-align: center;
        font-size: 16px;
        padding: 8px;
        font-family: 'Nunito', sans-serif;
        letter-spacing: -0.3px;
        font-weight: bold;
        position: relative;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;
        display: block;
        margin: 40px auto; }
        .pymes-banner-footer > div > div a::before {
          content: url("../images/propuesta-valor/chevron-right-blue.svg");
          position: absolute;
          left: 15px;
          top: 10px;
          -webkit-transition: 1s ease;
          transition: 1s ease; }
        .pymes-banner-footer > div > div a:hover::before {
          -webkit-transform: translate(3px);
                  transform: translate(3px); }
  @media (max-width: 900px) {
    .pymes-banner-footer {
      height: auto;
      position: relative; }
      .pymes-banner-footer img {
        max-width: 100%;
        height: auto; }
      .pymes-banner-footer div {
        width: 100%; }
        .pymes-banner-footer div > div {
          width: 100%;
          padding: 400px 15px 35px 15px;
          position: absolute;
          bottom: 10%; }
          .pymes-banner-footer div > div p {
            font-size: 36px; }
          .pymes-banner-footer div > div a {
            margin: 30px auto; }
      .pymes-banner-footer .im-respon-pymes-ne {
        display: block;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .pymes-banner-footer .im-desktop-pymes-ne {
        display: none; } }
  @media (max-width: 560px) {
    .pymes-banner-footer {
      height: auto; }
      .pymes-banner-footer img {
        width: 100%; }
      .pymes-banner-footer div {
        width: 100%; }
        .pymes-banner-footer div > div {
          width: 100%;
          padding: 156px 15px 35px 15px; }
          .pymes-banner-footer div > div p {
            font-size: 36px; }
          .pymes-banner-footer div > div a {
            margin: 30px auto; } }

.content-full-propuesta {
  width: 100%;
  height: 566px; }

.content-full-propuesta.tool {
  height: 547px; }

.im-respon-pymes-ne {
  display: none; }

/***Media Querys***/
@media (max-width: 560px) {
  .content-full-propuesta {
    height: auto; }
  .content-full-propuesta.tool {
    height: auto; }
  .im-respon-pymes-ne {
    display: block; }
  .im-desktop-pymes-ne {
    display: none; } }

@media (max-width: 760px) {
  .im-respon-pymes-ne {
    display: block; }
  .im-desktop-pymes-ne {
    display: none; } }
