@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.marhead {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
  background-color: #e0e3e5; }
  .marhead div div.row {
    padding-top: 78px;
    margin-left: unset;
    margin-right: unset; }
    .marhead div div.row div img {
      height: 283px;
      -o-object-fit: contain;
         object-fit: contain; }
    .marhead div div.row div h1 {
      font-family: Nunito;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      color: black; }
    .marhead div div.row div p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: justify;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: #808285; }
    .marhead div div.row div a.blue {
      border-radius: 3px;
      background: #00448c;
      color: #fff;
      font-family: 'Nunito', sans-serif;
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      display: block;
      padding: 11px 0;
      margin: 35px auto;
      text-decoration: none; }
      .marhead div div.row div a.blue::before {
        content: url("../images/propuesta-valor/chevron-right.svg");
        position: absolute;
        left: 15px;
        top: 14px;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .marhead div div.row div a.blue:hover::before {
        -webkit-transform: translate(3px);
                transform: translate(3px); }
    .marhead div div.row div a.yellow {
      border-radius: 3px;
      background: #ffd200;
      color: #00448d;
      font-family: 'Nunito', sans-serif;
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      display: block;
      padding: 11px 0;
      margin: 35px auto;
      text-decoration: none; }
      .marhead div div.row div a.yellow::before {
        content: url("../images/propuesta-valor/chevron-right.svg");
        position: absolute;
        color: #00448d;
        left: 15px;
        top: 14px;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .marhead div div.row div a.yellow:hover::before {
        -webkit-transform: translate(3px);
                transform: translate(3px); }

.mar-form {
  margin-bottom: 40px; }
  .mar-form > div > div > div h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: center; }
  .mar-form > div > div > div input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #757575;
    color: #808285;
    border-radius: 0;
    margin-bottom: 42px; }
  .mar-form > div > div > div select {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #757575;
    color: #808285;
    border-radius: 0;
    margin-bottom: 42px; }
  .mar-form > div > div > div span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.2px;
    color: #808285; }
  .mar-form > div > div > div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center; }
  .mar-form > div > div > div a.term {
    color: #292929;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px; }
  .mar-form > div > div > div a.blue {
    border-radius: 3px;
    background: #00448c;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    display: block;
    padding: 11px 0;
    text-decoration: none; }
    .mar-form > div > div > div a.blue::before {
      content: url("../images/propuesta-valor/chevron-right.svg");
      position: absolute;
      left: 15px;
      top: 14px;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
    .mar-form > div > div > div a.blue:hover::before {
      -webkit-transform: translate(3px);
              transform: translate(3px); }

.selecty {
  display: block;
  position: relative;
  padding-left: 35px;
  float: right;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.selecty input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 30%; }

/* On mouse-over, add a grey background color */
.selecty:hover input ~ .checkmark {
  background-color: grey; }

/* When the checkbox is checked, add a blue background */
.selecty input:checked ~ .checkmark {
  background-color: yellow; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.selecty input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.selecty .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.mar-slide {
  background-image: url(/images/mar/banner-comofunciona-mar@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 735px; }
  .mar-slide div div h1::first-line {
    font-family: Nunito;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: -0.6px;
    font-weight: bold; }
  .mar-slide div div h1 {
    font-family: Nunito;
    font-size: 70px;
    font-style: normal;
    font-stretch: normal;
    font-weight: bold;
    line-height: 0.94;
    letter-spacing: -0.6px;
    margin-top: 120px; }
  .mar-slide div div img {
    height: 225px;
    margin-top: 74px; }
  .mar-slide div div > div.col-md-12:last-child {
    background-color: white;
    height: 347px;
    margin-top: 70px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16); }
    .mar-slide div div > div.col-md-12:last-child .mar-slick {
      margin-bottom: 30px; }
    .mar-slide div div > div.col-md-12:last-child .slick-list {
      position: relative;
      overflow: unset;
      display: block;
      margin: 0;
      padding: 0;
      background-color: white; }
    .mar-slide div div > div.col-md-12:last-child .item-slick .slick-icon {
      width: 70px;
      border-radius: 50%;
      height: 70px;
      -o-object-fit: contain;
         object-fit: contain;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      border: solid 2.8px white;
      background-color: #e6e7e8;
      top: -30px;
      left: 20px;
      position: relative; }
      .mar-slide div div > div.col-md-12:last-child .item-slick .slick-icon h1 {
        top: -105px;
        position: relative;
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        text-align: center; }
    .mar-slide div div > div.col-md-12:last-child .item-slick h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      color: black;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px; }
    .mar-slide div div > div.col-md-12:last-child .item-slick p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px; }

.html {
  margin: unset; }

.modal-dialog {
  width: 800px; }

.modal-content {
  border-radius: 10px;
  border-color: white; }
  .modal-content .container {
    width: auto; }
  .modal-content div.modal-body {
    padding: unset; }
    .modal-content div.modal-body button.close img {
      padding: 15px; }
    .modal-content div.modal-body > div > div > div.circ {
      margin-top: 10px;
      background-color: #a7a9ac;
      width: 140px;
      height: 140px;
      -o-object-fit: contain;
         object-fit: contain;
      -webkit-box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.11), 0 4px 13px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.11), 0 4px 13px 0 rgba(0, 0, 0, 0.12);
      border-radius: 50%; }
      .modal-content div.modal-body > div > div > div.circ img {
        width: 100%;
        height: 100%; }
    .modal-content div.modal-body > div > div h1 {
      font-family: Nunito;
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: #808285;
      margin-top: 20px;
      margin-bottom: 40px; }
    .modal-content div.modal-body > div > div p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: #808285; }
    .modal-content div.modal-body > div > div .body-scroll {
      overflow-y: auto;
      height: 400px;
      margin-bottom: 20px; }
      .modal-content div.modal-body > div > div .body-scroll p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px;
        color: #808285; }
      .modal-content div.modal-body > div > div .body-scroll p:first-child {
        font-weight: bold; }
    .modal-content div.modal-body > div > div a {
      border-radius: 3px;
      background: #00448c;
      color: #fff;
      font-family: 'Nunito', sans-serif;
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      display: block;
      padding: 11px 0;
      margin: 35px auto;
      text-decoration: none; }
      .modal-content div.modal-body > div > div a::before {
        content: url("../images/propuesta-valor/chevron-right.svg");
        position: absolute;
        left: 15px;
        top: 14px;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .modal-content div.modal-body > div > div a:hover::before {
        -webkit-transform: translate(3px);
                transform: translate(3px); }
    .modal-content div.modal-body > div > div .body-scroll::-webkit-scrollbar {
      width: 4px;
      background: #d1d3d4;
      border-radius: 5px; }
    .modal-content div.modal-body > div > div .body-scroll::-webkit-scrollbar-thumb {
      background: #808285;
      border-radius: 5px; }
    .modal-content div.modal-body > div > div .body-scroll::-webkit-scrollbar-thumb:hover {
      background: #535557;
      -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }
