@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.sfc-info {
  font-family: 'Open Sans', sans-serif;
  /*Media Querys*/ }
  .sfc-info p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin: 45px auto 10px auto;
    text-align: center; }
  .sfc-info a {
    display: block;
    margin: 0 auto;
    color: #808285;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center; }
  @media (max-width: 480px) {
    .sfc-info p {
      padding: 5px; } }

.sfc-form-credit {
  margin: 20px 0; }
  .sfc-form-credit > div > div {
    border-bottom: 1px solid #e6e7e8;
    padding: 40px 0; }
  .sfc-form-credit > div > div.sfc-not-brd {
    border: none; }
  .sfc-form-credit > div h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    color: #292929; }
  .sfc-form-credit > div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.2px;
    color: #808285;
    width: 85%; }
  .sfc-form-credit > div label {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    font-family: 'Nunito', sans-serif;
    color: #454648;
    display: block; }
  .sfc-form-credit > div input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #757575;
    color: #808285;
    border-radius: 0;
    padding: 0; }
  .sfc-form-credit > div .jumbotron input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 220px;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #757575;
    color: #808285;
    border-radius: 0;
    padding: 0;
    background-color: #eee; }
  .sfc-form-credit > div span.sfc-value-color {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.2px;
    color: #808285; }

.sfc-simulate_l > a {
  width: 224px;
  height: 43px;
  border-radius: 3px;
  background: #00448c;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  display: block;
  padding: 11px 0;
  margin: 35px auto;
  text-decoration: none; }
  .sfc-simulate_l > a::before {
    content: url("../images/propuesta-valor/chevron-right.svg");
    position: absolute;
    left: 15px;
    top: 14px;
    -webkit-transition: 1s ease;
    transition: 1s ease; }
  .sfc-simulate_l > a:hover::before {
    -webkit-transform: translate(3px);
            transform: translate(3px); }

.sfc-notification > div {
  width: 100%;
  background-color: #e6e7e8;
  /*height: 646px;*/
  padding: 60px 0;
  -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1); }
  .sfc-notification > div > div > div.space {
    margin-bottom: 150px; }
  .sfc-notification > div > div div > div.valor {
    margin-left: 23px; }
    .sfc-notification > div > div div > div.valor span {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px; }
  .sfc-notification > div > div div.jumbotron {
    width: 370px;
    margin: 5px;
    background-color: #ffffff; }
    .sfc-notification > div > div div.jumbotron h2 {
      width: 208px;
      height: 24px;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px;
      text-align: center;
      color: #292929;
      margin: auto; }
    .sfc-notification > div > div div.jumbotron h1 {
      width: 154px;
      height: 40px;
      font-family: 'Nunito', sans-serif;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: #00448d;
      margin: auto; }
    .sfc-notification > div > div div.jumbotron input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 300px;
      border: none;
      font-family: 'Nunito', sans-serif;
      border-bottom: 1px solid #757575;
      color: #808285;
      border-radius: 0;
      padding: 0; }
  .sfc-notification > div > div ul {
    list-style-type: disc !important;
    padding: 50px 0 0 0; }
    .sfc-notification > div > div ul li {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: -0.2px;
      color: #292929;
      padding: 14px 0; }
  .sfc-notification > div > div div.noti-sfc-total {
    width: 100%;
    /*height: 216px;*/
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #16c98d;
    padding: 25px 30px; }
    .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white {
      position: relative; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white::after {
        content: url("../images/simulador-finan-credito/path-5.svg");
        position: absolute;
        right: -8px;
        top: 5px; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white a {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: -0.4px;
        color: #fff;
        position: relative;
        margin: 0 15px 0 0;
        padding: 10px 0  0 25px;
        margin: 10px 0; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white a:last-child {
        margin-left: 18px; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white a.downloadsfc::before {
        content: url("../images/simulador-finan-credito/download.svg");
        position: absolute;
        left: -5px; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white a.shatesfc::before {
        content: url("../images/simulador-finan-credito/share.svg");
        position: absolute;
        left: -5px; }
      .sfc-notification > div > div div.noti-sfc-total > div.sfc-bord-white > div {
        padding: 18px 0; }
    .sfc-notification > div > div div.noti-sfc-total > div h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: -0.5px;
      text-align: center;
      color: white;
      padding-left: 23px; }
    .sfc-notification > div > div div.noti-sfc-total > div h1 {
      font-family: Nunito;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: white;
      margin-top: -55px; }
    .sfc-notification > div > div div.noti-sfc-total > div img.path {
      -o-object-fit: contain;
         object-fit: contain;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      margin-left: 250px;
      margin-top: -55px;
      margin-left: 250px; }
    .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc {
      width: 136px;
      height: 136px;
      border-radius: 50%;
      background-color: #fff;
      position: relative; }
      .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc img.anuncio {
        width: 77px;
        height: 77px;
        -o-object-fit: contain;
           object-fit: contain;
        margin-left: 26px;
        margin-top: 26px;
        margin-top: -111px; }
      .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc > img {
        width: 77px;
        height: 77px;
        -o-object-fit: contain;
           object-fit: contain;
        margin-left: 26px;
        margin-top: 26px; }
    .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc {
      width: 136px;
      height: 136px;
      border-radius: 50%;
      background-color: #fff;
      position: relative; }
      .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc-top--111 {
        margin-top: -111px; }
      .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc img.anuncio {
        width: 77px;
        height: 77px;
        -o-object-fit: contain;
           object-fit: contain;
        margin-left: 26px;
        margin-top: 26px; }
      .sfc-notification > div > div div.noti-sfc-total > div > div.ima-icon-sfc > img {
        width: 77px;
        height: 77px;
        -o-object-fit: contain;
           object-fit: contain;
        margin-left: 26px;
        margin-top: 26px; }
    .sfc-notification > div > div div.noti-sfc-total > div p {
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: -0.6px;
      color: #ffffff;
      font-family: 'Nunito', sans-serif; }
    .sfc-notification > div > div div.noti-sfc-total > div label {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: white; }
    .sfc-notification > div > div div.noti-sfc-total > div span {
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      color: #ffffff;
      font-family: 'Nunito', sans-serif;
      padding: 12px 0;
      border-bottom: 1px solid #fff;
      display: block;
      width: 100%; }
    .sfc-notification > div > div div.noti-sfc-total > div a.sfc-btn {
      width: 224px;
      height: 43px;
      border-radius: 3px;
      background: #00448c;
      color: #fff;
      font-family: 'Nunito', sans-serif;
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      display: block;
      padding: 11px 0; }
      .sfc-notification > div > div div.noti-sfc-total > div a.sfc-btn::before {
        content: url("../images/propuesta-valor/chevron-right.svg");
        position: absolute;
        left: 15px;
        top: 14px;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .sfc-notification > div > div div.noti-sfc-total > div a.sfc-btn:hover::before {
        -webkit-transform: translate(3px);
                transform: translate(3px); }
    .sfc-notification > div > div div.noti-sfc-total > div a.social {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px;
      color: white; }
    .sfc-notification > div > div div.noti-sfc-total > div p.sfc-text-small {
      font-size: 20px !important;
      margin-top: 35px; }
  .sfc-notification > div > div div.noti-sfc-total.error {
    background-color: #00448d; }
    .sfc-notification > div > div div.noti-sfc-total.error > div:first-child {
      padding-top: 25px; }
    .sfc-notification > div > div div.noti-sfc-total.error > div:last-child {
      padding: 50px 16px; }
    .sfc-notification > div > div div.noti-sfc-total.error span {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px; }
    .sfc-notification > div > div div.noti-sfc-total.error a.sfc-btn {
      width: 90%;
      text-decoration: none;
      position: absolute;
      top: 50%; }
    .sfc-notification > div > div div.noti-sfc-total.error div.sfc-bord-white a {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px;
      color: #fff;
      position: relative;
      padding-left: 26px;
      margin: 18px 0;
      display: block;
      text-decoration: none; }
      .sfc-notification > div > div div.noti-sfc-total.error div.sfc-bord-white a::before {
        content: url("../images/simulador-finan-credito/redo.svg");
        position: absolute;
        left: -5px; }
  .sfc-notification > div > div div.noti-sfc-total.warning {
    background-color: #fa5e5b; }
    .sfc-notification > div > div div.noti-sfc-total.warning > div:first-child {
      padding-top: 25px; }
    .sfc-notification > div > div div.noti-sfc-total.warning > div:last-child {
      padding: 50px 16px; }
    .sfc-notification > div > div div.noti-sfc-total.warning span {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px; }
    .sfc-notification > div > div div.noti-sfc-total.warning a.sfc-btn {
      width: 90%;
      text-decoration: none;
      position: absolute;
      top: 50%; }
    .sfc-notification > div > div div.noti-sfc-total.warning div.sfc-bord-white a {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.4px;
      color: #fff;
      position: relative;
      padding-left: 26px;
      margin: 18px 0;
      display: block;
      text-decoration: none; }
      .sfc-notification > div > div div.noti-sfc-total.warning div.sfc-bord-white a::before {
        content: url("../images/simulador-finan-credito/redo.svg");
        position: absolute;
        left: -5px; }

/*Media Querys*/
@media (max-width: 480px) {
  .sfc-notification > div {
    padding: 0; }
    .sfc-notification > div > div {
      padding: 0; }
      .sfc-notification > div > div > div {
        margin: 0; }
        .sfc-notification > div > div > div > div > div {
          margin: 25px auto; }
        .sfc-notification > div > div > div div.sfc-bord-white::after {
          display: none; } }

.foo-sfc-one {
  margin-top: 45px; }
  .foo-sfc-one > div > div {
    background-color: #595959;
    height: 58px;
    position: relative; }
    .foo-sfc-one > div > div > div {
      position: relative; }
      .foo-sfc-one > div > div > div p {
        font-family: Nunito;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        font-family: 'Nunito', sans-serif;
        color: #ffd200;
        margin: 0;
        padding: 19px 10px; }
      .foo-sfc-one > div > div > div ul {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 0;
        height: 58px;
        float: right; }
        .foo-sfc-one > div > div > div ul li {
          border-left: 1px solid #fff;
          position: relative;
          width: 58px; }
          .foo-sfc-one > div > div > div ul li a {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            display: block; }
    .foo-sfc-one > div > div > div.sfc-cont-icons {
      position: absolute;
      right: 0;
      padding: 0; }

.foo-sfc-two-links h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #808285;
  font-family: 'Nunito', sans-serif; }

.foo-sfc-two-links > div > div > div {
  position: relative; }
  .foo-sfc-two-links > div > div > div p {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    margin: 0;
    width: 80%; }
  .foo-sfc-two-links > div > div > div img {
    width: 100%; }

.foo-sfc-three-steps {
  margin: 45px 0; }
  .foo-sfc-three-steps > div div.padd-sfc {
    padding: 50px 12px;
    height: 100%; }
  .foo-sfc-three-steps > div > div {
    background-color: #ffd200;
    -webkit-box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1); }
    .foo-sfc-three-steps > div > div > div {
      vertical-align: middle;
      color: #595959;
      position: relative;
      height: 100%; }
      .foo-sfc-three-steps > div > div > div h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        color: #595959;
        margin: 0; }
      .foo-sfc-three-steps > div > div > div span {
        font-family: 'Nunito', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.75;
        letter-spacing: -0.8px;
        margin-bottom: 18px;
        display: block; }
      .foo-sfc-three-steps > div > div > div p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px; }
      .foo-sfc-three-steps > div > div > div img {
        display: block;
        margin-bottom: 10px; }
      .foo-sfc-three-steps > div > div > div > div > div {
        border-right: 1px solid #fff; }
      .foo-sfc-three-steps > div > div > div > div > div:last-child {
        border: none; }
      .foo-sfc-three-steps > div > div > div a {
        width: 150px;
        height: 43px;
        border-radius: 3px;
        background: #00448c;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        display: block;
        padding: 11px 0;
        margin: 10px 0; }
        .foo-sfc-three-steps > div > div > div a::before {
          content: url("../images/propuesta-valor/chevron-right.svg");
          position: absolute;
          left: 15px;
          top: 14px;
          -webkit-transition: 1s ease;
          transition: 1s ease; }
        .foo-sfc-three-steps > div > div > div a:hover::before {
          -webkit-transform: translate(3px);
                  transform: translate(3px); }

/*Media Querys*/
@media (max-width: 480px) {
  .div.padd-sfc {
    padding: 20px 12px; } }

.sfc-modal {
  background-color: rgba(70, 71, 73, 0.8) !important; }
  .sfc-modal > div {
    width: 65%; }
    .sfc-modal > div > div button {
      position: absolute;
      top: 15px;
      right: 15px; }
    .sfc-modal > div > div div.img-sfc-modal {
      width: 156px;
      height: 156px;
      border-radius: 50%;
      background-color: #a7a9ac;
      margin: 15px auto;
      position: relative;
      -webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.11), 0 4px 14px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.11), 0 4px 14px 0 rgba(0, 0, 0, 0.12); }
      .sfc-modal > div > div div.img-sfc-modal img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 63%; }
    .sfc-modal > div > div h3 {
      font-family: 'Nunito', sans-serif;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: #808285;
      margin: 25px 0; }
    .sfc-modal > div > div p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      text-align: center;
      color: #808285;
      width: 60%;
      margin: 0 auto;
      position: relative; }
      .sfc-modal > div > div p:before {
        content: " ";
        position: absolute;
        width: 120px;
        height: 3px;
        background: #e6e7e8;
        border-radius: 5px;
        bottom: -15px;
        left: 39%; }
    .sfc-modal > div > div > div.modal-body > div {
      width: 40%;
      margin: 40px auto; }
      .sfc-modal > div > div > div.modal-body > div label {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: #808285;
        margin: 5px; }
      .sfc-modal > div > div > div.modal-body > div input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #e6e7e8;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px;
        padding: 0 10px; }
      .sfc-modal > div > div > div.modal-body > div span {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.2px;
        color: #808285;
        display: block;
        margin: 5px 0; }
    .sfc-modal > div > div > div.modal-footer {
      padding: 30px 0;
      border: none; }
      .sfc-modal > div > div > div.modal-footer a {
        width: 224px;
        height: 43px;
        border-radius: 3px;
        background: #00448c;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        display: block;
        padding: 11px 0;
        margin: 0 auto;
        text-decoration: none; }
        .sfc-modal > div > div > div.modal-footer a::before {
          content: url("../images/propuesta-valor/chevron-right.svg");
          position: absolute;
          left: 15px;
          top: 14px;
          -webkit-transition: 1s ease;
          transition: 1s ease; }
        .sfc-modal > div > div > div.modal-footer a:hover::before {
          -webkit-transform: translate(3px);
                  transform: translate(3px); }

/*Media Querys*/
@media (max-width: 480px) {
  .sfc-modal > div {
    width: 100%; } }

.cont-numbe-sfc {
  position: relative;
  width: 124px; }
  .cont-numbe-sfc span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 56px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: -0.5px;
    font-family: 'Nunito', sans-serif;
    color: #292929; }
