#slider .swiper-container, #slider .swiper-contenedor {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

#slider .slide {
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 560px) {
    #slider .slide {
      background-image: none !important; } }
  @media screen and (max-width: 640px) {
    #slider .slide {
      background-position: center center; } }
  @media (max-width: 560px) {
    #slider .slide-soste-1 {
      background-image: none; }
    #slider .slide-soste-2 {
      background-image: none; }
    #slider .slide-soste-3 {
      background-image: none; }
    #slider .slide-soste-4 {
      background-image: none; }
    #slider .slide-bnnr-sst4 {
      background-image: none; } }
  #slider .slide .col-right-slidr {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: none; }
    @media (max-width: 560px) {
      #slider .slide .col-right-slidr {
        display: block; } }
  #slider .slide .col-right-slid {
    visibility: hidden; }
    @media (max-width: 560px) {
      #slider .slide .col-right-slid {
        padding: 0;
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: 130px;
        min-height: 200px;
        visibility: visible; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-slid-2 {
      padding: 0;
      background-position: center 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-sst3 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-sst3 p {
        padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-sst4 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-sst4 p {
        padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .col-right-bnnr-sst4 {
      padding: 0;
      background-position: 70% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%; }
      #slider .slide .col-right-bnnr-sst4 p {
        padding-right: 80px; } }
  #slider .slide .info-slide h1 {
    color: #ffcb00;
    border: 0px;
    padding-bottom: 0px;
    font-size: 3em;
    font-weight: bold; }
  #slider .slide .info-slide p {
    font-size: 1.5em;
    line-height: normal; }
  #slider .slide .info-slide .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #slider .slide .info-slide .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
  @media (max-width: 560px) {
    #slider .slide .info-slide {
      height: 383px; }
      #slider .slide .info-slide h1 {
        color: #ffcb00;
        border: 0px;
        padding-bottom: 0px;
        font-size: 2em;
        font-weight: bold; }
      #slider .slide .info-slide p {
        font-size: 1em;
        line-height: normal; } }
  @media (max-width: 767px) {
    #slider .slide .info-slide-sst3 p {
      padding-right: 15%; } }
  @media screen and (max-width: 640px) {
    #slider .slide .info-slide-sst3 p {
      padding-right: 80px; } }
  @media (max-width: 560px) {
    #slider .slide .info-slide-sst3 {
      background-color: #f4f4f4;
      height: auto; } }
  @media (max-width: 560px) {
    #slider .slide .info-slide-sst4 {
      background-color: #f4f4f4;
      height: auto; } }
  @media screen and (max-width: 640px) {
    #slider .slide .info-slide-sst4 p {
      padding-right: 80px; } }
  @media (max-width: 767px) {
    #slider .slide .info-slide-sst4 p {
      padding-right: 15%; } }
  #slider .slide .info-slide-white p {
    color: #fff; }
  @media (max-width: 560px) {
    #slider .slide .info-slide-white {
      background-color: #595959; }
      #slider .slide .info-slide-white p {
        color: #fff !important; } }
  #slider .slide .info-slide-blue h1 {
    color: #00448d; }
  #slider .slide .info-slide-blue p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.3px; }

#slider .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  border: 1px solid #00448c;
  background: transparent;
  opacity: 1; }

#slider .centrar-banner {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: table;
  min-height: 450px; }
  @media (max-width: 560px) {
    #slider .centrar-banner {
      padding: 0; } }
  #slider .centrar-banner .centro-banner {
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 560px) {
      #slider .centrar-banner .centro-banner {
        padding: 0; } }

#slider .swiper-pagination-bullet-active {
  background: #00448c; }

#slider .swiper-container-horizontal > .swiper-pagination-bullets, #slider .swiper-pagination-custom, #slider .swiper-pagination-fraction {
  bottom: 25px; }

#slider .swiper-pagination-bullet {
  height: 8px;
  width: 40px;
  border: 1px solid transparent;
  opacity: 1;
  border-radius: 4px;
  background-color: #808285; }

#slider .swiper-pagination-bullet-active {
  background: #ffd200; }

#banner-sost .bnnr {
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  width: 100%; }
  @media screen and (max-width: 640px) {
    #banner-sost .bnnr {
      background-position: center center; } }
  @media (max-width: 560px) {
    #banner-sost .bnnr {
      background-image: none !important; } }
  #banner-sost .bnnr .centrar-banner {
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-height: 450px;
    display: table; }
    @media (max-width: 560px) {
      #banner-sost .bnnr .centrar-banner {
        padding: 0; } }
    #banner-sost .bnnr .centrar-banner .centro-banner {
      display: table-cell;
      vertical-align: middle; }
  #banner-sost .bnnr .col-right-bannr {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: none; }
    @media (max-width: 560px) {
      #banner-sost .bnnr .col-right-bannr {
        display: block; } }
  #banner-sost .bnnr .info-slide {
    color: #fff;
    float: right; }
    #banner-sost .bnnr .info-slide h4 {
      color: #ffcb00;
      border: 0px;
      padding-bottom: 0px;
      font-size: 3em;
      font-weight: bold; }
    #banner-sost .bnnr .info-slide p {
      font-size: 1.5em;
      line-height: normal;
      color: #595959; }
      @media screen and (max-width: 640px) {
        #banner-sost .bnnr .info-slide p {
          font-size: 1.4em;
          display: block; } }
  #banner-sost .bnnr .slid-white p {
    color: #fff; }
  #banner-sost .bnnr .slid-blue h4 {
    color: #00448d; }
  #banner-sost .bnnr .slid-blue p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.3px; }
  #banner-sost .bnnr .btn {
    position: relative;
    padding: 10px 35px;
    font-weight: bold;
    white-space: normal; }
    #banner-sost .bnnr .btn-exito {
      background-color: #ffcb00;
      border-radius: 50px !important;
      height: auto;
      color: #595959;
      font-size: 15px;
      min-height: 40px;
      min-width: 160px;
      text-align: center;
      text-decoration: none;
      width: auto;
      max-width: 330px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      text-transform: uppercase; }
