@charset "UTF-8";
#tabs {
  padding: 40px 0; }
  #tabs .nav-title li {
    width: 100%;
    max-width: 30%;
    text-align: center; }
    #tabs .nav-title li a {
      border: none;
      color: #a2a2a2;
      font-family: 'Nunito';
      font-size: 28px; }
    #tabs .nav-title li.active a {
      color: #07468b;
      font-weight: bold;
      border-bottom: 3px solid #fdd630; }
  #tabs .titulo {
    position: relative; }
    #tabs .titulo img {
      position: absolute;
      left: 0;
      top: 0; }
    #tabs .titulo h2 {
      padding: 15px 0;
      padding-left: 15%;
      color: #666666;
      font-size: 30px; }
  #tabs .contenido-tab p {
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: bold;
    color: #666666; }
  #tabs .contenido-tab ol li {
    font-family: 'Nunito';
    font-size: 17px; }
    #tabs .contenido-tab ol li ul {
      list-style: none;
      list-style-image: url("/wps/wcm/connect/c7df068b-f02e-4a5d-bb4b-a93dc0f38819/icon-list-yellow.png?MOD=AJPERES"); }
  #tabs .tasas {
    padding: 30px 0; }
    #tabs .tasas .table-tasas tr:nth-child(odd) {
      background: #fff; }
    #tabs .tasas .table-tasas thead tr th {
      border-left: none;
      background-color: #e5e5e5;
      font-size: 22px;
      font-family: 'Nunito';
      font-weight: bold;
      color: #666666;
      padding-left: 22px; }
      #tabs .tasas .table-tasas thead tr th:nth-child(1) {
        border-radius: 10px 0 0 0; }
      #tabs .tasas .table-tasas thead tr th:nth-child(2) {
        border-radius: 0 10px 0 0; }
    #tabs .tasas .table-tasas tbody tr td {
      border-left: none;
      border-bottom: none;
      background-color: #f7f7f7;
      padding-left: 22px;
      font-weight: 300;
      font-family: 'Nunito';
      font-weight: 300;
      font-size: 22px; }
      #tabs .tasas .table-tasas tbody tr td:nth-child(1) {
        border-radius: 0 0 0 10px; }
      #tabs .tasas .table-tasas tbody tr td:nth-child(2) {
        border-radius: 0 0 10px 0; }
    #tabs .tasas .table-tasas tfoot tr td {
      border-top: none;
      border-bottom: none;
      text-align: center;
      font-weight: 300;
      font-family: 'Nunito';
      color: #666666; }
  #tabs .docs {
    padding: 30px 0;
    display: flow-root; }
    #tabs .docs p {
      font-family: 'Nunito';
      font-weight: 300;
      font-size: 17px; }
  #tabs .panel-docs .panel {
    background-color: transparent;
    color: #58595B;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    #tabs .panel-docs .panel .panel-heading {
      background-color: transparent;
      color: #58595B;
      padding: 12px 0; }
      #tabs .panel-docs .panel .panel-heading h3::after {
        content: "";
        position: absolute;
        background-color: #d1d3d4;
        height: 1px;
        width: 90%;
        top: -3px;
        left: 5%;
        z-index: 2; }
      #tabs .panel-docs .panel .panel-heading h3 a {
        display: block;
        text-transform: uppercase;
        text-align: center; }
        #tabs .panel-docs .panel .panel-heading h3 a::after {
          font-family: 'Glyphicons Halflings';
          content: "\2b";
          position: absolute;
          right: 6%; }
        #tabs .panel-docs .panel .panel-heading h3 a:hover, #tabs .panel-docs .panel .panel-heading h3 a:active, #tabs .panel-docs .panel .panel-heading h3 a:focus {
          color: #FFD200; }
    #tabs .panel-docs .panel .panel-body {
      padding-left: 4em; }
      #tabs .panel-docs .panel .panel-body ul {
        list-style: none; }
        #tabs .panel-docs .panel .panel-body ul li {
          background: none; }
          #tabs .panel-docs .panel .panel-body ul li::before {
            content: "•";
            color: #FFD200;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            position: absolute; }
  @media (max-width: 1024px) {
    #tabs .nav-title li a {
      font-size: 20px;
      min-height: 85px; }
    #tabs .titulo h2 {
      font-size: 24px;
      padding-top: 0;
      padding-left: 20%;
      min-height: 68px; } }
  @media (max-width: 767px) {
    #tabs .nav-title li a {
      font-size: 18px;
      min-height: 76px; }
    #tabs .titulo h2 {
      font-size: 28px;
      padding: 12px 0;
      padding-left: 15%; } }
  @media (max-width: 480px) {
    #tabs .nav-title li {
      max-width: 100%; }
      #tabs .nav-title li a {
        font-size: 24px; }
    #tabs .titulo img {
      max-width: 50px; }
    #tabs .titulo h2 {
      font-size: 24px;
      padding: 0;
      padding-left: 24%; } }
