.tabbed-content {
  padding: 1em;
  margin: 1em auto; }

.tabs {
  display: none; }
  .tabs ul {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    border-bottom: 0;
    display: flow-root; }
    .tabs ul li {
      padding: 10px 0px 10px 25px;
      position: relative;
      width: 100%; }
      .tabs ul li a {
        padding-left: 10px;
        text-decoration: none !important;
        color: #292929;
        font-size: 16px;
        border: 0; }
        .tabs ul li a:hover, .tabs ul li a :focus {
          color: #555;
          background-color: #fff;
          border: 1px solid transparent;
          border-bottom-color: transparent;
          cursor: default; }
        .tabs ul li a.active {
          font-weight: bold;
          border: none; }
        .tabs ul li a.active:before {
          content: '';
          background-color: #ffca00;
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          left: -2px;
          -webkit-transition: all .3s;
          transition: all .3s; }

.item {
  margin-bottom: 2px; }
  .item::before {
    cursor: pointer;
    font-weight: bold;
    background: #eee;
    padding: .5em;
    display: block; }
  .item.active .item-content {
    padding: 1em;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }

@media all and (min-width: 760px) {
  .item.active .item-content {
    padding-top: 0; }
  .tabs-side .tabs li {
    margin-bottom: 2px; } }

.tabbed-content .tabs {
  display: none; }

.tabbed-content .item {
  min-height: 2em;
  position: relative; }
  .tabbed-content .item .icon-left {
    position: absolute;
    top: 20px;
    font-size: 25px;
    display: none; }
    @media (max-width: 760px) {
      .tabbed-content .item .icon-left {
        display: block; } }
  .tabbed-content .item .icon-right {
    position: absolute;
    top: 20px;
    font-size: 25px;
    right: 15px;
    display: none; }
    @media (max-width: 760px) {
      .tabbed-content .item .icon-right {
        display: block; } }
  .tabbed-content .item::before {
    content: attr(data-title);
    font-size: 18px;
    border-top: 1px solid #808285;
    border-bottom: 1px solid #808285;
    border-radius: 0.5px;
    background: #fff;
    padding: 1em;
    padding-left: 30px; }
  .tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none; }
  .tabbed-content .item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    display: block; }

@media all and (min-width: 760px) {
  .tabbed-content .tabs {
    display: block; }
    .tabbed-content .tabs li {
      display: inline-block; }
      .tabbed-content .tabs li a {
        display: block; }
  .tabbed-content .item {
    min-height: 0; }
    .tabbed-content .item::before {
      display: none; }
  .tabbed-content.tabs-side .tabs {
    width: 350px;
    float: left; }
    .tabbed-content.tabs-side .tabs li {
      display: block; }
  .tabbed-content.tabs-side .item {
    margin-left: 350px; } }
