@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,900");
#bnnr-t .bannr-territorio {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  margin-bottom: 0; }

#qr-bancolombia {
  background-color: #ffd200;
  text-align: center;
  color: #292929;
  padding: 40px 0; }
  #qr-bancolombia h2 {
    text-align: center;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.6px;
    color: #292929; }
  #qr-bancolombia span {
    font-family: 'Nunito';
    font-weight: 400;
    line-height: 1.08;
    letter-spacing: -0.45px;
    font-size: 24px; }
  #qr-bancolombia p {
    padding-top: 15px;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 40px; }

#participar {
  background-color: #e6e7e8;
  padding: 40px 0;
  text-align: center; }
  #participar .titulo-part h2 {
    font-family: 'Nunito';
    color: #292929;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.6px;
    padding-bottom: 20px;
    font-weight: bold; }
  #participar .item .thumbnail {
    background-color: transparent;
    border: 0; }
    #participar .item .thumbnail img {
      width: 100%;
      max-width: 200px; }
  #participar .item .caption {
    font-family: 'Nunito';
    line-height: 1.11;
    letter-spacing: -0.3px;
    font-weight: 400px;
    font-size: 18px; }
