<p><strong>Preguntas frecuentes InvesBot</strong></p>
<p>&nbsp;</p>
<p>Este documento busca dar respuesta a las principales inquietudes que pueden tener tus clientes, sin embargo, cualquier profundizaci&oacute;n que requieras o dudas adicionales, puedes contactar al equipo de InvesBot a trav&eacute;s del buz&oacute;n <a href="mailto:etrading@bancolombia.com.co">etrading@bancolombia.com.co</a>.</p>
<h1><strong>1.&nbsp;&nbsp; </strong><strong>&iquest;Qu&eacute; es InvesBot? </strong></h1>
<p>Es una soluci&oacute;n digital para todos los que tienen objetivos quieren ponerse metas para alcanzarlos, InvesBot te acompa&ntilde;a a lograrlo a trav&eacute;s de un portafolio de Inversi&oacute;n m&aacute;s la posibilidad de planificar tus ahorros programados, todo esto sin necesidad de ser un experto.</p>
<h1><strong>2.&nbsp;&nbsp; </strong><strong>&iquest;Cu&aacute;les objetivos que puedo planificar?</strong></h1>
<p>&nbsp;</p>
<p>Puedes iniciar tu plan desde 6 Millones de Pesos, con un horizonte de inversi&oacute;n de m&iacute;nimo 1 a&ntilde;o.</p>
<ul>
<li><strong>Para tu Retiro</strong><strong>:</strong> Indicas el plazo de tiempo en el cual quieres retirarte, durante este tiempo InvesBot invierte tu capital inicial y tus ahorros programados. Con esta informaci&oacute;n InvesBot proyectar&aacute; un saldo de tu pensi&oacute;n mensual aproximada para cubrir algunos gastos desde de la fecha en que quieres retirarte hasta los 85 a&ntilde;os.</li>
<li><strong>Para tu Hogar:</strong> Defines el plazo del tiempo en necesitas la cuota inicia de tu casa, el capital inicial m&aacute;s tus ahorros programados e InvesBot dise&ntilde;a un portafolio de inversi&oacute;n para ac&eacute;rcate a ella.</li>
<li><strong>Educaci&oacute;n:</strong> Defines la fecha en que inicias tu estudio o el de tus hijos, el capital inicial m&aacute;s tus ahorros programados e InvesBot dise&ntilde;a un portafolio de inversi&oacute;n para proyectar la matricula mensual que podr&iacute;as recibir, una vez se cumpla el plazo de tu plan durante los siguientes 4 a&ntilde;os cada mes.</li>
<li><strong>Para el objetivo que quieras:</strong> Personalizas tu objetivo, defines el capital inicial m&aacute;s tus ahorros programados, tiempo, el riesgo y la rentabilidad esperada, InvesBot conforma un portafolio para que el cliente llegue a esa meta.</li>
</ul>
<h1><strong>3.&nbsp;&nbsp; </strong><strong>&iquest;C&oacute;mo funciona el modelo de inversi&oacute;n?</strong></h1>
<p>InvesBot funciona mediante un modelo algor&iacute;tmico que integra inteligencia artificial, este modelo potente le permite tener en cuenta una gran cantidad de variables del mercado logrando as&iacute; sugerir portafolios buscando que cada cliente con condiciones &uacute;nicas cumpla su objetivo de inversi&oacute;n implementado una estrategia de diversificaci&oacute;n de activos financieros (poner el riesgo en diferentes canastas) lo que le permite al cliente minimizar la probabilidad de riesgo.</p>
<h3><strong>3.1 &iquest;C&oacute;mo elige InvesBot los activos en los que va a invertir?</strong></h3>
<h3>Para seleccionar el portafolio sugerido para el cliente, InvesBot tiene en cuenta las respuestas que el cliente contest&oacute; en el momento de configurar el plan, el monto del capital inicial, las adiciones programadas, el periodo de tiempo y el nivel de riesgo. Con estas variables usa su potente modelo algor&iacute;tmico para encontrar una mezcla de activos que respondan al nivel de riesgo y que presenten tendencias en el mediano plazo que favorezcan el logro del objetivo del cliente.</h3>
<p>&nbsp;</p>
<h3><strong>3.2 &iquest;InvesBot garantiza una rentabilidad?</strong></h3>
<p>NO, ya que este tipo de inversi&oacute;n tienen un riesgo inherente en el mercado de inversiones de capitales, sin embargo, InvesBot buscar alcanzar la meta con una alta probabilidad. &nbsp;En el momento de la creaci&oacute;n del plan, el cliente conocer&aacute; los rangos en los que probablemente se ubica el retorno de la inversi&oacute;n, donde sabe en un escenario optimista y conservador, cu&aacute;l ser&iacute;a el retorno esperado, incluyendo los casos en los que este pueda ser negativo.</p>
<p><strong>&nbsp;</strong></p>
<h3><strong>3.3 &iquest;Esta soluci&oacute;n es segura?</strong></h3>
<p>Para el Grupo Bancolombia es muy importante la seguridad&nbsp; en cada uno de los servicios que presta a sus clientes, para esto contamos con todos los protocolos y procesos de seguridad que nos permiten identificar los usuarios, los sistemas y los servicios que se est&aacute;n prestando para poder dar las autorizaciones necesarias y asignar a cada uno de estos, las funciones previamente definidas, garantizando que la informaci&oacute;n y los canales necesarios para prestar el servicio siempre est&eacute;n protegidos y que durante el proceso, no se presente ning&uacute;n tipo de alteraci&oacute;n de los mismos.</p>
<h1><strong>4.&nbsp;&nbsp; </strong><strong>&iquest;Cu&aacute;les son los beneficios que me ofrece InvesBot?</strong></h1>
<ul>
<li>Tu plan de inversi&oacute;n siempre estar&aacute; centrando en tu objetivo, maximizando la probabilidad de alcanzarlo y distribuyendo el riesgo entre varios activos.</li>
<li>Te ayuda a crear h&aacute;bitos de ahorro, puedes hacer adiciones de dinero cada vez que puedas o programarlas cada mes.</li>
<li>Es responsable con tu objetivo ya que InvesBot trabaja bajo modelos estad&iacute;sticos potentes para ofrecerte un plan a tu medida que cuenta con el portafolio de una de las comisionistas de bolsa m&aacute;s reconocidas del pa&iacute;s, Valores Bancolombia</li>
<li>Hace un monitoreo de los planes de cada cliente todos los d&iacute;as, lo que se traduce en inversiones activas y que pueden cambiar en la medida que el mercado de inversiones presente variaciones.</li>
</ul>
<h1><strong>5.&nbsp;&nbsp; </strong><strong>&iquest;D&oacute;nde puedo encontrar m&aacute;s informaci&oacute;n o simular un plan?</strong></h1>
<p>En nuestro sitio web <a href="http://www.grupobancolombia.com/invesBot">www.grupobancolombia.com/invesBot</a> puedes encontrar:</p>
<ul>
<li>Consultar beneficios</li>
<li>Ver las caracter&iacute;sticas de la soluci&oacute;n</li>
<li>Consultar los activos en los que puede invertir InvesBot</li>
<li>Inscripci&oacute;n a Charlas virtuales</li>
<li>Proceso de vinculaci&oacute;n</li>
<li>Preguntas Frecuentes</li>
<li>Simulador de InvesBot</li>
</ul>
<p>&nbsp;</p>
<p>Para simular tu plan ingresa a <a href="https://bancolombia.invesbot.co/">https://bancolombia.invesbot.co</a></p>
<p>Para comentarios o dudas adicionales, escr&iacute;benos al buz&oacute;n <a href="mailto:etrading@bancolombia.com.co">etrading@bancolombia.com.co</a></p>
<p>&nbsp;</p>
<h1><strong>6.&nbsp;&nbsp; </strong><strong>&iquest;Qu&eacute; debo hacer para acceder?</strong></h1>
<ul>
<li>Crear una cuenta Valores Bancolombia (Si no es Cliente) est&aacute; disponible la opci&oacute;n de vinculaci&oacute;n digital, tomar&aacute; 10 minutos.</li>
<li>Solicitar la clave, este proceso se hace cuando el cliente termina la vinculaci&oacute;n, con esta clave podr&aacute; ingresar a la Sucursal Virtual de Valores Bancolombia e InvesBot tanto en web, como en nuestra aplicaci&oacute;n m&oacute;vil.</li>
<li>Ingresar a InvesBot, puedes hacerlo ingresando desde la Sucursal Virtual Valores Bancolombia.</li>
<li>Crear su plan desde la plataforma InvesBot, puedes crear tanto planes como objetivos tengas.</li>
<li>Transferir el dinero, desde la Sucursal Virtual valores Bancolombia. Puedes hacer la transferencia desde cuentas Bancolombia u otros Bancos.</li>
</ul>
<p>&nbsp;</p>
<h1><strong>7.&nbsp;&nbsp; </strong><strong>Caracter&iacute;sticas y tarifas de InvesBot</strong></h1>
<p>Monto m&iacute;nimo de inversi&oacute;n: $6 Millones</p>
<p>Plazo m&iacute;nimo:&nbsp; 1 a&ntilde;o.</p>
<ul>
<li>Activos que tiene en cuenta (<a href="#_Anexo:_Activos_que">ver anexo al final del documento para m&aacute;s informaci&oacute;n</a>):
<ul>
<li>Renta Variable: Acciones de la canasta de Repos definida por Riesgo de Mercado</li>
<li>Fondos de Inversi&oacute;n Colectiva (FIC) administrados por Valores Bancolombia</li>
<li>De $20 a $69.9 millones recomienda una estrategia de fondos de inversi&oacute;n.</li>
<li>De $70 millones en adelante recomienda de fondos de inversi&oacute;n y acciones del mercado colombiano.</li>
</ul>
</li>
<li>Costos
<ul>
<li>Renta Variable: $37,500 m&aacute;s 0.3% del volumen por cada orden</li>
<li>FIC: Comisi&oacute;n de administraci&oacute;n de cada fondo</li>
</ul>
</li>
<li>&iquest;Qui&eacute;n lo puede usar?
<ul>
<li>Clientes de Valores Bancolombia</li>
<li>Deben contar con clave transaccional</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<h1><strong>&nbsp;</strong></h1>
<p>&nbsp;</p>
<h1><strong>8.&nbsp;&nbsp; </strong><strong>&iquest;A qui&eacute;nes est&aacute; dirigido?</strong></h1>
<ul>
<li>Personas con un objetivo de retiro, vivienda, educaci&oacute;n, o personalizar el objetivo.</li>
<li>Objetivos con un plazo m&iacute;nimo de 1 a&ntilde;o.</li>
<li>Personas que quieren planificar sus ahorros a trav&eacute;s de adiciones programadas cada mes.</li>
<li>Personas que deseen invertir su dinero ahorrado buscando rentabilizarlos con estrategias de inversi&oacute;n que diversifiquen el riesgo del mercado de inversiones maximizando la probabilidad de alcanzar los objetivos de cada cliente.</li>
<li>Personas que deseen delegar la gesti&oacute;n de sus inversiones y no cuenten con el tiempo o conocimiento para seguir los mercados.</li>
</ul>
<h3><strong>&nbsp;</strong></h3>
<h3><strong>8.1 &iquest;Esta soluci&oacute;n sustituye la asesor&iacute;a y servicio de mi comercial?</strong></h3>
<p>InvesBot hace parte del portafolio de productos de Inversi&oacute;n que el grupo Bancolombia tiene disponible para nuestros clientes y complementa la asesor&iacute;a y gesti&oacute;n comercial brindada por nuestro equipo experto. Los clientes pueden seguir contando con el servicio y la asesor&iacute;a de su gerente comercial, sin embargo este nuevo servicio est&aacute; dise&ntilde;ado para que los clientes que prefieren gestionar sus objetivos financieros desde soluciones digitales de autogesti&oacute;n que les facilita la toma de decisiones.</p>
<h3><strong>8.2 &iquest;Pueden ingresar menores de edad?</strong></h3>
<p>Si, a trav&eacute;s del ordenante (persona mayor de edad) siempre y cuando sea cliente de Valores Bancolombia y cuente con clave de la Sucursal Virtual Valores Bancolombia.</p>
<h3><strong>8.3 &iquest;D&oacute;nde debe estar el dinero que el cliente va a invertir por InvesBot?</strong></h3>
<p>El cliente puede trasferir su capital inicial o abonos de dinero a trav&eacute;s del a Sucursal Virtual Valores Bancolombia desde una cuenta de ahorros o corriente Bancolombia y desde otros bancos a trav&eacute;s del servicio de PSE.</p>
<h3><strong>8.4 &iquest;En qu&eacute; horario est&aacute; disponible el servicio?</strong></h3>
<p>Podr&aacute; ingresar todos los d&iacute;as de la semana en cualquier horario, sin embargo, la propuesta de inversi&oacute;n ser&aacute; ejecutada dentro de los horarios de funcionamiento establecidos por la Bolsa de Valores de Colombia para sus sistemas de negociaci&oacute;n o de registro de operaciones sobre valores, o en los horarios establecidos para la apertura, adici&oacute;n, retiro o cancelaci&oacute;n de fondos de inversi&oacute;n colectiva.</p>
<h3><strong>8.5 &iquest;Qu&eacute; pasa si al cliente no le gusta el plan que le recomienda InvesBot?</strong></h3>
<p>El cliente puede redefinir el plazo, monto o rentabilidad esperada, al realizar esta acci&oacute;n InvesBot le sugerir&aacute; otro tipo de portafolio, que se adaptar&aacute; a las diferentes necesidades de los clientes y si el cliente no est&aacute; de acuerdo con alguna recomposici&oacute;n de portafolio sugerido puede rechazar su solicitud, posterior a esto realizar una cancelaci&oacute;n si lo desea sin ning&uacute;n tipo de penalizaci&oacute;n.</p>
<h3><strong>8.6 &iquest;El plan se ejecuta inmediatamente?</strong></h3>
<p>La propuesta de inversi&oacute;n ser&aacute; ejecutada en el momento m&aacute;s adecuado para sus intereses y, en cualquier caso, dentro de los horarios de funcionamiento establecidos por la Bolsa de Valores de Colombia para sus sistemas de negociaci&oacute;n o de registro de operaciones sobre valores, o en los horarios establecidos para la apertura, adici&oacute;n, retiro o cancelaci&oacute;n de fondos de inversi&oacute;n colectiva</p>
<h3><strong>8.7 &iquest;Una vez ejecutado el plan, como pueden los clientes hacer seguimiento de sus planes?</strong></h3>
<p>InvesBot permite consulta el progreso de tu plan cada vez que ingreses con reportes en tres diferentes periodos de tiempo, los &uacute;ltimos tres meses, el &uacute;ltimo a&ntilde;o, o durante todo el tiempo de la inversi&oacute;n del plan. Esta informaci&oacute;n se les notificara a los clientes y se enviara un aviso a trav&eacute;s de su correo electr&oacute;nico</p>
<h3><strong>8.8 &iquest;Los clientes se pueden retirar dinero parcial o cancelar su plan en cualquier momento?</strong></h3>
<ul>
<li>Si, el cliente puede realizar retiros parciales de dinero, es de aclarar que esta acci&oacute;n del cliente intervendr&aacute; la ejecuci&oacute;n del plan por InvesBot. El dinero estar&aacute; disponible en 5 d&iacute;as h&aacute;biles en la sucursal virtual Valores Bancolombia.</li>
<li>Si, el cliente puede cancelar su plan de InvesBot en cualquier momento, sin embargo, si lo hace antes del plazo de tiempo definido para lograr el plan, es posible que no se obtenga la rentabilidad esperada para el objetivo del cliente. El dinero estar&aacute; disponible en 5 d&iacute;as h&aacute;biles en la sucursal virtual Valores Bancolombia.</li>
</ul>
<h3><strong>8.9 &iquest;InvesBot hace recomendaciones de recomposici&oacute;n de los portafolios?</strong></h3>
<p>InvesBot recomienda planes con portafolios estructurados para mediano (1 a 2 a&ntilde;os) y largo plazo (2 a&ntilde;os en adelante), es posible recibir cada a&ntilde;o algunas sugerencias de ajustes de los portafolios de inversi&oacute;n de los clientes, en caso de que InvesBot lo encuentre conveniente.&nbsp; Estas notificaciones ser&aacute;n enviadas al correo electr&oacute;nico registrado por el cliente para que autoricen el ajuste del portafolio, de lo cual se encargar&aacute; InvesBot gracias a sus procesos automatizados.</p>
<h3><strong>8.10 &iquest;Qu&eacute; pasa si un cliente no acepta una recomendaci&oacute;n de recomposici&oacute;n?</strong></h3>
<p>Las recomendaciones realizadas por InvesBot son siempre buscando el cumplimiento de las metas. No aceptarlas podr&iacute;a afectar el desempe&ntilde;o del plan de inversi&oacute;n.</p>
<h3><strong>8.11 &iquest;Es posible invertir m&aacute;s dinero en un plan que ya se cre&oacute;?</strong></h3>
<p>Si, lo podr&iacute;a hacer modificando las caracter&iacute;sticas del plan. Para ello, ingrese a InvesBot y seleccione el plan que desea modificar en el bot&oacute;n de <strong>ver plan</strong> y en la opci&oacute;n &ldquo;Explorador de Metas&rdquo; encontrar&aacute;n acceso a los par&aacute;metros del plan y opciones de modificar la contribuci&oacute;n mensual (en caso de que aplique) o el dinero a invertir.</p>
<h3><strong>8.12 &iquest;Se pueden crear varios planes?</strong></h3>
<p>Si, puedes crear tantos planes como desees, para cada plan debes tener en cuenta las condiciones de inversi&oacute;n m&iacute;nimas.</p>
<h3><strong>8.14 &iquest;Las inversiones realizadas por InvesBot se pueden manejar a trav&eacute;s de eTrading o del gerente comercial?</strong></h3>
<p>Las inversiones realizadas por InvesBot deben ser administradas &uacute;nicamente a trav&eacute;s de esta soluci&oacute;n para poder hacer un seguimiento detallado alcanzar las metas propuestas. Si bien podr&aacute;s visualizar el portafolio en el que invertiste en la Sucursal Virtual de Valores, no ser&aacute; posible la negociaci&oacute;n de los activos a trav&eacute;s de las plataformas de eTrading. Si necesitas, por motivos de fuerza mayor, liquidar las inversiones a trav&eacute;s del comercial, lo podr&aacute;s hacer, teniendo en cuenta que afecta el cumplimiento de las metas establecidas.</p>
<h1><strong>9.&nbsp;&nbsp; </strong><strong>&iquest;Cu&aacute;les son los activos del portafolio de Valores Bancolombia que incluyen los planes de InvesBot?</strong></h1>
<p>&nbsp;</p>
<p>M&aacute;s Informaci&oacute;n sobre el portafolio de Valores Bancolombia acerca de los Fondos de Inversi&oacute;n&nbsp; Colectiva <a href="https://valores.grupobancolombia.com/wps/portal/valores-bancolombia/productos-servicios/fondos-inversion-colectiva">aqu&iacute;</a>, para conocer acerca de la canasta de acciones Repo <a href="https://valores.grupobancolombia.com/wps/portal/valores-bancolombia/productos-servicios/acciones">aqu&iacute;</a>.</p>
