.banner-pre{
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 356px;

  h1{
    font-size: 36px;
    color:#00448d;
  }
  p{
    color:#595959;
    font-size: 19px;
    margin-bottom: 30px;
  }

  .col-bnnr-iz {
    visibility: hidden;
  }

  @media (max-width: 480px) {
    background-image: none !important;
    padding: 0;
    margin-bottom: 0;

    h1 {
      font-size: 26px;
    }
    p{
      font-size: 15px;
      margin-bottom: 0;
    }

    .btn-pre {
      display: none;
    }

    .col-bnnr-iz{
      visibility: visible;
      background-position:78% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 200px;
    }
  }

}
