#comohacerlo {
  padding: 40px 0;

  .tabla-preaprobados{
        border-bottom: none;

    li{
      width: 50%;
      border-bottom: 2px solid #747779;

      a {
        color:#292929;
        min-height: 45px;

        &:hover, &:active, &:focus {
          color:#292929;
          font-weight: bold;
        }
      }
      &.active{
        border-bottom-color: #ffd200;

        a {
          border-radius: 0;
          border: none;
        }
      }
    }
  }
  .tab-pane {
    padding: 40px 0;

    .obtener {
      h3{
        font-size: 36px;
        color: #00448d;
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: 480px) {

    .tabla-preaprobados {
      li{
        a{
          min-height: 86px;
        }
      }
    }
    .tab-pane {
      .obtener {
        h3{
          font-size: 25px;
        }
      }
    }
  }
}
