.sfc-form-credit{
        margin: 20px 0;
        > div{

            > div{
                border-bottom: 1px solid #e6e7e8;
                padding: 40px 0;
                
            }
           
           > div.sfc-not-brd{
               border: none;
           }
            
        h2{
            font-family: 'Nunito', sans-serif;
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: -0.6px;
            color: #292929;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: -0.2px;
            color: #808285;
            width: 85%;
        }
        label{
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: -0.5px;
            font-family: 'Nunito', sans-serif;
            color: #454648;
            display: block;
        }
        input{
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 300px;
            border: none;
            font-family: 'Nunito', sans-serif;
            border-bottom: 1px solid #757575;
            color: #808285;
            border-radius: 0;
            padding: 0;
            
            
           
        }
        .jumbotron{
            input{
                font-size: 18px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 220px;
                border: none;
                font-family: 'Nunito', sans-serif;
                border-bottom: 1px solid #757575;
                color: #808285;
                border-radius: 0;
                padding: 0;
                background-color: #eee;
                
               
            }
        }
        
        
        span.sfc-value-color{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: -0.2px;
            color: #808285;
        }

       
        }
             
}
.sfc-simulate_l{
   > a{
        width: 224px;
        height: 43px;
        border-radius: 3px;
        background: #00448c;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        display: block;
        padding: 11px 0;
        margin: 35px auto;
        text-decoration: none;
        &::before{
            content: url('../images/propuesta-valor/chevron-right.svg');
            position: absolute;
            left:15px;
            top: 14px;
            transition: 1s ease;
            }
            &:hover::before{
                transform: translate(3px);
            }
    }
}