.sfc-modal{
    background-color: rgba(70, 71, 73, 0.8) !important;
   > div{
            width: 65%;
    > div{
        
        button{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        div.img-sfc-modal{
            width: 156px;
            height: 156px;
            border-radius: 50%;
            background-color: #a7a9ac;
            margin: 15px auto;
            position: relative;
            box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.11), 0 4px 14px 0 rgba(0, 0, 0, 0.12);
          
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0 auto;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 63%;
                
            }
            
        }
        h3{
            font-family: 'Nunito', sans-serif;
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: -0.6px;
            text-align: center;
            color: #808285;
            margin: 25px 0;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: #808285;
            width: 60%;
            margin: 0 auto;
            position: relative;
            &:before{
                content: " ";
                position: absolute;
                width: 120px;
                height: 3px;
                background: #e6e7e8;
                border-radius: 5px;
                bottom: -15px;;
                left: 39%;
            }
        }
        > div.modal-body{
            
        > div{
            width: 40%;
            margin: 40px auto;
            label{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.29;
                letter-spacing: -0.2px;
                color: #808285;
                margin: 5px;
            }

            input{
                width: 100%;
                border: none;
                border-bottom: 1px solid #e6e7e8;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: -0.3px;
                padding: 0 10px;
            }
            span{

                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: #808285;
                display: block;
                margin: 5px 0;
            }
        }
       
    }
    > div.modal-footer{
        padding: 30px 0;
        border: none;
        a{
            width: 224px;
            height: 43px;
            border-radius: 3px;
            background: #00448c;
            color: #fff;
            font-family: 'Nunito', sans-serif;
            position: relative;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            display: block;
            padding: 11px 0;
            margin: 0 auto;
            text-decoration: none;
            &::before{
                content: url('../images/propuesta-valor/chevron-right.svg');
                position: absolute;
                left:15px;
                top: 14px;
                transition: 1s ease;
                }
                &:hover::before{
                    transform: translate(3px);
                }
        }
    }
    }


   }
   
}

/*Media Querys*/
@media (max-width: 480px){

    .sfc-modal > div{

        width: 100%;
    }
}