#participar{
  background-color: #e6e7e8;
  padding: 40px 0;
  text-align: center;

  .titulo-part {
    h2{
      font-family: 'Nunito';
      color: #292929;
      font-size: 40px;
      line-height: 1;
      letter-spacing: -0.6px;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }

  .item {
    .thumbnail{
      background-color: transparent;
      border: 0;

      img{
        width: 100%;
        max-width: 200px;
      }

    }
    .caption {
      font-family: 'Nunito';
      line-height: 1.11;
      letter-spacing: -0.3px;
      font-weight: 400px;
      font-size: 18px;
    }
  }

}
