#qr-bancolombia{
  background-color: #ffd200;
  text-align: center;
  color: #292929;
  padding: 40px 0;

  h2{
    text-align: center;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.6px;
    color: #292929;
  }
  span{
    font-family: 'Nunito';
    font-weight: 400;
    line-height: 1.08;
    letter-spacing: -0.45px;
    font-size: 24px;
  }
  p{
    padding-top: 15px;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 40px;

  }

}
