@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');

.banner-formaspago {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;

  .titulo-banner {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);


    h1{
      font-size: 40px;
      color:#57585b;
      font-family: 'Nunito';
      margin-top: 36px;

      span {
        color:#ffd900;
      }
    }
  }
  .movil-banner {
    visibility: hidden;

  }

  @media (max-width: 560px) {
    padding: 0;
    min-height: 427px;
    margin-bottom: 0;
    background-image: none !important;

    .movil-banner {
      visibility: visible;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
    }
    .titulo-banner {
      position: relative;
      left:0;
      top: 0;
      transform: none;
      -webkit-transform: none;

      h1 {
        font-size: 33px;
      }
    }
  }
}
