#medios {
  padding-bottom: 40px;
  text-align: center;

  .tab-formapago {
    ul{
      li{
        width: 100%;
        background-color: #e6e7e9;
        max-width: 49.4%;

        &:nth-child(1){
          margin-right: 5px;
        }
        &:nth-child(2){
          margin-left: 6px;
        }

        &.active {
          a {
            background-color: #ffca00;
            margin: 0;
          }
        }

        .menu-tabs {
          position: relative;
          padding: 1% 0;
          img {
            width: 100%;
            max-width: 34px;
            position: absolute;
            left: 5%
          }
          p{
            font-family: 'Nunito';
            font-size: 20px;
            font-weight: bold;
            color: #5b5b5b;
            padding-left: 15%;
            text-align: left;
          }
        }
      }
      @media (max-width:560px ) {
        li{


          &:nth-child(1){
            margin-right: 0;

            p{
              padding-right: 5px;
              }
            }
            &:nth-child(2){
              margin-left: 0;
            }
          }

          img{display: none;}
          p{font-size: 14px;}
        }
        @media (max-width: 768px){
          li{

            max-width: 49.2%;

            &:nth-child(1){
              margin-right: 4px;

              }
              &:nth-child(2){
                margin-left: 3px;
              }
              img {display: none;}
            }
        }
        @media (min-width: 1024px){

        }
      }
    }

  .title-tabs {
    background-color: #e6e7e9;
    padding: 1% 0;

    h2 {
      font-size: 24px;
      letter-spacing: -0.5px;
      line-height: 1.25;
      color: #808285;
      font-family: 'Nunito';
    }

  }


  .formas {
    padding-top: 42px;
  display:flex;
  justify-content:space-around;
  align_items:center;
  flex-wrap:wrap;
  flex-direction: colum;
  }
  .item {
  width: 28%;
  height: auto;
  font-weight:700;
  font-size:35px;
  color:#000;
  background-color:#fff;
  text-align:center;
  line-height:73px;

    .thumbnail {
      border: none;
    }
    .caption{
      .btn-yellow {
        background: #444;
        color: white;
        font-family: 'Nunito';
        cursor: pointer;
        font-weight: bold;
      }
      h3{
        font-size: 16px;
        letter-spacing: -0.3px;
        color:#808285;
        margin-bottom: 0;
        font-family: 'Nunito';
      }
      p{
        font-size: 16px;
        letter-spacing: -0.3px;
        color:#808285;
        font-family: 'Nunito';
        font-weight: 100;
      }
    }

}
  @media (max-width: 560px) {

    h2 {
      font-size: 18px;
    }
    .formas {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .item {
      width: 50%;

      .caption {
        h3 {
          font-size: 14px;
        }
        p{
          font-size: 12px;
        }
      }
    }
  }
}
