@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');

#accordion {
  padding: 40px 0;

  .panel-acordeon{

    .panel{
      background-color: transparent;
      color: #58595B;
      box-shadow: none;
      position: relative;

      .panel-heading {
        background-color: transparent;
        color: #58595B;
        padding: 12px 0;
        background-color: #f7e000;


        h3 {

          background-image: url('/wps/wcm/myconnect/1741eafd-07a5-499f-b6d5-e364a562a4f8/bullet.svg?MOD=AJPERES');
          background-repeat: no-repeat;
          background-position: 5px 1px;
          padding-left: 2em;

          // &::after{
          //   content: "";
          //   position: absolute;
          //   background-color: #d1d3d4;
          //   height: 1px;
          //   width: 90%;
          //   top: -3px;
          //   left: 5%;
          //   z-index: 2;
          // }

          a{
            display: block;

            &::after{
              font-family: 'Glyphicons Halflings';
              content:"\2212";
              position: absolute;
              right: 6%;
            }

            &:hover, &:active, &:focus {
              color: #58595B;
            }
          }
        }
      }
      .panel-body {
        padding-left: 4em;
        ul {
          list-style: none;
          list-style-image: url("/wps/wcm/connect/c7df068b-f02e-4a5d-bb4b-a93dc0f38819/icon-list-yellow.png?MOD=AJPERES");
          li{
          }
        }
      }
    }
  }
}
