#need{
	margin: 4% 0%;
	@media screen and (max-width: 640px) {
		margin: 0% 0%;
	}
	.relative{
		position: relative;
	}
	h2{
		color: #00448c;
		font-weight: 800;
		text-align: center;
		font-size: 34px;
		@media(max-width: 760px){
			color: #00448c;
			font-size: 24px;
		}

	}
	span{
		text-align: center;
		display: block;
		color: #595959;
	}
}

.cas-exito {
	padding: 40px 0;

	.btn {
		position: relative;
		padding: 10px 35px;
		font-weight: bold;
		white-space: normal;


		&-exito {
			background-color: #ffcb00;
			border-radius: 50px !important;
			height: auto;
			color: #595959;
			font-size: 15px;
			min-height: 40px;
			min-width: 160px;
			text-align: center;
			text-decoration: none;
			width: auto;
			max-width: 330px;
			cursor: pointer;
			clear: both;
			display: inline-block;
			text-transform: uppercase;
		}
}

	.cont-finc {
	    padding: 35px 0;
	    margin-bottom: 70px;
	    position: relative;

	    .fig_finc {
			background-repeat: no-repeat;
		    position: absolute;
		    display: block;
		    top: 0;
		    left: 0;
		    width: 100%;
		    max-width: 690px;
		    height: 100%;
		    margin: 0;
		    background-position: top center;
		    background-size: cover;

		    &2{
		    	left: 40%;
		    	background-repeat: no-repeat;
			    position: absolute;
			    display: block;
			    top: 0;
			    width: 100%;
			    max-width: 690px;
			    height: 100%;
			    margin: 0;
			    background-position: top center;
			    background-size: cover;
		    }
	    }

	    .cont_info_finc {
		    background-color: #fff;
		    padding: 50px 70px 50px 95px;
		    position: relative;
		    width: 50%;
		    left: 50%;

		    h2 {
				font-size: 20px;
			    color: #00448c;
			    text-align: center;
			    font-weight: bold;
		    }
		    p {
				font-size: 14px;
			    margin-bottom: 20px;
		    }

		    &2 {
	    		background-color: #fff;
			    left: -25%;
			    padding: 40px 70px 40px 80px;
			    margin: 0 auto;
			    position: relative;
		    	width: 50%;

		    	.btn {
		        position: relative;
		        padding: 10px 35px;
		        font-weight: bold;
		        white-space: normal;


		        &-exito {
		          background-color: #ffcb00;
		          border-radius: 50px !important;
		          height: auto;
		          color: #595959;
		          font-size: 15px;
		          min-height: 40px;
		          min-width: 160px;
		          text-align: center;
		          text-decoration: none;
		          width: auto;
		          max-width: 330px;
		          cursor: pointer;
		          clear: both;
		          display: inline-block;
		          text-transform: uppercase;
		        }
  			}
		    }

		    .btn {
		        position: relative;
		        padding: 10px 35px;
		        font-weight: bold;
		        white-space: normal;


		        &-exito {
		          background-color: #ffcb00;
		          border-radius: 50px !important;
		          height: auto;
		          color: #595959;
		          font-size: 15px;
		          min-height: 40px;
		          min-width: 160px;
		          text-align: center;
		          text-decoration: none;
		          width: auto;
		          max-width: 330px;
		          cursor: pointer;
		          clear: both;
		          display: inline-block;
		          text-transform: uppercase;
		        }
  			}
	    }
	}

}

//

@media(min-width:1200px){}
    @media(min-width:992px){}
    @media(min-width:768px){
    }
    @media(max-width:767px){
    }
    @media (max-width: 640px){

    }
    @media(max-width: 560px){

    	.cas-exito {
    		padding: 40px 0 0;
		}

    	.cont-finc {
    		padding: 0;

	    	.fig_finc, .fig_finc2 {
	    		display: block;
	    		width: 100%;
	    		height: 295px;
	    		position: relative;

	    		h2 {
	    			text-align: left;
	    		}
	    	}

	    	.cont_info_finc, .cont_info_finc2 {
			    padding: 25px 20px;
			    width: 100%;
			    left: 0;
			    margin: 0 auto;

	    	}
    	}

    	#not-sostenibles {
    		padding: 0 15px 20px;
		}
    }
