@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');
@import 'coleccionables/_banner.scss';
@import 'coleccionables/_lugares.scss';
@import 'coleccionables/_personajes.scss';
@import 'coleccionables/_redencion.scss';


.bnnr-copa .col-left h1,  {
  font-family: 'Nunito';
}
.btn-yellow{
  font-family: 'Nunito';
  font-weight: bold;
}
.btn-yellow{
  background-color: #fed030;
  border-radius: 50px;
  text-transform: uppercase;
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 20px auto;
  color: #666666;

  &:hover{
    color: #666666;
  }
}

.rotador{
    position: absolute;
    top: 40%;
    margin-left: -19px;

  &-r{
    left: 42%;

  }

  &-l{
    left: 11%;
  }
}


@media only screen and (max-width : 768px) {
  .bnnr-copa{
    .col-right-slid{
      min-height: 300px;
      background-color: #9ca5ae;
      background-image: none !important;
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../images/coleccionables/asset-banner.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
      }
    }
    .col-left{
      background-color: #FFFFFF;
      text-align: center;
      padding-bottom: 0;
      h1{
        text-align: center;
        font-size: 38px;
      }
    }
  }
  #lugares{
    padding: 0;
    span{
      &:last-child{
        display: block;
        margin: 15px 0;
      }
    }
    h2{
      margin: 15px 0;
      font-size: 20px;
    }
  }
  #personajes{
    padding-bottom: 0;
    .slick-dots{
      display: none;
    }
    .rotador{
      top: 23%;
      &-l{
        left: 6%;
      }
      &-r{
        left: 100%;
      }
    }
    .content-descripcion{
      p{
        text-align: center;
        margin-bottom: 0;
        &:last-child{
          font-weight: normal;
        }
      }
    }
  }
  #redencion{
    h2{
      text-align: center;
      margin: 0;
    }
    .formas{
      display: block;
      h3{
        padding: 15px 0;
        margin: 15px 0 30px 0;
        font-size: 24px;
        &:after{
          content: '';
          background-color: #fed030;
          position: absolute;
          width: calc(100% + 30px);
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
      .item{
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
        padding: 0 30px;
        .thumbnail{
          img{
            width: 40%;
            float: left;
            margin-right: 15px;
          }
          .caption{
            width: 100%;
            p{
              text-align: left;
              margin: 0;
              display: table-cell;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}



