@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');

// GENERALES

.slick-dotted.slick-slider{ margin-bottom: 0 !important;}

.slick-dots{
  bottom: 3% !important;
}

.slick-dots li button{
  background: #ee1b2a !important;
  color: #ee1b2a !important;
  border-radius: 50%;
}

.ocultar{ display: none !important;}

.btn-bnnr{
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;

  &-yellow{
    background: #fcce05;
    color:#ee1b2a;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px #e9aa1d;
    transition: all ease 0.3s;
    top: 0;
    position: relative;
    min-width: 180px;
    font-size: 20px;

    &:hover{
      background: #fcce05;
      color:#ee1b2a;
      text-decoration: none;
      box-shadow: 0 3px 0 #e9aa1d;
      top: 3px;
    }
  }
  &-red{
    color: #fff;
    background: #ee1b2a;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px  #800912;
    transition: all ease 0.3s;
    top: 0;
    position: absolute;
    min-width: 180px;
    font-size: 20px;

    &:hover{
      background: #ee1b2a;
      color:#fff;
      text-decoration: none;
      box-shadow: 0 3px 0 #800912;
      top: 3px;
    }
  }

}

// ************************************************
#g-slider{
  .slider-back{
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    min-height: 530px;
    position: relative;
    margin-bottom: 0;
    position: relative;
    padding: 6% 0;
    background-color: transparent;

    &-desktop{
      display: block;
    }
    &-mobile{
      display: none;
    }
  }

  .col-right{
    visibility: hidden;

    img {
      position: absolute;
    }
  }

  .col-left{
    position: relative;

    &-gray{
      padding-right: 5%;
      padding-top: 4%;

      h1{
        color:#a1a1a1;
        text-align: right;
        text-transform: initial;
        font-weight: 700;
        font-size: 40px;
      }
      p{
        color: #fff;
      }
      img{
        width: 100%;
        max-width: 510px;
      }
      span{
        color: #ffcc01;
        padding-top: 0;
        text-align: right;
        font-weight: 400;
        font-size: 35px;
      }

    }
    h1{
      font-family: 'Nunito';
      line-height: 1;
      margin-bottom: 0;

      span{
        font-weight: 700;
        font-size: 70px;
        padding: 0;
      }
    }
    p{

      font-family: 'nunito';
      font-size:22px;
      margin-bottom: 0;
      font-weight: 400;
      margin-bottom: 15px;
    }
    span{
      font-weight: 800;
      font-size: 28px;

      display: block;
    }
    .copy{
      color: #fff;
      font-weight: 400;
      font-family: 'nunito';
      font-size: 16px;
      padding-top: 0;
    }
    .btn-yellow{
      background-color: #ffcc01;
      color:#515151;
    }
    .bottom-right{
      position: absolute;
      right: 12%;
    }
  }

  @media (max-width: 560px) {

    .slider-back{
      padding: 25% 0px;

      &-desktop{display: none;}
      &-mobile{display: block;}

    }

    .col-left-gray {

      h1 {
        text-align: left;
        font-size: 30px;
      }
      span {
        text-align: left;
      }
      .bottom-right{
        position: relative;
        right: 0;
      }
    }
  }


}
