@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');
@import 'invesbot/_banner.scss';
@import 'invesbot/_beneficios.scss';
@import 'Invesbot/_demo.scss';
@import "invesbot/_pasos.scss";
@import "invesbot/_dudas.scss";
@import "invesbot/_consejos.scss";
@import "invesbot/_bloques.scss";
@import "invesbot/_fqa.scss";
@import "invesbot/_apps.scss";
@import "invesbot/modal.scss";


.btn{
  color: #fff;
  font-family: 'Nunito';
  font-size: 16px;
  text-transform: uppercase;

  &:hover, &:active, &:focus{
    color: #fff;
  }

  &-demo{
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.5s;

    &:hover{
      background-color:#fff;
      color: #666666;
      font-weight: 400;
    }

    &-blue{
      color:#07468b;
      border: 2px solid #07468b;
      transition: 0.5s;

      &:hover, &:active, &:focus{
        background:#07468b;
        color: #fff;
      }
    }
  }
  &-video{
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 51px;
      height: 51px;
      // background: url('/wps/wcm/connect/f3ead24f-eb7a-4d98-88b5-888aced4be14/icon-play.png?MOD=AJPERES');
      background: url('../images/invesbot/icon-play.png');
      position: absolute;
      right: -32px;
      top: 0px;
      background-size: 46px;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px){

      &-video{
        left: 0;
      }
  }
}
