#neg-sost {
  padding: 40px 0;
  }

  .tabQuestions {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    border-bottom: 0;
    display: flow-root;
    li {
      padding: 10px 0px 10px 25px;
      position: relative;
      width: 100%;

      a {
       padding-left: 10px;
       text-decoration: none !important;
       color: #292929;
       font-size: 16px;
       border: 0;

       &:hover,:focus {
         color: #555;
         background-color: #fff;
         border: 1px solid transparent;
         border-bottom-color: transparent;
         cursor: default;
        }
      }
    }
  }


  .menu-neg-sost {
    margin-top: 20px;
  }

  .contnt-neg-sost {
    position: relative;
    padding-left: 85px;

    h2 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 25px;
    }

    p {
      color: #808285;
      line-height: 1.38;
      font-size: 16px;
      margin-bottom: 25px;
    }

    h3 {
      color: #595959;
      font-size: 20px;
      margin-bottom: 25px;
    }

    ul{
      list-style: unset;
      margin-bottom: 50px;

      li {
        margin-bottom: 15px;
        color: #808285;
        line-height: 1.38;
        font-size: 16px;
      }
    }

    @media(max-width: 760px){padding-left: 0;}
  }

  .img-title-neg-sost {
    //background-image: url(../images/icon-ecology.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 0% 20px;
    border: none;

      @media(max-width: 760px){background-image: none;}
  }

  .share-sm {
    width: 100%;
    min-height: 83px;
    background-color: #eaeaea;
    padding: 30px;

    span {
      color: #808285;
      line-height: 1.38;
      font-size: 16px;
      font-weight: 600;

      ul {
        list-style: none;
        display: inline-block;
        position: relative;

        li {
          display: inline-block;
          text-align: center;
          width: 50px;

          a {
            display: block;
            margin: 0 10px;
            position: relative;
            width: 50px;

            &::before {
              content: "";
              display: block;
              width: 2px;
              background: #fff;
              height: 100%;
              position: absolute;
              left: 0px;
              top: 0;
            }
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        li:last-child {

          a::after {
            content: "";
            display: block;
            width: 2px;
            background: #fff;
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0;
          }
        }
      }
    }
    @media(max-width: 760px){
      text-align: center;
      display: block;
      line-height: 45px;
    }
  }
  //
  .target {
    margin-top: 30px;
    display: block;

    &-left {
      float: left;
      width: 20%;
      height: 85px;
      background-color: #ffcf01;
      display: flex;
      justify-content: center;
    }

    &-right{
      width: 80%;
      height: 85px;
      background-color: #f7f7f7;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        //font-family: Nunito;
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold;
        color: #595959;
        letter-spacing: -0.4px;
        display: block;
        padding: 0 10px;
      }
    }
  }

