@import 'preaprobados/_banner-pre.scss';
@import 'preaprobados/_description.scss';
@import 'preaprobados/_tablapreaprobado.scss';

.btn-pre {
  background-color: #ffd200;
  width: 300px;
  border-radius: 28px;
  height: 48px;
  color:#454648;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration:none;

  &:active, &:focus, &:hover {
    color:#454648;
  }

}
