@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

@import 'profile/_banner.scss';
@import 'profile/_sectores.scss';
@import 'profile/_relacionados.scss';



// Styles General

.btn{
  position: relative;
  padding: 8px 40px;
  max-width: 300px;
  font-family: 'nunito';
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #00448d;
  color: #00448d;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;

  &:hover, &:active, &:focus{
    background-color: #ffd200;
    color: #00448d;
    transition: 1s ease;
  }

  &-linkedin{
    margin-top: 10px;
    padding-right: 60px;

    &:after{
      content: '';
      display: block;
      width: 51px;
      height: 51px;
      // background: url('/wps/wcm/connect/f3ead24f-eb7a-4d98-88b5-888aced4be14/icon-play.png?MOD=AJPERES');
      background: url('../images/bib/linkedin-logo.png');
      position: absolute;
      right: -14px;
      top: 5px;
      background-size: 24px;
      background-repeat: no-repeat;
    }
  }



  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px){

      &-video{
        left: 0;
      }
  }
}

.imgcircle img{
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 2px #565656;
  max-width: 240px;
  max-height: 240px;
}
