@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import 'propuestavalor/_iconospropuesta.scss';
@import 'propuestavalor/_actualizate.scss';
@import 'propuestavalor/_productofinancieroct.scss';
@import 'propuestavalor/_pymesherramientas.scss';
@import 'propuestavalor/_pymes_beneficios_section.scss';
@import 'propuestavalor/_sectorespymes.scss';
@import 'propuestavalor/_bannerpymesfoo.scss';


.content-full-propuesta{
    width: 100%;
    height: 566px; 
}
.content-full-propuesta.tool{
    height: 547px;
   
}
.im-respon-pymes-ne{
    display: none;
}

/***Media Querys***/
@media (max-width: 560px){
     
    .content-full-propuesta{
        height: auto;
    }
    .content-full-propuesta.tool{
        height: auto;
       
    }
    .im-respon-pymes-ne
    {
        display: block;
    }
    .im-desktop-pymes-ne{
        display: none;
    }

    }
@media (max-width: 760px){
    
    .im-respon-pymes-ne
    {
        display: block;
    }
    .im-desktop-pymes-ne{
        display: none;
    }

  }