@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'mar/_marhead.scss';
@import 'mar/_mar-form.scss';
@import 'mar/_check.scss';
@import 'mar/_mar-slide.scss';

.html {
    margin: unset;
}
.modal-dialog{
    width: 800px;
}
.modal-content {
    border-radius: 10px;
    border-color: white;
.container{
    width: auto;
}
    div.modal-body {
        button.close{
            img{
                padding: 15px;
            }
            
        }
        padding: unset;
        >div {
            >div {
                >div.circ {
                    margin-top: 10px;
                    background-color: #a7a9ac;
                    width: 140px;
                    height: 140px;
                    object-fit: contain;
                    box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.11),
                        0 4px 13px 0 rgba(0, 0, 0, 0.12);
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h1 {
                    font-family: Nunito;
                    font-size: 35px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #808285;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: -0.3px;
                    color: #808285;
                }
                .body-scroll {
                    overflow-y: auto;
                    height: 400px;
                    margin-bottom: 20px;

                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #808285;
                    }

                    p:first-child {
                        font-weight: bold;
                    }

                }
                a{
                    border-radius: 3px;
                    background: #00448c;
                    color: #fff;
                    font-family: 'Nunito', sans-serif;
                    position: relative;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.3px;
                    display: block;
                    padding: 11px 0;
                    margin: 35px auto;
                    text-decoration: none;
                    &::before{
                        content: url('../images/propuesta-valor/chevron-right.svg');
                        position: absolute;
                        left:15px;
                        top: 14px;
                        transition: 1s ease;
                        }
                        &:hover::before{
                            transform: translate(3px);
                        }
                }
                .body-scroll::-webkit-scrollbar {
                    width: 4px;
                    background:#d1d3d4;
                    border-radius:5px;
                }
                .body-scroll::-webkit-scrollbar-thumb {
                    background: #808285;
                    border-radius:5px;
                }
                .body-scroll::-webkit-scrollbar-thumb:hover {
                    background: #535557;
                    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
                }
            }

            
        }
    }
}