#prog-sost {

  .entradilla-con-imagenes {
    position: relative;
    margin: 40px 0;
    padding: 0 2px;
    width: 100%;
    border:none;
    display: block;
    float: none;


    @media(min-width:1200px){}
    @media(min-width:992px){}
    @media(min-width:768px){
      margin: 40px auto;
    }
    @media(max-width:767px){
      margin: 40px auto;
    }
    @media (max-width: 640px){
      max-width: 350px;

    }
    @media(max-width: 560px){
			width: 100%;
      height: auto;
    }



    .grad-hr{
      background-color: transparent;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(63, 63, 63, 0.6));
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    }

    .imagen {
      padding-top: 60%;
      background-color: #fff;
      position: relative;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;


      @media screen and (max-width: 640px) {
        padding-top: 100%;
      }
      @media(max-width: 560px){
  			padding-top: 90%;
      }
    }

    .contenido {
      position: absolute;
      background:none;
      border-bottom: none;
      bottom: 30px;
      margin: auto;
      padding: 10px 25px;
      z-index: 3;

    h2 {
     color: #fdca2f;

     a {
      	font-size: 32px;
	    font-weight: 800;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 1;
	    letter-spacing: -0.6px;
	    color: #ffcf01;
	    text-decoration: none;
     }
   }
   p {
     font-size: 15px;
     color: #fff;
   }
   @media(max-width: 560px){

     bottom: 14px;

     h2{
       a{
         font-size: 26px;
       }
     }
     p{
       font-size: 12px;
     }
   }
   @media screen and (max-width: 640px) {
   }
   }
   // contenido
   .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal;


        &-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase;
        }
      }

   .btn-exito {
     @media(max-width: 560px){
      min-height: 30px;
     }
   }
  }

}
//***************

#not-sostenibles {


  padding: 50px 0;


    .result-articles {

      h2 {
        font-size: 32px;
        color: #595959;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .article-item {
        position: relative;
        padding: 0 15px;
      }

      .article_img {
        background-position: center;
        background-size: cover;
        min-height: 240px;
        width: 100%;
        position: relative;
      }


      .article_info1 {

        position: relative;
        background-color: #fff;
        border: 1px solid #d1d3d4;
        width: 100%;
        padding: 25px 25px 40px;

        h2 {
        font-size: 32px;
        color: #595959;
        font-weight: bold;
        margin: 0;
        margin-bottom: 30px;

        }

        .btn-nots-y {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60px;
        text-align: center;
        height: 60px;
        border: 1px solid #ffcf01;
        background-color: #ffcf01;

          a {
            position: absolute;
            text-decoration: none;
            font-size: 2em;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
          }
        }
      }
    }

    .btn-more-not {
    text-align: center;
    margin: 70px auto;
    }

    .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal;


        &-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase;
        }
      }

}

#prog-sostenibles {
    text-align: center;
    padding: 50px 0;

    h2 {
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: #00448d;
    }

    span {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: -0.3px;
      text-align: center;
      color: #595959;
      margin-bottom: 40px;
      display: block;
    }

    .article-item {
      position: relative;
      padding: 0 15px;

      .article_img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px 10px 0 0;
        position: relative;
        height: 240px;
        background-position: center;
        background-size: cover;
      }

      .article_info1 {
        height: auto;
        width: 100%;
        padding: 40px 25px;
        margin: 0px auto 50px;
        position: relative;
        border: 1px solid #d1d3d4;
        background-color: #fff;
      }

      h2 {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.5px;
        text-align: center;
        color: #808285;
      }

      p {
        font-size: 18px;
        font-weight: normal;
        color: #595959;
      }

      .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal;


        &-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase;
        }
      }
    }
}
