@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'simuladores-financieros/_s-financieroInfo.scss';
@import 'simuladores-financieros/_form-sfc-faninanciero.scss';
@import 'simuladores-financieros/_notificacionCreditoFinan.scss';
@import 'simuladores-financieros/_sfcsectionsfoo.scss';
@import 'simuladores-financieros/_modal-simulador.scss';



.cont-numbe-sfc{
    position: relative;
    width: 124px;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        font-size: 56px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.89;
        letter-spacing: -0.5px;
        font-family: 'Nunito', sans-serif;
        color: #292929;
            }
}

