#slider{

  .swiper-container,.swiper-contenedor {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .slide{
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    width: 100%;
    margin-top: 0;
    display: flex;
    align-items: center;

    @media(max-width: 560px){background-image: none !important;}



    @media screen and (max-width: 640px) {
      background-position: center center;
    }

    @media(max-width: 560px){

      &-soste-1{
        background-image: none;
      }

      &-soste-2{
        background-image: none;
      }

      &-soste-3{
        background-image: none;
      }

      &-soste-4{background-image: none;}

      &-bnnr-sst4 {background-image: none;}


    }

    .col-right{

      &-slidr {
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        width: 100%;
        display: none;

        @media(max-width: 560px){
          display: block;
        }

      }

      &-slid{

        visibility: hidden;

      @media(max-width: 560px){
        padding: 0;
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: 130px;
        min-height: 200px;
        visibility: visible;

      }

    }
    &-slid-2{
    @media(max-width: 560px){
      padding: 0;
      background-position: center 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%;
     // background-image: url('../images/banner-sos-3.png');

    }

  }

    &-sst3{
      @media(max-width: 560px){
        padding: 0;
        background-position: 70% 35%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
       // background-image: url('../images/banner-tranferencia.png');

        p{padding-right: 80px;}
      }

    }
    &-sst4{
      @media(max-width: 560px){
        padding: 0;
        background-position: 70% 35%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
       // background-image: url('../images/banner-sost-4.png');

        p{padding-right: 80px;}
      }
    }
    &-bnnr-sst4{
      @media(max-width: 560px){
        padding: 0;
        background-position: 70% 35%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
      //  background-image: url('../images/bg-banner-cp-1.png');

        p{padding-right: 80px;}
      }
    }
    }

    .info-slide{
      h1{
        color: #ffcb00;
        border: 0px;
        padding-bottom: 0px;
        font-size: 3em;
        font-weight: bold;
      }
      p{
        font-size: 1.5em;
        line-height: normal;
      }

      .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal;


        &-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase;
        }
      }
      @media(max-width: 560px){
        height: 383px;

        h1{
          color: #ffcb00;
          border: 0px;
          padding-bottom: 0px;
          font-size: 2em;
          font-weight: bold;
        }
        p{
          font-size: 1em;
          line-height: normal;
        }
      }

    // }
    // info-slide

    &-sst3{


      @media(max-width:767px){
        p{
          padding-right: 15%;
        }
      }
      @media screen and (max-width: 640px) {
        p{
          padding-right: 80px;
        }
      }
      @media(max-width: 560px){
        background-color: #f4f4f4;
        height: auto;
      }
    }
    &-sst4{
      @media(max-width: 560px){
        background-color: #f4f4f4;
        height: auto;
      }
      @media screen and (max-width: 640px) {
        p{
          padding-right: 80px;
        }
      }
      @media(max-width:767px){
        p{
          padding-right: 15%;
        }
      }
    }

    &-white{
      p {color: #fff;}

      @media(max-width: 560px){
        p {color: #fff !important;}

        background-color: #595959;
      }

    }
    &-blue{
      h1 {color: #00448d;}

      p{ font-size: 18px;
        line-height: 1.33;
    letter-spacing: -0.3px;}

    }
  }
  //end slide
}
.swiper-pagination-bullet{
  height: 13px;
  width: 13px;
  border: 1px solid #00448c;
  background: transparent;
  opacity: 1;
}
.centrar-banner{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: table;
    min-height: 450px;
    @media(max-width: 560px){
      padding: 0;

    }
  // }
  .centro-banner{
    display: table-cell;
    vertical-align: middle;

    @media(max-width: 560px){
      padding: 0;
    }
  }
}
.swiper-pagination-bullet-active{
  background: #00448c;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 25px;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 40px;
   border: 1px solid transparent;
  opacity: 1;
  border-radius: 4px;
  background-color: #808285;
}
.swiper-pagination-bullet-active {
    background: #ffd200;
}
}
//
#banner-sost {
  .bnnr{
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    width: 100%;
    @media screen and (max-width: 640px) {
      background-position: center center;
    }

    @media(max-width: 560px){
      background-image: none !important;

    }

    .centrar-banner{
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-height: 450px;
        display: table;

        @media(max-width: 560px){
          padding: 0;

        }

      .centro-banner{
        display: table-cell;
        vertical-align: middle;
      }
    }

    .col-right {

      &-bannr {
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        width: 100%;
        display: none;

        @media(max-width: 560px){
          display: block;
        }

      }
    }

    .info-slide{
      color: #fff;
      float: right;
      h4{
        color: #ffcb00;
        border: 0px;
        padding-bottom: 0px;
        font-size: 3em;
        font-weight: bold;
      }
      p{
        font-size: 1.5em;
        line-height: normal;
        color: #595959;
        @media screen and (max-width: 640px) {
          font-size: 1.4em;
          display: block;
        }
      }
    }

    .slid-white{
      p {color: #fff;}
    }
    .slid-blue{
      h4 {color: #00448d;}

      p{ font-size: 18px;
        line-height: 1.33;
    letter-spacing: -0.3px;}
    }
    .btn {
        position: relative;
        padding: 10px 35px;
        font-weight: bold;
        white-space: normal;


        &-exito {
          background-color: #ffcb00;
          border-radius: 50px !important;
          height: auto;
          color: #595959;
          font-size: 15px;
          min-height: 40px;
          min-width: 160px;
          text-align: center;
          text-decoration: none;
          width: auto;
          max-width: 330px;
          cursor: pointer;
          clear: both;
          display: inline-block;
          text-transform: uppercase;
        }
      }
  }
}
