#tabs{
  padding: 40px 0;

  .nav-title{
    li{
      width: 100%;
      max-width: 30%;
      text-align: center;

      a{
        border: none;
        color: #a2a2a2;
        font-family: 'Nunito';
        font-size: 28px;
      }

      &.active{

        a{
          color: #07468b;
          font-weight: bold;
          border-bottom: 3px solid #fdd630;
        }
      }
    }
  }

  .titulo {
    position: relative;

    img{
      position: absolute;
      left: 0;
      top: 0;
    }
    h2{
      padding: 15px 0;
      padding-left: 15%;
      color: #666666;
      font-size: 30px;
    }
  }
  .contenido-tab {
    p{
      font-size: 17px;
      font-family: 'Nunito';
      font-weight: bold;
      color: #666666;
    }
    ol{

      li{
        font-family: 'Nunito';
        font-size: 17px;

        ul {
          list-style: none;
          list-style-image: url("/wps/wcm/connect/c7df068b-f02e-4a5d-bb4b-a93dc0f38819/icon-list-yellow.png?MOD=AJPERES");
          li{

          }
        }
      }
    }
  }
  .tasas{
    padding: 30px 0;

    p{

    }
    .table-tasas{
      tr:nth-child(odd){
        background: #fff;
      }
      thead{
        tr{
          th{
            border-left: none;
            background-color: #e5e5e5;
            font-size: 22px;
            font-family: 'Nunito';
            font-weight: bold;
            color: #666666;

            padding-left: 22px;

            &:nth-child(1){
              border-radius: 10px 0 0 0;
            }
            &:nth-child(2){
              border-radius: 0 10px 0 0;
            }

          }
        }
      }
      tbody{
        tr{
          td{
            border-left: none;
            border-bottom: none;
            background-color: #f7f7f7;
            padding-left: 22px;
            font-weight: 300;
            font-family: 'Nunito';
            font-weight: 300;
            font-size: 22px;


            &:nth-child(1){
              border-radius: 0 0 0 10px;

            }
            &:nth-child(2){
              border-radius: 0 0 10px 0;
            }

          }
        }
      }
      tfoot{
        tr{
          td{
            border-top: none;
            border-bottom: none;
            text-align: center;
            font-weight: 300;
            font-family: 'Nunito';
            color: #666666;

          }
        }
      }
    }
  }
  .docs{
    padding: 30px 0;
    display: flow-root;

    p{
      font-family: 'Nunito';
      font-weight: 300;
      font-size: 17px;
    }
  }

  .panel-docs{
    .panel {
      background-color: transparent;
      color: #58595B;
      box-shadow: none;
      position: relative;

      .panel-heading {
        background-color: transparent;
        color: #58595B;
        padding: 12px 0;


        h3 {

          &::after{
            content: "";
            position: absolute;
            background-color: #d1d3d4;
            height: 1px;
            width: 90%;
            top: -3px;
            left: 5%;
            z-index: 2;
          }

          a{
            display: block;
            text-transform: uppercase;
            text-align: center;

            &::after{
              font-family: 'Glyphicons Halflings';
              content:"\2b";
              position: absolute;
              right: 6%;
            }

            &:hover, &:active, &:focus {
              color: #FFD200;
            }
          }
        }
      }
      .panel-body {
        padding-left: 4em;
        ul {
          list-style: none;
          li{
            background: none;
            &::before {
              content: "•";
               color: #FFD200;
                display: inline-block;
               width: 1em;
                margin-left: -1em;
                position: absolute;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {

    .nav-title{

      li {
        a{
          font-size: 20px;
          min-height: 85px;
        }
      }
    }
    .titulo{
      h2{
        font-size: 24px;
        padding-top: 0;
        padding-left: 20%;
        min-height: 68px;
      }
    }

  }

@media (max-width: 767px){

  .nav-title{

    li {
      a{
        font-size: 18px;
        min-height: 76px;
      }
    }
  }
  .titulo{
    h2{
      font-size: 28px;
      padding: 12px 0;
      padding-left: 15%;
    }
  }
}


  @media (max-width: 480px){

    .nav-title{
      li{
        max-width: 100%;
        a{
          font-size: 24px;
        }
      }
    }
    .titulo{
      img{
        max-width: 50px;
      }
      h2{
        font-size: 24px;
        padding: 0;
        padding-left: 24%;
      }
    }
  }
}
