$color__main: #444;
$color__active: grey;
$background__active: #eee;
$width__tabs-side: 350px;
$breakpoint: 760px;
@mixin tab-active() {
  // background: $color__main;
  // color: $background__active;
}

.tabbed-content {
  // background: #fff;
  // box-shadow: 1px 1px 6px #ccc;
  // max-width: 600px;
  padding: 1em;
  margin: 1em auto;
}
.tabs {
  display: none;
  ul {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    border-bottom: 0;
    display: flow-root;
    li {
      padding: 10px 0px 10px 25px;
      position: relative;
      width: 100%;
      a {
        padding-left: 10px;
       text-decoration: none !important;
       color: #292929;
       font-size: 16px;
       border: 0;

       &:hover,:focus {
         color: #555;
         background-color: #fff;
         border: 1px solid transparent;
         border-bottom-color: transparent;
         cursor: default;
       }

        &.active {
          font-weight: bold;
          border: none;
        }

        &.active:before {
        content: '';
        background-color: #ffca00;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -2px;
        transition: all .3s;
        }
      }

      }

  }
}
.item {
  margin-bottom: 2px;
  &::before {
    cursor: pointer;
    font-weight: bold;
    background: $background__active;
    padding: .5em;
    display: block;
  }
  &.active {
    &::before {
      @include tab-active();
    }
    .item-content {
      padding: 1em;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
@media all and (min-width: $breakpoint ) {
  .item {
    &.active {
      .item-content {
        padding-top: 0;
      }
    }
  }
  .tabs-side {
    .tabs {
      li {
        margin-bottom: 2px;
      }
    }
  }
}

.tabbed-content {
  .tabs {
    display: none;
  }
  .item {
    min-height: 2em;
    position: relative;

    .icon-left {
      position: absolute;
      top: 20px;
      font-size: 25px;
      display: none;

      @media(max-width: 760px){display: block;}
    }
    .icon-right {
      position: absolute;
      top: 20px;
      font-size: 25px;
      right: 15px;
      display: none;

      @media(max-width: 760px){display: block;}
    }

    &::before {
      content: attr(data-title);
      font-size: 18px;
      border-top: 1px solid #808285;
      border-bottom: 1px solid #808285;
      border-radius: 0.5px;
      background: #fff;
      padding: 1em;
      padding-left: 30px;
    }

    .item-content {
      opacity: 0;
      visibility: hidden;
      height: 0;
      display: none;
    }
    &.active {
      .item-content {
        opacity: 1;
        visibility: visible;
        height:auto;
        display: block;
      }
    }
  }
}


@media all and (min-width: $breakpoint) {
  .tabbed-content {
    .tabs {
      display: block;
      li {
        display: inline-block;
        a {
          display: block;
        }
      }
    }
    .item {
      min-height: 0;
      &::before {
        display: none;
      }
    }
    &.tabs-side {
      .tabs {
        width: $width__tabs-side;
        float: left;
        li {
          display: block;
        }
      }
      .item {
        margin-left: $width__tabs-side;
      }
    }
  }
}
