.coberturaintereses p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: black;
  margin-left: 190px;
  margin-bottom: 60px; }

@media screen and (max-width: 600px) {
  .coberturaintereses p {
    margin-left: 0px; } }

.coberturaintereses > div {
  padding: 45px; }
  .coberturaintereses > div > div > div {
    margin-bottom: 22px; }
    .coberturaintereses > div > div > div img {
      width: 112px;
      height: 112px;
      border-radius: 50%; }
    .coberturaintereses > div > div > div h1 {
      width: 34px;
      height: 50px;
      font-family: 'Nunito', sans-serif;
      font-size: 56px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.89;
      letter-spacing: -0.5px;
      text-align: center;
      color: var(--black);
      position: absolute;
      top: 10px;
      left: 54px; }
    .coberturaintereses > div > div > div h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 39px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      color: var(--black);
      margin: unset; }
    .coberturaintereses > div > div > div span {
      width: 564px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: #808285; }
    .coberturaintereses > div > div > div input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 300px;
      border: none;
      font-family: Nunito;
      border-bottom: 1px solid #757575;
      color: #808285; }
    .coberturaintereses > div > div > div h3 {
      font-family: Nunito;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: -0.5px;
      color: #454648;
      margin-bottom: 49px; }
  .coberturaintereses > div > div > div:last-child {
    width: 370px;
    height: 345px;
    border-radius: 5px;
    background-color: #e6e7e8; }
    .coberturaintereses > div > div > div:last-child h5 {
      font-family: Nunito;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: center;
      color: #00448d;
      margin-top: 22px;
      padding-top: 10px; }
    .coberturaintereses > div > div > div:last-child span {
      width: 315px;
      height: 151px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: -0.2px;
      color: #808285; }
