.foo-sfc-one {
  margin-top: 45px; }
  .foo-sfc-one > div > div {
    background-color: #595959;
    height: 58px;
    position: relative; }
    .foo-sfc-one > div > div > div {
      position: relative; }
      .foo-sfc-one > div > div > div p {
        font-family: Nunito;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        font-family: 'Nunito', sans-serif;
        color: #ffd200;
        margin: 0;
        padding: 19px 10px; }
      .foo-sfc-one > div > div > div ul {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 0;
        height: 58px;
        float: right; }
        .foo-sfc-one > div > div > div ul li {
          border-left: 1px solid #fff;
          position: relative;
          width: 58px; }
          .foo-sfc-one > div > div > div ul li a {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            display: block; }
    .foo-sfc-one > div > div > div.sfc-cont-icons {
      position: absolute;
      right: 0;
      padding: 0; }

.foo-sfc-two-links h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #595959; }

.foo-sfc-two-links h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #808285;
  font-family: 'Nunito', sans-serif; }

.foo-sfc-two-links > div > div > div {
  position: relative; }
  .foo-sfc-two-links > div > div > div img.redes {
    width: 27px;
    height: 27px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 17px; }
  .foo-sfc-two-links > div > div > div p {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    margin: 0;
    width: 80%; }

.foo-sfc-three-steps {
  margin: 45px 0; }
  .foo-sfc-three-steps > div div.padd-sfc {
    padding: 50px 12px;
    height: 100%; }
  .foo-sfc-three-steps > div > div {
    background-color: #ffd200;
    -webkit-box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1); }
    .foo-sfc-three-steps > div > div > div {
      vertical-align: middle;
      color: #595959;
      position: relative;
      height: 100%; }
      .foo-sfc-three-steps > div > div > div h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        color: #595959;
        margin: 0; }
      .foo-sfc-three-steps > div > div > div span {
        font-family: 'Nunito', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.75;
        letter-spacing: -0.8px;
        margin-bottom: 18px;
        display: block; }
      .foo-sfc-three-steps > div > div > div p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px; }
      .foo-sfc-three-steps > div > div > div img {
        display: block;
        margin-bottom: 10px; }
      .foo-sfc-three-steps > div > div > div > div > div {
        height: 200px;
        border-right: 1px solid #fff; }
      .foo-sfc-three-steps > div > div > div > div > div:last-child {
        border: none; }
      .foo-sfc-three-steps > div > div > div a {
        width: 150px;
        height: 43px;
        border-radius: 3px;
        background: #00448c;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        display: block;
        padding: 11px 0;
        margin: 10px 0; }
        .foo-sfc-three-steps > div > div > div a::before {
          content: url("../images/propuesta-valor/chevron-right.svg");
          position: absolute;
          left: 15px;
          top: 14px;
          -webkit-transition: 1s ease;
          transition: 1s ease; }
        .foo-sfc-three-steps > div > div > div a:hover::before {
          -webkit-transform: translate(3px);
                  transform: translate(3px); }
