.coberturaintereses {

    p {

        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.3px;
        text-align: center;
        color: black;
        margin-left: 190px;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 600px) {
        p {

            margin-left: 0px;
        }
    }

    >div {
        padding: 45px;

        >div {

            >div {
                margin-bottom: 22px;
                
                img {
                    width: 112px;
                    height: 112px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;

                }

                h1 {
                    width: 34px;
                    height: 50px;
                    font-family: 'Nunito', sans-serif;
                    font-size: 56px;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.89;
                    letter-spacing: -0.5px;
                    text-align: center;
                    color: var(--black);
                    position: absolute;
                    top: 10px;
                    left: 54px;
                }

                h2 {
                    
                    font-family: 'Nunito', sans-serif;
                    font-size: 39px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: -0.6px;
                    color: var(--black);
                    margin: unset;
                    
                    
                }

                span {
                    width: 564px;

                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: -0.3px;
                    color: #808285;
                }

                input {
                    font-size: 18px;
                    padding: 10px 10px 10px 5px;
                    display: block;
                    width: 300px;
                    border: none;
                    font-family: Nunito;
                    border-bottom: 1px solid #757575;
                    color: #808285;
                }


                h3 {
                    
                    font-family: Nunito;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.25;
                    letter-spacing: -0.5px;
                    color: #454648;
                    margin-bottom: 49px;
                    
                }


            }

            >div:last-child {
                width: 370px;
                height: 345px;
                border-radius: 5px;
                background-color: #e6e7e8;

                h5 {
                    font-family: Nunito;
                    font-size: 40px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #00448d;
                    margin-top: 22px;
                    padding-top: 10px;

                }

                span {
                    width: 315px;
                    height: 151px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.67;
                    letter-spacing: -0.2px;
                    color: #808285;

                }
            }

        }

    }
}