.sfc-notification{

    > div{
        width: 100%;
        background-color: #e6e7e8;
        
        padding: 80px 0;
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
        > div{
            h1{
                width: 532px;
                height: 30px;
                font-family: 'Nunito', sans-serif;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: -0.5px;
                color:#454648;
            }
            ul{
                list-style-type: disc !important;
                padding: 50px;
                li{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.29;
                    letter-spacing: -0.2px;
                    color: #292929;
                    padding: 14px 0;

                }
            }
            
            div.ima-icon-sfc{
                width: 136px;
                height: 136px;
                border-radius: 50%;
                background-color: #fff;
                position: relative;
                margin-top: 130px;
                > img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: 0 auto;
                    transform: translate(-50%, -50%);
                   -webkit-transform: translate(-50%, -50%);
                }
            }


        }
           
        
        
        
    }
}