
.actualizate{

    .item-actual{
        background-image: url('../images/propuesta-valor/fondo-sectionx2.png');
        background-size: 50% 90%;
        background-repeat: no-repeat;
        background-position: right;
        display: inline-block;
        vertical-align: middle;
        padding: 64px 0;
        
        div{
            img{
                width: 80%;
                height: auto;
                padding-top: 40px;
            }
            h3{
                font-family: 'Nunito', sans-serif;
                font-size: 36px;
                color: #292929;
                position: relative;
                margin-bottom: 10px;
                
                &::before{
                    content: " ";
                    position: absolute;
                    left: 0;
                    bottom: -8px;
                    width: 25%;
                    height: 3px;
                    background-color: #E6E7E8;
                }
            }
            p{
                color: #808285;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5;
                letter-spacing: -0.3px;
            }
            a{
                display: block;
                width: 196px;
                height: 43px;
                color: #fff;
                background-color: #00448c;
                text-align:center;
                font-size: 16px;
                padding: 8px;
                font-family: 'Nunito', sans-serif;
                letter-spacing: -0.3px;
                font-weight: bold;
                position: relative;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;

                &::before{
                content: url('../images/propuesta-valor/chevron-right.svg');
                position: absolute;
                left:15px;
                top: 10px;
                transition: 1s ease;
                }
                &:hover::before{
                    transform: translate(3px);
                }
            }

        }
    }

}
    /***Media Querys***/
    @media (max-width: 1200px){
        .item-actual{
            background-position: right;
            background-size: 48%;

            > div{

                > div{

                    div{
                        padding: 15px 12px;
                    }
                }
            }
        }
    }
    @media (max-width: 760px){

     .actualizate{

        .item-actual{
            background-position:  bottom right;
            background-size: 90%;
            padding: 0;
            height: auto;
            img{
                margin-top: 25px;
                width: 80% !important;
            }
        }
           
    
    }
}
    @media (max-width: 560px){
    
    .actualizate{
            .item-actual{
        background-position:  bottom right;
        padding: 0;
        background-size: 90%;
        img{
            margin-top: 0px;
            width: 65% !important;
        }
        > div{

            > div{

                > div{

                    margin: 15px 0;
                    padding: 25px 10px;
                }
            }

        }
        
    }
   }
 }
