.pymes-banner-footer{
    width: 100%;
    height: 436px;
    position: relative;
    > div{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top:0;
        > div{
            width: 80%;
            margin: 0 auto;
            height: 100%;
            padding: 175px 0 0 35px;
            p{
                color: #fff;
                font-family: 'Nunito', sans-serif;
                font-size: 72px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.94;
                letter-spacing: -0.6px;
                text-align: center;
            }
            a{
                width: 221px;
                height: 43px;
                color:#00448d;;
                background-color: #ffd200;
                text-align:center;
                font-size: 16px;
                padding: 8px;
                font-family: 'Nunito', sans-serif;
                letter-spacing: -0.3px;
                font-weight: bold;
                position: relative;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                display: block;
                margin: 40px auto;

                &::before{
                content: url('../images/propuesta-valor/chevron-right-blue.svg');
                position: absolute;
                left:15px;
                top: 10px;
                transition: 1s ease;
                }
                &:hover::before{
                    transform: translate(3px);
                }
            }
        }

          
    }
      /***Media Querys***/
      @media (max-width: 900px){
        height: auto ;
        position: relative;
      img{
          max-width: 100%;
          height: auto;
      }
       div{
          width: 100%;
          > div {
              width: 100%;
              padding: 400px 15px 35px 15px;
              position: absolute;
              bottom: 10%;
               
              p{
                  font-size: 36px;
               }
               a{
                   margin: 30px auto;
               }
          }
          
          
      }
      .im-respon-pymes-ne
      {
          display: block;
          width: 100%;
          object-fit: cover;
      }
      .im-desktop-pymes-ne{
          display: none;
         
      }

   }
      @media (max-width: 560px){
          height: auto;
        img{
            width: 100%;
        }
         div{
            width: 100%;
            > div {
                width: 100%;
                padding: 156px 15px 35px 15px; 
                p{
                    font-size: 36px;
                 }
                 a{
                     margin: 30px auto;
                 }
            }
            
            
        }

     }

}