.iconPropuestaValor{
    padding: 50px 0;
    .row > div{
       
        div{
            width: 124px;
            height: 124px;
            background-color: #f7f7f7;
            border-radius: 50%;
            position: relative;
            margin:0 auto;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0 auto;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
        a{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: -0.3px;
            text-align: center;
            color: #292929;
            display: block;
            margin:15px 0;
            
            
        }
    }
    
    /***Media Querys***/
@media (max-width: 767px){


}
@media (max-width: 560px){
     
      padding: 10px 0;

    }
   
}