.py-productos-financieros{
    
    width: 100%;
    margin: 40px 0;
    .im-respon-pymes-ne
    {
        display: none;
    }
    h3{
        color: #292929;
        font-size: 36px;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        line-height: 1;
        letter-spacing: -0.5px;
    }

    > div{
        width: 100%;
        height: 394px;
        background-color: #e6e7e8;
        margin: 150px 0 0 0;
        position: relative;

        > div{

           position: relative;
           top: -100px;

          >  div{       
                
            > div{
                padding: 0;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: .5s ease-out;
                    
                }
                &:hover img{
                    transform: scale(1.075);
                }

               > div{
                   
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 background-color: rgba(0, 0, 0, 0.5);
                 top: 0;
                 color: #ffffff;
                   > div{
                    width: 80%;
                    position: absolute;
                    bottom: 25px;
                    left: 25px;
                    font-family: 'Nunito', sans-serif;
                    span{
                        font-size: 40px;
                        font-weight: bold;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: -0.6px;
                        display: block;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                    }
                    
                   }
                }
            }

               
            }

            
        }
      
        a{
            display: block;
            width: 281px;
            height: 43px;
            color: #fff;
            background-color: #00448c;
            text-align:center;
            font-size: 16px;
            padding: 8px;
            font-family: 'Nunito', sans-serif;
            letter-spacing: -0.3px;
            font-weight: bold;
            position: relative;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
            margin: 35px auto;
            text-decoration: none;

            &::before{
            content: url('../images/propuesta-valor/chevron-right.svg');
            position: absolute;
            left:15px;
            top: 10px;
            transition: 1s ease;
            }
            &:hover::before{
                transform: translate(3px);
            }
        }
    
    }

   /***Media Querys***/
   @media (max-width: 560px){
     
    h3{
        font-size: 35px;
    }
   

    > div{
        height: auto;
        margin: 35px 0;

        > div{
            top: 0;
        }
    }

    }
    @media (max-width: 760px){
        > div{
            height: auto;
            > div{

                > div {

                    > div{
                        .im-desktop-pymes-ne{
                            display: block;
                        }
                    }
                }
            }
        }

    }


}