.pymes-herramientas{

    .item-actual{
        background-image: url('../images/propuesta-valor/fondo-tools.png');
        background-size: 55% 90%;
        background-repeat: no-repeat;
        background-position: left;
        display: inline-block;
        vertical-align: middle;
        padding: 64px 0;
        div{
            img{
                width: 70%;
                padding-top: 25px;
                margin-left: 35px;
            }
            h3{
                font-family: 'Nunito', sans-serif;
                font-size: 36px;
                color: #292929;
                position: relative;
                margin-bottom: 10px;
                
                &::before{
                    content: " ";
                    position: absolute;
                    left: 0;
                    bottom: -8px;
                    width: 25%;
                    height: 3px;
                    background-color: #E6E7E8;
                }
            }
            p{
                color: #808285;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5;
                letter-spacing: -0.3px;
            }
            a{
                display: block;
                width: 205px;
                height: 43px;
                color: #fff;
                background-color: #00448c;
                text-align:center;
                font-size: 16px;
                padding: 8px;
                font-family: 'Nunito', sans-serif;
                letter-spacing: -0.3px;
                font-weight: bold;
                position: relative;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;

                &::before{
                content: url('../images/propuesta-valor/chevron-right.svg');
                position: absolute;
                left:15px;
                top: 10px;
                transition: 1s ease;
                }
                &:hover::before{
                    transform: translate(3px);
                }
            }
            img{
                float: right;
            }

        }
   

    }
}
           /***Media Querys***/

            @media (max-width: 760px){
                .pymes-herramientas{
                    height: auto;
                    .item-actual{
                        background-position:  top left;
                        background-size: 90%;
                        padding: 0;
                        height: auto !important;
                        img{
                            margin-top: 10px;
                            width: 60% !important;
                        }
                        }
                        > div{
                
                            > div{
                
                                > div{
                                    
                                    > div{
                                        margin: 35px 0;
                                    }
                                   
                                }
                            }
                
                        }
                }
                
                    
                }

                @media (max-width: 560px){
                    .pymes-herramientas{
                        
                        .item-actual{
                            background-size: contain;
                            background-position: top left;
                            padding: 0;
                            img{
                                width: 65%;
                            }
                        }
                        > div{

                            >div{

                                >div{

                                    >div{
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                     
                      
                
                    }