.pymes-beneficios{
    width: 100%;
    height: 613px;
    position: relative;
    
    > div{

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0,0,0,0.5);
        > div{
           position: absolute;
           bottom: 6%;
           width: 100%;
           margin: 0 auto;
           > div {
               width: 70%;
               margin: 0 auto;
               h2{
                color: #fff;
                font-family: 'Nunito', sans-serif;
                font-size: 72px;
                font-weight: 800;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: 0.94;
                 letter-spacing: -0.6px;
                 text-align: center;
                 margin: 15px 0;
               }
               p{
                   text-align: center;
                   color:#fff;
                   font-size: 16px;
                   font-family: 'Open Sans', sans-serif;
                   margin-bottom: 55px;
               }

               span{
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 25px;;
                    a.pyme-propuesta-play{
                        position: relative;
                        transition: .5s ease;
                    &::before{
                        content: url('../images/propuesta-valor/play-circle.svg');
                         position: absolute;
                    }
                    &:hover{
                        transform: translate(0, 15px);
                    }

               }
               }
               
               
               > a{
                   width: 221px;
                   height: 43px;
                   color:#00448d;;
                   background-color: #ffd200;
                   text-align:center;
                   font-size: 16px;
                   padding: 8px;
                   font-family: 'Nunito';
                   letter-spacing: -0.3px;
                   font-weight: bold;
                   position: relative;
                   border-radius: 3px;
                   text-decoration: none;
                   text-align: center;
                   display: block;
                   margin: 0 auto;
   
                   &::before{
                   content: url('../images/propuesta-valor/chevron-right-blue.svg');
                   position: absolute;
                   left:15px;
                   top: 10px;
                   transition: 1s ease;
                   }
                   &:hover::before{
                       transform: translate(3px);
                   }
               }
           }
           
        }
    }
}
.modal {
    text-align: center;
    padding: 0!important;

    &::before{
        content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;

    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
      }
      .pyme-modal-propuesta{
        padding: 0;
        background: transparent;
        vertical-align: middle;
        button{
            position: absolute;
            right: -35px;
            top: -25px;
        }
    
    }
  }
  
  
  



        /***Media Querys***/
        @media (max-width: 960px){
        
            .pymes-beneficios{
                    height: auto;
                        img{
                            width: 100%;
                        }

                        > div{

                            > div {

                                > div{
                                    width: 100%;
                                    p{
                                        margin: 20px 0;
                                        padding: 9px;
                                    }
                                }

                                
                            }
                        }
            }
    
            
        
    
        }
        
        @media (max-width: 560px){

            .pymes-beneficios{
                              height: auto;
                img{
                    width: 100%;
                }
                
                > div{

                    > div {

                        > div{
                            width: 100%;
                            p{
                                margin: 20px 0;
                                padding: 9px;
                            }
                            h2{
                                font-size: 57px;
                                font-weight: 600;
                            }
                        }

                        
                    }
                }
            }
     
  
                
            
        
            }