.sectores-pymes-propuesta{
    padding: 60px 0;
    h3{
        width: 372px;
        height: 36px;
        font-family: 'Nunito', sans-serif;
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.5px;
        text-align: center;
        margin: 25px auto;
    }
    > div{
        a{
            display: block;
            width: 196px;
            height: 43px;
            color: #fff;
            background-color: #00448c;
            text-align:center;
            font-size: 16px;
            padding: 8px;
            font-family: 'Nunito', sans-serif;
            letter-spacing: -0.3px;
            font-weight: bold;
            position: relative;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
            margin: 15px auto;

            &::before{
            content: url('../images/propuesta-valor/chevron-right.svg');
            position: absolute;
            left:15px;
            top: 10px;
            transition: 1s ease;
            }
            &:hover::before{
                transform: translate(3px);
            }
    }

        > div{
          > div{
              padding: 0 20px;
              p{
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: -0.3px;
                color: #808285;
                width: 273px;
                font-family: 'Open Sans', sans-serif;
              }
              ul{
                  padding: 0 20px;
                li{
                    color:#808285;
                    border-bottom: 1px solid #E6E7E8;
                    h4{
                    font-family: 'Nunito', sans-serif;
                    font-size: 28px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.07;
                    letter-spacing: -0.6px;               
                    border:none;
                    }
                    p{
                        width: 100%;
                        font-family: 'Open Sans', sans-serif;
                    }
                    
                    
              }
          }
         
          
         h4{
            font-family: 'Nunito', sans-serif;
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: -0.6px;               
            border:none;
            position: relative;
            color:#808285;
            width:273px;
            margin: 12px 0;
           
          
         } 
         h4.pyme-propues-result{
            margin: 35px 0;
            &::before{
                content: " ";
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 25%;
                height: 3px;
                background-color: #E6E7E8;
            }
        }
         
        
        }

       

        
    }
    }
   /***Media Querys***/
@media (max-width: 560px){
     
    h3{
        width: 100%;
    }

    }
    @media (max-width: 760px){
     
       p{
           width: 100% !important;
       }
      
    
        }
}
