<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sostenibilidad</title>

  <!-- Styles Generales -->
  <link rel="stylesheet" href="css/bancolombia.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/vars.css">
  <link rel="stylesheet" href="css/main-menu.css">
  <link rel="stylesheet" href="css/component.css">
  <link rel="stylesheet" href="css/menu-top.css">
  <link rel="stylesheet" href="css/breadcrumbs.css">
  <link rel="stylesheet" href="css/footer.css">

  <link rel="stylesheet" href="css/not-sostenibles.css">

  <!-- Styles Modulos -->
  <link rel="stylesheet" href="css/slide.css">
  <link rel="stylesheet" href="css/featured.css">
  <link rel="stylesheet" href="css/need.css">
  <link rel="stylesheet" href="css/icon.css">
  <link rel="stylesheet" href="css/extra.css">
  <link rel="stylesheet" href="css/services.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,800" rel="stylesheet">
</head>

<body>



  <section id="not-sostenibles">
    <div class="container">
      <div class="row">
        <h2>Notas sostenibles
  </h2>
      </div>
      <div class="row">
        <div class="result-articles">

   <article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Tres caminos hacia la sostenibilidad</h2>
                   <p dir="ltr">De acuerdo con Clinton Moloney, líder asesor de Sostenibilidad de PwC en EE.UU., esta última no debería ser un simple complemento manejado por una pequeña área dentro de las organizaciones, sino por con contrario, un eje transversal en las estrategias de todo negocio. Por eso, lo invitamos a ver esta entrevista en la que Moloney aborda tres posibles caminos hacia la tan anhelada sostenibilidad</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/tres-caminos-hacia-sosteniblidad">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Energía eléctrica: 2018, el año de las renovables</h2>
                   <p dir="ltr">No hay título que mejor resuma el desarrollo regulatorio que en materia de energía renovable está experimentando Colombia</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/energia-electrica-2018">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">La revolución industrial basada en plástico, una historia de progreso y desafíos</h2>
                   <p dir="ltr">¿Se imaginaría el mundo sin plásticos? Es posible que se sienta tentado a responder de manera afirmativa.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/la-revolucion-industrial-basada-en-plastico">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Cómo hacer a su compañía sustentable</h2>
                   <p dir="ltr">Freya Williams, CEO Futerra North America afirma que el primer paso para lograrlo es establecer la base de la compañía, conocer las políticas ambientales, las buenas políticas sociales y saber que la base está conformada por estos elementos.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/como-hacer-a-tu-compania-sustentable">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Hacer de la sustentabilidad su propósito</h2>
                   <p dir="ltr">El propósito no es algo que los líderes les piden a sus empleadores, al contrario, es algo que se logra en equipo donde una gran parte del trabajo es hacer que los mismos miembros de la compañía se vuelvan agentes de cambio.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/hacer-de-la-sustentabilidad-su-proposito">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Bonos Verdes: el crecimiento exponencial en el mercado de capitales</h2>
                   <p dir="ltr">Los Bonos Verdes son una iniciativa de inversión que cada vez toma más relevancia entre aquellos inversionistas que buscan mostrar su compromiso social y ambiental en sus portafolios de inversión.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/bonos-verdes">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Bioenergía: una oportunidad de desarrollo agropecuario, social y ambiental</h2>
                   <p dir="ltr">Son de gran valor para el país aquellas actividades económicas que ofrecen múltiples beneficios en dimensiones tan importantes como son: el empleo, el desarrollo rural, el crecimiento económico, la seguridad energética y la calidad del medio ambiente.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/bioenergia-oportunidad-desarrollo-agropecuario-social-ambiental">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">La importancia de lograr una “sostenimovilidad” en Colombia</h2>
                   <p dir="ltr">El fenómeno de urbanización que se vive a nivel mundial, entendido como la concentración de la población y sus actividades económicas en los grandes centros urbanos, exige el desarrollo de sistemas de transporte complejos y adaptados a las necesidades sociales, que incluyen entre otras cosas, garantizar los desplazamientos de forma económicamente eficiente y segura, pero además, sometidos a una racionalidad ambiental que asegure la sostenibilidad en el largo plazo.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/importancia-de-lograr-sostenimovilidad-en-colombia">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Los beneficios que representan las empresas sostenibles</h2>
                   <p dir="ltr">El Índice Global de Sostenibilidad Dow Jones abarca un universo cercano a 2.550 empresas que cotizan en bolsas internacionales, pertenecientes a 59 sectores de industrias diferentes y provenientes de 28 países. De estas, solo el 10% de las más destacadas es incluido en el Índice, con un techo de inversión por sector del 15% de la capitalización bursátil.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/beneficios-que-representan-las-empresas-sostenibles">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Bonos verdes: una excelente forma de inversión que cuida el medioambiente</h2>
                   <p dir="ltr">Estos bonos movilizan cada año miles de millones de dólares, pues cada vez son más los inversionistas que se sienten atraídos tanto por instrumentos de inversión con buena rentabilidad, así como por el impacto medioambiental que generan.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/bonos-verdes-excelente-forma-inversion-cuida-medioambiente">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Construcción Sostenible: menores costos, mayor rentabilidad y un medioambiente más saludable</h2>
                   <p dir="ltr">El tamaño actual de las sociedades y la cantidad limitada de recursos, han conducido a que el desarrollo de las diferentes actividades humanas requiera de innovación en el aprovechamiento de las materias primas y el entorno, con el fin de generar crecimiento sostenible, amigable con el medioambiente y garantizando la satisfacción de las necesidades humanas.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/construccion-sostenible-menores-costos-mayor-rentabilidad-medioambiente-mas-saludable">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Manejo de residuos sólidos, un reto para la sostenibilidad y la logística verde</h2>
                   <p dir="ltr">El crecimiento acelerado de las ciudades ha llevado a que estas sean densamente más pobladas, lo que aumenta la cantidad de residuos por km2. Según el Banco Mundial, en el mundo diariamente se generan en promedio 0.64 kg de residuos por persona, en Colombia es de 0.95kg, lo que motiva a abordar este tema debido a las implicaciones que puede ocasionar un mal manejo de los residuos.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/manejo-residuos-solidos-reto-sostenibilidad-logistica-verde">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Inversión Responsable: el camino para correcta toma de decisiones de inversión</h2>
                   <p dir="ltr">La Inversión Responsable es un concepto que hoy por hoy toma gran relevancia en el mundo, gracias a las necesidades de que se incorporen en las inversiones criterios ambientales, sociales y de Gobierno Corporativo, con el fin de lograr mejores decisiones y minimizar los riesgos al momento de tomarlas.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/inversion-responsable-toma-de-decisiones">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Financiamiento verde: una mirada a la sostenibilidad de los negocios</h2>
                   <p dir="ltr">La actividad humana y el desarrollo industrial han venido contribuyendo al deterioro del medio ambiente y han profundizado los efectos del cambio climático. De allí que se requiera una solución conjunta y progresiva a nivel internacional para reducir las emisiones de gases de efecto invernadero (GEI). En particular, se prevé que el cambio climático afectará más gravemente a los países en desarrollo.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/financiamiento-verde-sostenibilidad-de-negocios">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Huella Verde en flotas de vehículos ambientalmente eficientes</h2>
                   <p dir="ltr">Los gases del efecto invernadero se encuentran presentes en la atmósfera terrestre, aunque su concentración es baja, son claves para dar explicación al aumento de la temperatura del aire, próximo al suelo y al fenómeno del calentamiento global. Entre los gases más importantes están el vapor de agua, el dióxido de carbono, el metano, el óxido nitroso y el ozono.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/huella-verde-en-vehiculos-ambientalmente-eficientes">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Sol, viento y agua</h2>
                   <p dir="ltr">Según los expertos, las energías de fuentes renovables representan una gran oportunidad para los inversores en América latina.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/sol-viento-y-agua">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Carbono neutralidad: más allá de la filantropía</h2>
                   <p dir="ltr">Los impuestos verdes se basan en la premisa de que el que contamina paga. Lo cierto, desde el punto de vista empresarial, es que no necesariamente paga el impuesto, ya que las compañías<strong> pueden compensar y generar beneficios económicos adicionales.</strong></p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/carbono-neutralidad-mas-alla-de-la-filantropia">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">El poder del sol: clave para la sostenibilidad y la innovación empresarial</h2>
                   <p dir="ltr">El cambio climático es una realidad donde las personas, las empresas y la sociedad se encuentran ante un cambio de paradigma que los obliga a hacer uso racional y consciente de los recursos disponibles. En este contexto y a partir de los avances tecnológicos de los últimos años, es cada vez más frecuente que los hogares y las industrias destinen recursos y ajusten sus prácticas y políticas de producción y consumo hacia energías de fuentes renovables.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/poder-del-sol-clave-sostenibilidad-innovacion-empresarial">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Hacia una economía circular</h2>
                   <p dir="ltr">Danone, la empresa francesa de alimentos y agua, tiene una larga trayectoria de conciencia ambiental. El compromiso del grupo para abordar los problemas derivados de la escasez de recursos, junto con la volatilidad de los precios de los insumos, no es nuevo. Hace más de 40 años, en Marsella, Antoine Riboud, su fundador, pronunció un discurso en el que señaló: “Tenemos un solo planeta, es nuestra responsabilidad cuidarlo, y como empresa encararemos una misión doble: económica y social al mismo tiempo”.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/hacia-economia-circular">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Inversión Responsable: el camino para correcta toma de decisiones de inversión</h2>
                   <p dir="ltr">La Inversión Responsable es un concepto que hoy por hoy toma gran relevancia en el mundo, gracias a las necesidades de que se incorporen en las inversiones criterios ambientales, sociales y de Gobierno Corporativo, con el fin de lograr mejores decisiones y minimizar los riesgos al momento de tomarlas.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="https://www.grupobancolombia.com/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/inversion-responsable-toma-de-decisiones/">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Tres caminos hacia la sostenibilidad</h2>
                   <p dir="ltr">De acuerdo con Clinton Moloney, líder asesor de Sostenibilidad de PwC en EE.UU., esta última no debería ser un simple complemento manejado por una pequeña área dentro de las organizaciones, sino por con contrario, un eje transversal en las estrategias de todo negocio.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/tres-caminos-hacia-sosteniblidad">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Energía eléctrica: 2018, el año de las renovables</h2>
                   <p dir="ltr">No hay título que mejor resuma el desarrollo regulatorio que en materia de energía renovable está experimentando Colombia. Aunque persisten barreras y no es corto el tiempo que se requiere para materializar las bondades de las renovables, las siguientes líneas están dedicadas a exaltar las recientes propuestas regulatorias que buscan alcanzar la integración moderada a la red de energía de dos figuras que han tomado relevancia en materia de renovables, me refiero a la autogeneración y a la generación distribuida.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/energia-electrica-2018">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">La revolución industrial basada en plástico, una historia de progreso y desafíos</h2>
                   <p dir="ltr">¿Se imaginaría el mundo sin plásticos? Es posible que se sienta tentado a responder de manera afirmativa. Sin embargo, es bueno recordar que los polímeros, comúnmente denominados plásticos, están presentes en muchos artículos de uso cotidiano, incluso sin notarlo, basta con repasar una rutina matutina para confirmarlo.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/la-revolucion-industrial-basada-en-plastico">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Cómo hacer a su compañía sustentable</h2>
                   <p dir="ltr">Freya Williams, CEO Futerra North America afirma que el primer paso para lograrlo es establecer la base de la compañía, conocer las políticas ambientales, las buenas políticas sociales y saber que la base está conformada por estos elementos. Se trata de crear metas para fortalecer la industria desde la sostenibilidad. ¡Lo invitamos a escuchar la entrevista completa!</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/como-hacer-a-tu-compania-sustentable">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article><article class="article-item col-md-4 col-sm-4 col-xs-12 ng-scope" repeat-end="onEnd()" ng-repeat="article in ctrl.filteredArticles | filter: ctrl.paginateObjects">
                <div class="article_img bg-cover bg-not-repeat bg-center-all" style="background-image:url('https://picsum.photos/200/300/?random')"></div>
                <div class="article_info">
                    <h2 class="extrabold cont_info_title">Hacer de la sustentabilidad su propósito</h2>
                   <p dir="ltr">El propósito no es algo que los líderes les piden a sus empleadores, al contrario, es algo que se logra en equipo donde una gran parte del trabajo es hacer que los mismos miembros de la compañía se vuelvan agentes de cambio.</p>

                    <span class="btn-nots">
                      <a class="extrabold" href="/wps/portal/empresas/capital-inteligente/tendencias/sostenibilidad/hacer-de-la-sustentabilidad-su-proposito">+</a>
                    </span>
                </div>
                <!-- /Items -->
            </article>


  </div>

        <div class="col-md-12 btn-more-not">

        </div>
      </div>
    </div>
  </section>



  <section id="footer">
    <div class="container">
      <div class="row" id="footer-icon">
        <div class="col-md-3 col-sm-3 col-xs-3"><a href=""><img src="images/chat2.png" alt="">Chatea con nosotros</a></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><a href=""><img src="images/phone.png" alt="">Llámanos</a></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><a href=""><img src="images/phone2.png" alt="">Déjanos llamarte</a></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><a href=""><img src="images/mark.png" alt="">Visítanos</a></div>
      </div>
    </div>
  </section>
  <!-- script Generales -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr-custom.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/mlmenu.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/mobile-detect.min.js"></script>
  <script src="js/ofi.min.js"></script>

  <!-- script Modulos -->
  <script src="js/slide-home.js"></script>
  <script src="js/featured-home.js"></script>
  <script src="js/slide-need.js"></script>
  <script src="js/slide-icon.js"></script>

</body>

</html>
