.lan-inversion {
    font-family: 'Nunito', sans-serif;
}
.bt-ct-ahorra{
    width: 100%;
    background: #E6E7E8;
    font-family: 'Nunito', sans-serif;
    padding: 45px 0;

    > div{
        
        p{ 
            opacity: 0.8;
            color: #292929;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -0.6px;
            line-height: 30px;
            text-align: center;
        }
        a{
            background: #FFD102;
            display: block;	
            width: 248px;	
            border-radius: 10000px;
            box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 
                0 1px 3px 0 rgba(0,0,0,0.1);      
             color: #292929;
             font-family: 'Nunito', sans-serif;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -0.38px;
            line-height: 24px;
             text-align: center;
             padding: 12px 0;
             margin: 0 auto;
             &:hover{
                 text-decoration: none;
             }
        }
    }
}