.tabslan-steps{
    margin: 45px 0;
    > div{

        > ul{

            li{
                width: 20%;

                a{
                    color: #292929;
                    font-family: "Open Sans";	
                    font-size: 16px;	
                    font-weight: 600;	
                    letter-spacing: -0.3px;	
                    line-height: 24px;	
                    text-align: center;
                    position: relative;

                   
                }
           
            }
            li.active > a{
                position: relative;
                border:none;
                
                &:before{
                    content:"";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background: #FFD200;
                }
            }
        }

        > div.tabs-inversvirct{

            > div{
                margin: 35px 0;
                p{
                    color: #292929;	
                    font-family: "Open Sans";	
                    font-size: 16px;	
                    letter-spacing: -0.3px;	
                    line-height: 24px;
                }
            }

            > div.active{

                opacity: 1;
                position: relative;

               
            }

        }
    }
    
    //Responsive
    @media ( max-width: 992px ) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.tab-content--lan {
    padding-top: 40px;
    li, p {
        font-size: 16px;
    }
    ul{
        padding-left: 15px;
    }
    li {
        color: #292929;	
            font-family: "Open Sans";	
            font-size: 16px;	
            letter-spacing: -0.3px;	
            line-height: 32px;
            position: relative;
            padding: 4px 14px;
            &::before{

                content: " ";
                position: absolute;
                left: -6px;
                top: 16px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FFD102;
            }
    }
}

// ======== rates-table ==========
.rates-table {
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fafafa;
    box-shadow:0 2px 5px rgba(black, .2);
    th, td {
        font-size: 18px;
    }
    tr:last-of-type {
        td {
            padding-bottom: 20px;
        }
    }
    th {
        padding: 25px 40px 12px 40px;
        font-weight: bold;
        text-align: center;
    }
    td {
        padding: 10px 30px;
    }
}

// ======== c-download-rules ==========
.c-download-rules {
    display: block;
    position: relative; 
    width: 100%;
    max-width: 470px;
    margin:30px auto 0 auto;
    font-size: 16px;
    border: none;
    padding: 30px 55px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(black, .1);
    border-radius: 5px;
    p {
        margin-bottom: 0;
    }
    img {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
    }
}
// ======== tab-pane ==========
.nav-tabs-desktop {
    @media ( max-width:991px ) {
        display: none;
    }
}
.nav-tabs-mobile {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    ul {
        display: none;
        position: absolute;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 5px rgba(black, .2);
    }
    li {
        float: none;
        display: block;
        font-size: 18px;
        border-bottom: 1px solid rgba(black, .2);
        &.slick-active {
            > a {
                border:none!important;
            }
        }
    }
    a {
        margin-right: 0!important;
    }

    &_txt {
        display: block;
        position: relative;
        font-size: 18px;
        padding: 10px 15px;
        border:1px solid rgba(black, .2);
        cursor: pointer;
        &:before {
            content:"";
            position: absolute;
            top: 44%;
            right: 15px;
            width: 15px;
            height: 15px;
            border-left: 3px solid rgba(black, .5);
            border-bottom: 3px solid rgba(black, .5);
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    //Responsive
    @media ( min-width:992px ) {
        display: none;
    }
}
.tab-pane {
    &_title {
        position: relative;
        padding-left: 60px;
        margin-bottom: 30px;
        img {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
        }
    }

    //Responsive
    @media ( min-width: 992px ) {
        padding-left: 60px;
        padding-right: 60px;
    }
}

// ======== sect-interest ==========
.sect-interest {
    padding-bottom: 60px;
    h2 {
        margin-bottom: 45px;
        font-weight: 800;
        font-size: 32px;
        color: #07468B;
    }
}
.card-interest {
    position: relative;
    height: 300px;
    background-position: center;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(black, .4);
    }
    &_cont {
        position: absolute;
        width: 90%;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:white; 
        h3 {
            margin-top: 0;
            margin-bottom: 5px;
            font-weight: 800;
            font-size: 30px;
        }
        p {
            font-size: 20px;
            line-height: 1.4;
        }
    }
}

