
.sect-banner-land{
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    
    .slick-invct{
        margin-bottom: 0!important;
        > div{
            > div{
                > div{
                    position: relative;
                    background-position: center;
                    background-size: cover;
                    min-height: 450px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .slick-slide {
        padding-top: 30px;
    }
    //Responisve 
    @media ( min-width:992px ) {
        .slick-invct{
            > div{
                overflow: visible;
            }
        }
    }
}
.slick-invct {
    h3 {
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        font-size: 35px;
        font-weight: 300;
        line-height: 1.2;
    }
    ul{
        margin: 25px 0 15px 0;                     
    }
    li{
        position: relative;
        padding-left: 14px;
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: normal;
        margin-bottom: 5px;
    
        &:before{

            content: " ";
            position: absolute;
            left: -6px;
            top: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FFD102;
        }
    }  
    &_terms{            
        height: 24px;
        width: 445px;
        opacity: 0.55;
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: -0.49px;
        line-height: 1;
        margin: 35px 0;
    }
    a{
        background: #FFD102;
        display: block;
        width: 248px;	
        border-radius: 10000px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 
            0 1px 3px 0 rgba(0,0,0,0.1);      
         color: #292929;
         font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.38px;
        line-height: 1;
         text-align: center;
         padding: 12px;

         &:hover{
             text-decoration: none;
         }     
    }
    .slick-dots {
        bottom: 50px;
        margin: 0;
        li {
            width: 45px;
            height: 10px;
            background-color: #D8D8D8; 
            border-radius: 30px;
            &:before {
                content: normal;
            }
        }
        .slick-active {
            background-color: #FFD102;
        }
    }
    //Responsive
    @media ( min-width: 992px ) {
        h3 {
            font-size: 58px;
        }
        li {
            font-size: 21px;
        }
        a {
            font-size: 20px;
        }
    }
}
.ct-banner-im{
    position: relative;
    min-height: 450px;
    img{
        position: absolute;
        top: -50px;
        transition: .5s ease-in;
        &:hover{
            transform: translate(0, 4px);
        }
    }
    p{
        position: absolute;                         
        right: 0;
        top: 9%;
        width: 154px;	
        color: #292929;	
        font-size: 19px;		
        letter-spacing: -0.6px;
        line-height: 18px;
    }

    //Responsive
    @media ( max-width: 991px ) {
        p {
            right: inherit;
            left: 330px;
        }
    }
    @media ( max-width: 767px ) {
        display: none;
    }
    @media ( min-width:1200px ) {
        p {
            right: 17%;
        }
    }
}