.lan-stepsct{
    margin: 45px 0;
    h2{
        color: #808285;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;    
        margin-bottom: 50px;
    }
}
.stepctnum-cont {
    margin-bottom: 30px;
    img {
        width: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.stepctnum {
    position: relative;
    padding-left: 60px; 
    margin-bottom: 30px;
    span{
        position: absolute;
        top: 50%;
        left: 0;
        color: #FFD200;	
        font-size: 45px;	
        font-weight: 800;	
        transform: translateY(-50%);
    }
    p {
        font-size: 18px;
    }
}