  .selecty {
      display: block;
      position: relative;
      padding-left: 35px;
      float: right;

      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /* Hide the browser's default checkbox */
  .selecty input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #ccc;
      border-radius: 30%;
  }

  /* On mouse-over, add a grey background color */
  .selecty:hover input~.checkmark {
      background-color: grey;
  }

  /* When the checkbox is checked, add a blue background */
  .selecty input:checked~.checkmark {
      background-color: yellow;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the checkmark when checked */
  .selecty input:checked~.checkmark:after {
      display: block;

  }

  /* Style the checkmark/indicator */
  .selecty .checkmark:after {
      left: 9px;

      top: 5px;
      width: 7px;
      height: 12px;
      border: solid black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }