.marhead{
    width: 100%;
    height: 100%;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1), 0 30px 80px 0 rgba(0, 0, 0, 0.1);
    background-color: #e0e3e5;
    
    div{ //container
        
        div.row{ //row
            padding-top: 78px;
            margin-left: unset;
            margin-right: unset;
            
            div{//col
              img{
               
                height: 283px;
                object-fit: contain;
              }  
              h1{
                font-family: Nunito;
                font-size: 40px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: -0.6px;
                color: black;
              }
              p{
                
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                text-align: justify;
                line-height: 1.5;
                letter-spacing: -0.3px;
                color: #808285;
              }
               a.blue{
                
             
                border-radius: 3px;
                background: #00448c;
                color: #fff;
                font-family: 'Nunito', sans-serif;
                position: relative;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.3px;
                display: block;
                padding: 11px 0;
                margin: 35px auto;
                text-decoration: none;
                &::before{
                    content: url('../images/propuesta-valor/chevron-right.svg');
                    position: absolute;
                    left:15px;
                    top: 14px;
                    transition: 1s ease;
                    }
                    &:hover::before{
                        transform: translate(3px);
                    }
            }
            a.yellow{
                
             
                border-radius: 3px;
                background: #ffd200;
                color: #00448d;
                font-family: 'Nunito', sans-serif;
                position: relative;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.3px;
                display: block;
                padding: 11px 0;
                margin: 35px auto;
                text-decoration: none;
                &::before{
                    content: url('../images/propuesta-valor/chevron-right.svg');
                    position: absolute;
                    color: #00448d;
                    left:15px;
                    top: 14px;
                    transition: 1s ease;
                    }
                    &:hover::before{
                        transform: translate(3px);
                    }
            }
            }
        }
    }
}