.mar-form {
    margin-bottom: 40px;
    >div {

        //selecty
        >div {

            //row
            >div {

                //col
                h1 {
                    font-family: 'Nunito', sans-serif;
                    font-size: 40px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: -0.6px;
                    text-align: center;
                }

                input {
                    font-size: 14px;
                    padding: 10px 10px 10px 5px;
                    display: block;
                    width: 100%;
                    border: none;
                    font-family: 'Nunito', sans-serif;
                    border-bottom: 1px solid #757575;
                    color: #808285;
                    border-radius: 0;
                    //padding: 0;
                    margin-bottom: 42px;
                }

                select {
                    font-size: 14px;
                    padding: 10px 10px 10px 5px;
                    display: block;
                    width: 100%;
                    border: none;
                    font-family: 'Nunito', sans-serif;
                    border-bottom: 1px solid #757575;
                    color: #808285;
                    border-radius: 0;
                    //padding: 0;
                    margin-bottom: 42px;
                }

                span {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.29;
                    letter-spacing: -0.2px;
                    color: #808285;
                }

                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: -0.3px;
                    text-align: center;
                }

                a.term{
                    color:#292929;
                    font-family: 'Open Sans', sans-serif;                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: -0.3px;
                }
                a.blue{
                
             
                    border-radius: 3px;
                    background: #00448c;
                    color: #fff;
                    font-family: 'Nunito', sans-serif;
                    position: relative;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.3px;
                    display: block;
                    padding: 11px 0;
                    //margin: 35px auto;
                    text-decoration: none;
                    &::before{
                        content: url('../images/propuesta-valor/chevron-right.svg');
                        position: absolute;
                        left:15px;
                        top: 14px;
                        transition: 1s ease;
                        }
                        &:hover::before{
                            transform: translate(3px);
                        }
                }


                    
                  
                

            }
        }
    }
}