.mar-slide {
    background-image: url(/images/mar/banner-comofunciona-mar@2x.png);
    background-position: center center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
    height: 735px;

    div {
        
        div {
            h1::first-line {
                font-family: Nunito;
                font-size: 38px;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.94;
                letter-spacing: -0.6px;
                font-weight: bold;

            }
            

            h1 {
                font-family: Nunito;
                font-size: 70px;
                font-style: normal;
                font-stretch: normal;
                font-weight: bold;
                line-height: 0.94;
                letter-spacing: -0.6px;
                margin-top: 120px;
            }

            img {
                //width: 381px;
                height: 225px;
                margin-top: 74px;
            }
            >div.col-md-12:last-child {
                background-color: white;
                height: 347px;
                margin-top: 70px;
                border-radius: 5px;
                box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16);
.mar-slick{
    margin-bottom: 30px;
}
.slick-list{
    position: relative;
    overflow: unset;
    display: block;
    margin: 0;
    padding: 0;
    background-color: white;
}

                .item-slick {
                    .slick-icon {
                       
                        width: 70px;
                        border-radius: 50%;
                        height: 70px;
                        object-fit: contain;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                        border: solid 2.8px white;
                        background-color: #e6e7e8;
                        top: -30px;
                        left: 20px;
                        position: relative;

                        h1 {
                            top: -105px;
                            position: relative;
                            font-family: 'Nunito', sans-serif;
                            font-size: 25px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: -0.6px;
                            text-align: center;
                        }
                        
                    }
                    h2{
                        font-family: 'Nunito', sans-serif;
                        font-size: 20px;
                        color:black;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: -0.4px;
                    }

                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                    }
                }

                }
            
        }
        }
        

}