#lugares{
  text-align: center;
  padding: 30px;

  h1{
    font-family: 'Nunito';
    font-weight: bold;
    color: #58595b;
    margin:0;
  }
  h2{
    font-family: 'Nunito';
    font-weight: 600;
    color: #58595b;
    margin:0;
  }
  span{
    font-family: 'Nunito';
    font-weight: 400;
    color: #58595b;
    margin:0;
  }
}
