#personajes{
  padding: 30px;
  background-color: #757e86;

  .Spersonajes {
    .content-personajes{
      min-height: 300px;
      &::before{
        content: "";
        position: absolute;
        height: 300px;
        width: 300px;
        background-image: url('../images/coleccionables/circulo-personaje.png');
        background-position: top;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: -1;
      }
      img{
        width: 100%;
        max-width: 160px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: 3;
      }
    }
    .content-descripcion{
      padding: 4% 0;
      position: relative;


      p {
        color: #fff;
        font-family: 'Nunito';
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}
