#redencion{
  padding: 40px 0;
  padding-bottom: 0;

  h2{
    font-family: 'Nunito';
    font-weight: bold;
    color: #58595b;
    font-size: 40px;
  }


  .formas {
  display:flex;
  justify-content:space-around;
  align_items:center;
  flex-wrap:wrap;
  flex-direction: colum;
  padding-top: 0;

  h3{
    font-family: 'Nunito';
    font-weight: bold;
    color: #58595b;
    font-size: 34px;
    padding-bottom: 25px;
  }

    .item {
    width: 28%;
    height: auto;
    font-weight:700;
    font-size:35px;
    color:#000;
    background-color:#fff;
    text-align:center;
    line-height:73px;

      .thumbnail {
        border: none;
      }
      .caption{
        .btn-yellow {
          background: #444;
          color: white;
          font-family: 'Nunito';
          cursor: pointer;
          font-weight: bold;
        }
        h3{
          font-size: 16px;
          letter-spacing: -0.3px;
          color:#808285;
          margin-bottom: 0;
          font-family: 'Nunito';
        }
        p{
          font-size: 16px;
          letter-spacing: -0.3px;
          color:#808285;
          font-family: 'Nunito';
          font-weight: 600;
        }
      }
    }
  }
}
