#app{
  padding: 30px 0;

  h2 {
    font-size: 43px;
    color: #666666;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 200;
    margin-bottom: 40px;
  }

  .container-opcion{
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align_items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: colum;
    flex-direction: colum;

    .item{
      width: 25%;
      height: auto;
      min-height: auto;
      text-align: center;

      .opcion{
        position: relative;
        min-height: 327px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .caption{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);

          h2 {

            font-family: 'Nunito';
            font-weight: 700;

            a{color: #fff;
              font-size: 37px;

              &:hover, &:active, &:focus{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .container-opcion{
      .item{
        width: 50%;

        .opcion{

          .caption{
              a{
                font-size: 36px;
              }
            }
          }
        }
      }



  }
  @media (max-width: 767px){

    h2{
      font-size: 36px;
    }
    .container-opcion{
      .item{
        width: 50%;

        .opcion{

          .caption{
            a {
              font-size: 25px;
            }
            }
          }
        }
      }
    }
  @media (max-width: 480px){

    h2{
        font-size: 28px;

    }

    .container-opcion{
      .item{
        width: 50%;

        .opcion{
          min-height: 220px;

          .caption{
            h2{
              a{
                font-size: 20px;
              }

            }
          }
        }


      }
    }
  }
}
