#beneficios {
  padding: 40px 0;
  background-color: #58595b;

  h2{
    color: #fed030;
    font-family: 'Nunito';
    font-size: 52px;
    font-weight: bold;
  }
  h3{
    font-family: 'Nunito';
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }
  p{
    font-family: 'Nunito';
    color: #fff;
    font-size: 18px;
    font-weight: 200px;
  }
  @media (max-width: 480px){

    h2{
      font-size: 40px;
    }
    h3{
      font-size: 22px;
    }
    p{
      font-size: 14px;
    }
  }
}
