#tabla{
  padding: 40px 0;

  .table {

    tr:nth-child(odd){
      background: #fff;
    }

    thead{

      tr {
        th {
          border-left: none;

          p{
            padding-top: 15px;
            font-size: 34px;
            color: #666666;
            font-family: 'Nunito';
            line-height: 36px;
            font-weight: bold;
            span{

              font-weight: 200;
            }
          }
        }
      }


    }
    tbody{
      tr{

        &:nth-child(3){

          th{
            border-bottom: none;
          }
          td{
            border-bottom: none;
          }
        }

        &:nth-child(4){

          th{
            border-top: none;
            border-bottom: none;
          }
          td{
            border-top: none;
            border-bottom: none;
          }
        }

        th{
          font-size: 18px;
          text-transform: uppercase;


        }
        td{
          border-left: none;
          padding: 10px 44px 0;

          p{
            font-size: 20px;
            font-weight:100;
            font-family: 'Nunito';
            span{
              font-weight: bold;
            }
          }

        }
      }
    }
    .btn-yellow{
      background-color: #fed030;
      border-radius: 50px;
      text-transform: uppercase;
      width: 100%;
      max-width: 180px;

      &:hover{
        color: #666666;
      }
    }
  }

  @media (max-width: 1024px){

    .table {
      display: block;
      overflow-x: scroll;

      thead{

        tr {
          th {
            p{
                  font-size: 28px;
            }
          }
        }
      }
      tbody{
        tr{
          th{
            p{
              font-size: 14px;
            }
          }
          td{
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

}
